<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="answer-choices-cont">
        <table wicket:id="answerChoicesContainer">
            <tr wicket:id="answerChoices">
                <td><span wicket:id="index">1</span>.</td>
                <td><span wicket:id="answerLabel">42</span></td>
                <td>
                    <a wicket:id="moveUp" href="#">
                        <img border="0" src="images/up.png" alt="Move up" title="Move up"/>
                    </a>
                </td>
                <td>
                    <a wicket:id="moveDown" href="#">
                        <img border="0" src="images/down.png" alt="Move down" title="Move down"/>
                    </a>
                </td>
                <td>
                    <a wicket:id="delete" href="#">
                        <img border="0" src="images/delete.png" alt="Delete" title="Delete"/>
                    </a>
                </td>
            </tr>
        </table>
        Add choice: <input wicket:id="newChoice" type="text"/>
    </div>
</wicket:panel>
</body>
</html>