<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table class="question-cont">
        <tr>
            <td align="right"> Question:</td>
            <td colspan="2"><input wicket:id="questionText" type="text"/></td>
        </tr>
        <tr>
            <td align="right">Answer:</td>
            <td>
                <select wicket:id="questionType">
                    <li>None</li>
                </select>
            </td>
            <td class="answer-options">
                <span wicket:id="answerOptions">[answer options panel]</span>
            </td>
        </tr>
        <tr wicket:id="constraints">
            <td>&nbsp;</td>
            <td colspan="2"  class="constraints"> The answer
                <span wicket:id="requiredContainer">
                    <input wicket:id="required" type="checkbox"/> is required
                </span>
                <span wicket:id="openEndedContainer">
                    <input wicket:id="openEnded" type="checkbox"/> is open ended
                </span>
                <span wicket:id="multipleContainer">
                    <input wicket:id="multiple" type="checkbox"/> has alternates
                </span>
            </td>
        </tr>
        <tr wicket:id="answeredContainer">
            <td>
                &nbsp;
            </td>
            <td>
                This question <span wicket:id="answered">has been answered</span>.
             </td>
        </tr>
        <tr wicket:id="retirementContainer">
            <td>&nbsp;</td>
            <td>
                <input wicket:id="activateIt" type="button" value="Activate question"/>
                <input wicket:id="deactivateIt" type="button" value="Deactivate question"/>
                <input wicket:id="deleteIt" type="button" value="Delete question"/>
                <br/> <br/>
            </td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>