<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    Questionnaire named
    <input wicket:id="name" type="text" class="phrase"/>
    for RFIs about
    <select wicket:id="about">
        <option>This plan</option>
    </select>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td valign="top">
                            <table wicket:id="questionsContainer">
                               <tr wicket:id="questions">
                                   <td>
                                       <span wicket:id="index">1</span>.
                                   </td>
                                  <td>
                                      <a wicket:id="select" href="#">
                                          <span wicket:id="questionLabel">Please list the...</span>
                                      </a>
                                  </td>
                                   <td>
                                       <a wicket:id="moveUp" href="#">
                                           <img border="0" src="images/arrow_up_blue.png" alt="Move up" title="Move up"/>
                                       </a>
                                   </td>
                                   <td>
                                       <a wicket:id="moveDown" href="#">
                                           <img border="0" src="images/arrow_down_blue.png" alt="Move down" title="Move down"/>
                                       </a>
                                   </td>
                               </tr>
                            </table>
                         </td>
                    </tr>
                    <tr>
                        <td>
                            <input wicket:id="add" type="button" value="Add new question"/>
                        </td>
                    </tr>
                 </table>
            </td>
            <td>
                <span wicket:id="question">[question panel]</span>
            </td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>