<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="name-about">
        Name of Questionnaire:&nbsp;
        <input wicket:id="name" type="text" class="phrase"/>
        &nbsp;&nbsp;&nbsp;|&nbsp; Questionnaire for surveys about:&nbsp;
        <select wicket:id="about">
            <option>This model</option>
        </select>
    </div>
    <table class="questions-cont" wicket:id="questionsContainer" width="100%">
        <tr wicket:id="questions">
            <td width="10%" class="number">
                <span wicket:id="index">1</span>.
            </td>
            <td width="70%">
                <a wicket:id="select" href="#">
                    <span wicket:id="questionLabel">Please list the...</span>
                </a>
            </td>
            <td width="10%">
                <a wicket:id="moveUp" href="#">
                    <img border="0" src="images/up.png" alt="Move up" title="Move up"/>
                </a>
            </td>
            <td width="10%">
                <a wicket:id="moveDown" href="#">
                    <img border="0" src="images/down.png" alt="Move down" title="Move down"/>
                </a>
            </td>
        </tr>
    </table>
    <span wicket:id="question">[question panel]</span>
    <input class="add-new-question" wicket:id="add" type="button" value="Add new question"/>
</wicket:panel>
</body>
</html>