<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="filters">
        Show
         surveys about
        <select wicket:id="aboutChoice">
            <option>All</option>
            <option>The plan</option>
            <option>Events</option>
            <option>Organizations</option>
            <option>Roles</option>
        </select>
        <input wicket:id="launched" type="checkbox"/> only if ongoing
        <input wicket:id="answered" type="checkbox"/> and with responses
    </div>
    <div wicket:id="rfiSurveys">[RFI survey table]</div>
    <div wicket:id="rfiSurveyContainer">
		  <h4 wicket:id="rfiSurveyLabel">Survey about event "IED explosion: What risks and opportunities are created by
            the event?"</h4>
        <span wicket:id="rfiSurvey">[RFI survey panel]</span>
        <div class="survey-action-cont">
            <input wicket:id="activate" type="button" value="Activate survey"/>
            <a class="button" wicket:id="preview" href="#">Preview</a>
            <span class="can-forward">
	            <input wicket:id="canForward" type="checkbox"/>
	            Can be forwarded
            </span>
        </div>
    </div>
</wicket:panel>
</body>
</html>