* {
    margin: 0;
    padding: 0;
}

/* ----------------- Layout */
html {
    margin: 5px;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
}
div#everything {
    position: relative;
    margin: 0 auto;
    min-height: 30em;
    min-width: 50em;
    max-width: 102em;
}

div.title {
    position: relative;
    width: 100%;
}

div#tab-content {
    position: relative;
}

div.tab-left {
    vertical-align: top;
    padding: 0 5px 5px 0;
    width: 20em;
}

div.tab-left p {
    margin-top: 5px;
    text-align: right;
}

div.tab-right {
    left: 20.5em;
    right: 0;
    top: 0;
    position: absolute;
    vertical-align: top;
}

div.tab-right > div.tab-panel {
    max-height: 25em;
}

div.content-list {
    overflow: auto;
}

div#filter {
    margin: 0 0 5px 0;
}

div#links {
    margin: 0 0 5px 0;
}

div#links ul {
    margin: 0 5px;
    list-style: none;

}

div#links ul li {
    display: inline;
    margin: 5px 0 0 0;
    line-height: 30px;
}

.tall {
    height: 100%;
}

.wide {
    width: 100%;
}

/* ----------------- Fonts */
body, input {
    font-size: 1em;
    font-family: "Times New Roman", times, serif;
}

h1, h2, h3, h4, .tab-row, table thead {
    font-family: arial, helvetica, sans-serif;
}

input[ type="submit" ], input[ type="button" ] , input[ type="reset" ] {
    font-size: small;
    font-weight: normal;
    border: 1px outset gray;
}

/* ----------------- Links */
a, #todos input[ type='submit'], #todos input[ type='button' ] {
    color: #000BAD;
    background-color: transparent;
    text-decoration: none !important;
    cursor: pointer;
}
#todos input[ type='submit'], #todos input[ type='button' ] {
    color: #000BAD !important;
}

div.content-buttons,#todos input[ type='submit'], #todos input[ type='button' ],
div#signout, div.content-pager {
    text-align: right;
    font-size: small;
    font-weight: normal;
    border: none;
 }

/* ----------------- Hovers */
input:hover, a:hover, #todos input[ type='submit']:hover, #todos input[ type='button' ]:hover {
    background-color: #D8DDE8 !important;
    color: black;
}

/* ----------------- Selections */
tr.selected, div.row-selected, div.tab-row li.selected, div.list-type li.selected {
    background: #D8DDE8 !important;
    color: black;
}

/* ----------------- Colors/Textures */
th, h1, div.content-footer, div.tab-left h3, div.tab-row li, div.list-type li {
   background: #7A7E87 url(back.png) no-repeat scroll 0% 50%;
   border: 1px outset gray;
   color: black;
   text-align: left;
}

body, div.content-list {
    background-color: white;
    color: black;
}

/* ----------------- Forms */
input, textarea {
    border: 1px dotted  #d4d8bc;
}

label {
     margin: 0 0 0 5px;
}
label span {
    display: block;
    float: left;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-align: right;
    width: 10em;

}
legend {
}
fieldset {
    padding: 0 5px 5px;
}

fieldset ul  {
    list-style: none;
}

/* ----------------- Headers */
h1 {
    height: 74px;
    position: relative;
}
h1 > span {
    display: block;
    height: 74px;
    width: 256px;
    background-image: url("header.png");
    background-repeat: no-repeat;
    text-indent: -100em;
}

#signInForm1, h2.login {
    margin-top: 1em;
}

div#tab-title h2 {
    padding: 5px 0;
}

div.tab-panel h2 {
    margin-bottom: 5px;
}

div.content-footer {
    padding: 1px 5px;
}

/* ----------------- Tabs */
div.tab-row {
   display: block;
}

div.tab-row ul, div.list-type ul {
    display: block;
    list-style: none;
}
div#everything > div.tab-row ul, div.tab-right div.tab-row ul {
    margin: 1px 0;
}
div.content-form div.tab-row ul {
    margin: 0 0 5px 0;
}
div#tab-title div.tab-row ul {
    margin-bottom: 1px;
}
div.tab-row li.tab0 {
    margin-left: 0 !important;
}
div.tab-row li.selected, div.list-type li.selected {
    font-weight: bold;
}
div.tab-row li, div.list-type li {
    display: inline;
    margin-left: 5px;
    padding: 0 5px;
}
div.tab-row a, div.list-type a {
    color: black;
}

div.list-type {
}

/* ----------------- Contents */
hr, div.content-list h3, div.content-form h3 {
    display: none;
}

div.wicket-tree {
    margin: 2px 0 0 1px !important;
    width: auto !important;
    border: none !important;
}

div.wicket-tree div.a_ {
    width: auto !important;
    padding: 0 !important;
}

div.wicket-tree div.a_ > div {
}

 div.wicket-tree div.a_ input {
     float: right;
     margin: 3px 5px 0;
}

#todos input[type='text'] {
}
#todos input[ type='submit' ], #todos input[ type='button' ] {
    border: none;
    background-color: transparent;
    text-align: right;
}
td.todo-new {
    padding: 0 2px;
    text-align: right;
}

#todos tr {
}
#todos td {
}
/* ----------------- Actual Tables */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td, div.tab-left h3 {
    padding: 0 5px;
    font-size: medium;
}
tbody, div.content-form li {
    line-height: 1.4em;
 }

div.content-list td {
    cursor: pointer;
    vertical-align: top;
}

div.content-list table {
    padding-bottom: 5px;
}

tr.content-spacer {
    height: 2px;
}

/* ----------------- Content table controls */
div.content-pager {
    float: left;
}

div.content-buttons ul {
    display: inline;
}
div.content-buttons li {
    display: inline;
}
ul.new-item-choices {
    display: none;
    border: 1px outset gray;
    position: absolute;
    right: 0;
    background: white;
    text-align: left;
    padding: 0 5px;
    max-height: 40%;
    overflow: auto;
    margin-top: 2px;
}
ul.new-item-choices li {
    display: inline;
}
ul.new-item-choices li a {
    display: block;
    width: 10em;
}
li.new-header:before {
     content: " \2013  ";
}

/* ----------------- Scenarios */
div.sc-picker {
    float: right;
}

/* ----------------- Page controls */
div#controls {
    position: absolute;
    right: 5px;
    bottom: 3px;
}

/* ----------------- Signout */
div#signout {
    position: absolute;
    top: 2px;
    right: 5px;
}
