* {
    margin: 0;
    padding: 0;
}

/* ----------------- Layout */
html {
    margin: 5px;
}
 
 body {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 10px;
    left: 0px;
}
div#everything {
    margin: 0px auto;
    min-height: 30em;
    min-width: 50em;
    max-width: 80em;
}
 
div.p-table, div#everything {
    display: table;
    table-layout: auto;
}

div.p-row, div#tab-content, div.tab-row {
     display: table-row;
}

div.tab-left {
    padding-right: 5px;
}

div.p-cell, div.tab-row ul {
    vertical-align: top;
    display: table-cell;
    position: relative;
}

.tall {
    height: 100%;
}

.wide {
    width: 100%;
}

div.content-filter {
    padding-bottom: 5px;
}
div.content-filter input[ type='submit' ], div.content-filter input[ type='button' ] {
    margin: 5px 0px 0px 5px;
    float: right;
    
}

/* ----------------- Fonts */
body, input {
    font-size: 1em;
    font-family: arial, helvetica, sans-serif;
}

input[ type="submit" ], input[ type="button" ] , input[ type="reset" ] {
    font-size: small;
    font-weight: normal;
    border: 1px outset gray;
}

/* ----------------- Links */
a, #todos input[ type='submit'], #todos input[ type='button' ] {
    color: green;
    background-color: transparent;
    text-decoration: none !important;
    cursor: pointer;
}
#todos input[ type='submit'], #todos input[ type='button' ] {
    color: green !important;
}

div.content-buttons,#todos input[ type='submit'], #todos input[ type='button' ], 
div#signout, div.content-pager {
    text-align: right;
    font-size: small;
    font-weight: normal;
    border: none;
 }

/* ----------------- Hovers */
input:hover, a:hover, #todos input[ type='submit']:hover, #todos input[ type='button' ]:hover {
    background-color: #dee4d9 !important;
    color: black;
}

/* ----------------- Selections */
tr.selected, div.row-selected, div.tab-row li.selected, div.list-type li.selected {
    background: #dee4d9 !important;
    color: black;
}

/* ----------------- Colors/Textures */
th, h1, div.content-footer, div.content-filter h3, td.todo-new, div.tab-row li, div.list-type li { 
   background: #c3c7ac url("back.png") repeat;
   border: 1px outset gray;
   color: black;
   text-align: left;
}

body, div.content-list {
    background-color: white;
    color: black;
}

/* ----------------- Forms */
div.content-form > div form {
    padding: 5px 5px 0px;
}

input[type='text'], input[type=''], input[type='password'] {
    border: none;
}

label {
     margin: 0px 0px 0px 5px;
}
label span {
    display: block;
    float: left;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
    text-align: right;
    width: 10em;
    
}
legend {
}
fieldset {
    padding: 0px 5px 5px;
}

fieldset ul  {
    list-style: none;
}

/* ----------------- Headers */
h1 {
    height: 74px;
    position: relative;
}
h1 > span {
    display: block;
    height: 74px;
    width: 256px;
    background-image: url("header.png");
    background-repeat: no-repeat;
    text-indent: -100em;
}

#signInForm1, h2.login {
    margin-top: 1em;
}

div#tab-title h2 {
    padding: 5px 0px 0px 0px;
}

div.tab-panel h2 {
    margin-bottom: 5px;
}

div.content-footer {
    padding: 1px 5px;
}

/* ----------------- Tabs */
div.tab-row ul {
    padding-top: 1px;
}
div.tab-row ul, div.list-type ul {
   list-style: none;
}
div.tab-row li {
    margin-right: 5px;
}
div.tab-row li.selected, div.list-type li.selected {
    font-weight: bold;
}
div.tab-row li, div.list-type li {
    display: inline;
    padding: 0px 5px;
}
div.tab-row a, div.list-type a {
    color: black;
}

div.list-type {
    text-align: right;
    margin-bottom: 1px;
}

/* ----------------- Contents */
hr, div.content-list h3, div.content-form h3 {
    display: none;
}

div.wicket-tree {
    margin: 2px 0px 0px 1px !important;
    width: 18em !important;
    border: none !important;
}

div.wicket-tree div.a_ {
    width: auto !important;
    padding: 0px !important;
}

div.wicket-tree div.a_ > div {
}
 
 div.wicket-tree div.a_ input {
     float: right;
     margin: 3px 5px 0px;
}
 
#todos input[type='text'] { 
}
#todos input[ type='submit' ], #todos input[ type='button' ] {
    border: none;
    background-color: transparent;
    text-align: right;
}
td.todo-new {
    padding: 0px 2px;
    text-align: right;
}

#todos tr {
}
#todos td {
}
/* ----------------- Actual Tables */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td, div.content-filter h3 {
    padding: 0px 5px;
    font-size: medium;
}
tbody, div.content-form li {
    line-height: 1.5em;
 }

div.content-list td {
    cursor: pointer;
    vertical-align: top;
}

div.content-list table {
    padding-bottom: 5px;
}

tr.content-spacer {
    height: 2px;
}

/* ----------------- Content table controls */
div.content-pager {
    float: left;
}

div.content-buttons ul {
    display: inline;
}
div.content-buttons li {
    display: inline;
}

.new-item-choices li:before {
     content: " \2013  "; 
}

div.content-buttons li.new-header {
    display: none;
 }

/* ----------------- Scenarios */
div.sc-picker {
    float: right;
}

/* ----------------- Page controls */
div#controls {
    position: absolute;
    right: 5px;
    bottom: 3px;
}

/* ----------------- Signout */
div#signout {
    position: absolute;
    top: 2px;
    right: 5px;
}
