* {
    margin: 0;
    padding: 0;
}

body, input {
    font-family: arial, helvetica, sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1em;
    max-width:80em;
    min-width:53em;
    min-height: 25em;
    margin: 0.4em auto;
}

hr,  h3 {
    display: none;
}

div#todos, div.content-form,
div#filter {
    border: 1px dotted red;
}

/* ----------------- Color Palette */
tr.selected, div.row-selected, div.new-item-choices a:hover, div.tab-row li {
    background-color: #dee4d9 !important;
    color: black;
}
div.content-list table thead, h1 {
   background: #c3c7ac url("back.png") repeat;
   border: 1px outset #c3c7ac;
   color: black;
}

body, div.content-list {
    background-color: white;
    color: black;
}

/* ----------------- Forms */
input[ type="submit" ], input[ type="button" ] , input[ type="reset" ] {
    font-size: small;
}

/* ----------------- Header */
h1 {
    height: 74px;
    text-indent: -100em;
}
h1 span {
    display: block;
    height: 74px;
    width: 256px;
    background-image: url("header.png");
    background-repeat: no-repeat;
}

#signInForm1 {
    margin-top: 1em;
}

/* ----------------- Tabs */
div.tab-panel {
    position: relative;
    margin: 5px 0px;
}
div.tab-panel h2 {
    margin-bottom: 5px;
}

div.tab-row {
    margin-top: 1px;
}

div.tab-row ul {
    display: block;
    list-style: none;
}

div.tab-row li.selected {
    font-weight: bold;
    color: #761743;
    background-color: #c3c7ac;
}
div.tab-row li {
    border: 1px outset #c3c7ac;
    margin: 1px 5px 0px 0px;
    display: inline;
    padding: 0px 5px;
}
div.tab-row a {
    text-decoration: none;
    color: black;
}
div.tab-row a span {
     width: 7em;
 }
 


/* ----------------- Contents */
div.filtered-content {
    margin-top: 5px;
}
div.content-filter {
    float: left;
    width: 37%;
}
div#content {
    margin-left: 37%;
    padding-left: 5px;
}
div.content-list {
 }
div.content-form {
    margin-top: 5px;
    min-height: 1in;
}

div.wicket-tree {
    margin: 2px 0px 0px 1px !important;
    width: inherit !important;
}

/* ----------------- Content table */
div.content-list > table {
    width: 100%;
}

div.content-list table thead tr th {
    text-align: left;
}
div.content-list th, div.content-list td {
    padding: 0px 5px;
    cursor: pointer;
}

div.content-footer {
    margin-top: 1em;
    position: relative;
}

span.content-pager {
    display: block;
    position: absolute;
    bottom: 0;
}

span.content-buttons {
    display: block;
    text-align: right;   
}

/* ----------------- Popups */
div.new-item-choices {
    border: 1px solid black;
    text-align: left;
    position: absolute;
    right: 0;
    padding: 5px;
    z-index: 10;
    background: white;
    color: black;
    margin-top: 5px;
}
div.new-item-choices ul {
    list-style: none;
}
div.new-item-choices li {
    display: block;
}
div.new-item-choices a, div.new-item-choices a:visited {
    text-decoration: none;
    color:black;
}
div.new-item-choices a span {
}

/* ----------------- Scenarios */
div.sc-picker {
    position:absolute;
    right:0pt;
    top:0pt;
}

/* ----------------- Page controls */
div#controls {
    position: absolute;
    right: 5px;
    top: 49px;
}

/* ----------------- Signout */
div#signout {
    position: absolute;
    top: 5px;
    right: 5px;;
    font-size: smaller;
}
