* {
    margin: 0;
    padding: 0;
}

/* ----------------- Layout */
html {
    margin: 5px;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
}
div#everything {
    position: relative;
    margin: 0 auto;
    min-height: 30em;
    min-width: 50em;
}

div.title {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

div#tab-content {
    border: 1px ridge #80806E;
    padding-left: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    top: 1.18em;
    background-color: #F8F8F8;
}

div#tab-content > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.tab-left {
    width: 20em;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0;
}

div.tab-right {
    bottom: 0;
    left: 20.5em;
    position: absolute;
    right: 0;
    top: 0;
}

div.tab-right > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
div.tab-right > div > div.tab-row {
    padding-top: 5px;
}

div.tab-right div.tab-panel {
    padding: 5px;
    margin-right: 5px;
}

div.tab-panel {
    border: 1px ridge gray;
    padding: 0 5px 5px 0;
    position: relative;
}

div.content-list {
    overflow: auto;
}

div#filter {
    margin: 0 0 5px 0;
    width: 20em;
    position: absolute;
    top: 0;
    bottom: 25px;
    left: 0;
}

div#filter > form {
}

div#filter > form > div {
    background-color: white;
    bottom: 2.5em;
    position: absolute;
    top: 1.5em;
}

div#filter p {
    border-top: 1px ridge gray;
    border-bottom: 1px ridge gray;
    bottom: 0;
    left: 0;
    padding: 5px 0;
    position: absolute;
    right: 0;
    text-align: right;
}

div#links {
    position: absolute;
    height: auto;
    left: 0;
    bottom: 5px;
    width: 20em;
}

div#links h3 {
    display: none;
}
div#links ul {
    list-style: none;
    padding-top: 5px;
}

div#links ul li {
    display: inline;
}

svg {
    font-size: inherit;
}

.tall {
    height: 100%;
}

.wide {
    width: 100%;
}

div.content-form {
    padding-top: 5px;
    margin-bottom: 7px;
}

div#graph {
}
div#graph > div {
}

div#graph-controls {
    left: 0;
    position: absolute;
    top: 2em;
    width: 5em;
}

/* ----------------- Fonts */
body, input {
    font-size: 1em;
    font-family: "Times New Roman", times, serif;
}

h1, h2, h3, h4, .tab-row, table thead {
    font-family: arial, helvetica, sans-serif;
}

input[ type="submit" ], input[ type="button" ] , input[ type="reset" ] {
    font-size: small;
    font-weight: normal;
    border: 1px outset gray;
}

/* ----------------- Links */
a, #todos input[ type='submit'], #todos input[ type='button' ] {
    color: #000BAD;
    background-color: transparent;
    text-decoration: none !important;
    cursor: pointer;
}
#todos input[ type='submit'], #todos input[ type='button' ] {
    color: #000BAD !important;
}

div.content-buttons,#todos input[ type='submit'], #todos input[ type='button' ],
div#signout, div.content-pager {
    text-align: right;
    font-size: small;
    font-weight: normal;
    border: none;
 }

/* ----------------- Hovers */
input:hover, #todos input[ type='submit']:hover, #todos input[ type='button' ]:hover {
    background-color: #D8DDE8 !important;
    color: black;
}

/* ----------------- Selections */
tr.selected, div.row-selected {
    background: #D8DDE8 !important;
    color: black;
}

/* ----------------- Colors/Textures */
h1 {
   background: #7A7E87 url(back.png) no-repeat scroll 0 50%;
   border: 1px outset gray;
   color: black;
   text-align: left;
}

th, div.content-footer, div.tab-left h3 {
   background: #7A7E87 url(head.png) repeat scroll 0 50%;
   border: 1px ridge gray;
   color: black;
   text-align: left;
   font-weight: normal;
}

body, div.content-list {
    background-color: white;
    color: black;
}

div.page-contents {
    bottom:5px;
    left:0;
    position:absolute;
    right:0;
    top:80px;
}

div.page-contents > div {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ----------------- Forms */
input, textarea {
    border: 1px dotted  #d4d8bc;
}

label {
     margin: 0 0 0 5px;
}
label span {
    display: block;
    float: left;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-align: right;
    width: 10em;

}
legend {
}
fieldset {
    padding: 0 5px 5px;
}

fieldset ul  {
    list-style: none;
}

/* ----------------- Headers */
h1 {
    height: 74px;
    position: relative;
}
h1 > span {
    display: block;
    height: 74px;
    width: 256px;
    background-image: url("header.png");
    background-repeat: no-repeat;
    text-indent: -100em;
}

#signInForm1, h2.login {
    margin-top: 1em;
}

div#tab-title h2 {
    padding: 5px 0;
}

div.tab-panel h2 {
    margin-bottom: 5px;
}

div.content-footer {
    padding: 1px 5px;
}

/* ----------------- Tabs */
div.tab-row {
    line-height: normal;
    font-size: inherit;
    margin: 5px 0 0;
}
div.tab-right > div.tab-row {
    margin-top: 2px;
}

div.tab-row ul {
    list-style: none;
}

div.tab-row li {
    background: transparent url("tabs.png") no-repeat scroll -3px -139px;
    padding: 5px 0 1px 3px;
    display: inline;
}

div.tab-row li.tab0 {
    background-position: -6px -139px;
}

div.tab-row li.last {
}

div.tab-row li.selected {
    background-position: -6px 0;
}

div.tab-row li.selected + li {
    background-position: 0 -139px;
}

div.tab-row a {
    background: white url("tabs.png") no-repeat scroll -9px -139px;
    padding: 5px 0.3em 1px 0.3em;
    color: black;
}
div.tab-right div.tab-row a {
    background-color: #F8F8F8;
}

div.tab-row .tab0 a {
}
div.tab-row .last a {
    padding-right: 0.4em;
    background-position: right -139px;
}

div.tab-row .selected a {
    background-position: -9px 0;
}

div.tab-row li.selected.last a {
    background-position: right 0;
}

div.tab-row a span {
}
div.tab-row .selected a span {
    padding-bottom: 2px;
}

/* ----------------- Contents */
hr, div.content-list h3, div.content-form h3 {
    display: none;
}

div.wicket-tree {
    border: medium none !important;
    height: 100%;
    margin: 2px 0 0 1px !important;
    position: relative;
    width:100% !important;
}

div.wicket-tree div.a_ {
    width: auto !important;
    padding: 0 !important;
}

div.wicket-tree div.a_ > div {
}

div.wicket-tree div.a_ input {
     float: right;
     margin: 3px 5px 0;
}

/* ----------------- Actual Tables */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td, div.tab-left h3 {
    padding: 0 5px;
    font-size: medium;
}
tbody {
    line-height: 1.4em;
 }

div.content-list td {
    cursor: pointer;
    vertical-align: top;
}
div.content-list tr.even {
    background-color: #F0F0F0;
}

div.content-list table {
    padding-bottom: 5px;
}

tr.content-spacer {
    height: 2px;
}

/* ----------------- Content table controls */
div.content-pager {
    float: left;
}

div.content-buttons ul {
    display: inline;
}
div.content-buttons li {
    display: inline;
}
ul.new-item-choices {
    display: none;
    border: 1px outset gray;
    position: absolute;
    right: 0;
    background: white;
    text-align: left;
    padding: 0 5px;
    max-height: 16em;
    overflow: auto;
    margin-top: 2px;
    z-index: 10;
}
ul.new-item-choices li {
    display: inline;
}
ul.new-item-choices li a {
    display: block;
    width: 10em;
}
li.new-header:before {
     content: " \2013  ";
}

/* ----------------- Scenarios */
div.sc-picker {
    float: right;
}

/* ----------------- Page controls */
div#controls {
    position: absolute;
    right: 5px;
    bottom: 3px;
}

/* ----------------- Signout */
div#signout {
    position: absolute;
    top: 2px;
    right: 5px;
}
