<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config/>

    <bean id="serializer" class="com.mindalliance.channels.export.Serializer"/>
    <bean id="memoryDao" class="com.mindalliance.channels.dao.Memory"/>
    <bean id="attachmentManager" class="com.mindalliance.channels.attachments.BitBucket"/>

    <!-- setup wicket application -->
    <bean id="wicketApplication" class="com.mindalliance.channels.pages.Project">
        <property name="scenarioDao" ref="memoryDao"/>
        <property name="flowDiagram" ref="flowDiagram"/>
        <property name="attachmentManager" ref="attachmentManager"/>
        <property name="importer" ref="serializer"/>
        <property name="exporter" ref="serializer"/>
        <property name="scenarioAnalyst" ref="scenarioAnalyst"/>
    </bean>

    <!-- Flow diagram -->
    <bean id="flowDiagram" class="com.mindalliance.channels.graph.DefaultFlowDiagram">
        <property name="graphBuilder" ref="graphBuilder"/>
        <property name="graphRenderer" ref="graphRenderer"/>
        <property name="urlFormat" value="?scenario={0}&amp;node={1}"/>
        <property name="imageDirectory" value="src/site/resources/images"/>
    </bean>

    <bean id="graphBuilder" class="com.mindalliance.channels.graph.DefaultGraphBuilder"/>

    <bean id="graphRenderer" class="com.mindalliance.channels.graph.GraphvizRenderer">
        <property name="dotPath" value="/usr/bin"/>
        <property name="algo" value="neato"/>
        <property name="timeout" value="10000"/>
    </bean>

    <!-- Scenario analyst -->
    <bean id="scenarioAnalyst" class="com.mindalliance.channels.analysis.DefaultScenarioAnalyst">
        <property name="issueDetectors">
            <list value-type="java.util.ArrayList">
                <bean class="com.mindalliance.channels.analysis.detectors.PartWithoutTask"/>
                <bean class="com.mindalliance.channels.analysis.detectors.PartWithoutRole"/>
                <bean class="com.mindalliance.channels.analysis.detectors.FlowWithoutChannel"/>
                <bean class="com.mindalliance.channels.analysis.detectors.FlowWithUndefinedSource"/>
                <bean class="com.mindalliance.channels.analysis.detectors.FlowWithUndefinedTarget"/>
                <bean class="com.mindalliance.channels.analysis.detectors.UnnamedFlow"/>
            </list>
        </property>
    </bean>


</beans>
