<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	                    
<!-- This file contains the authorization configuration,
     i.e. which roles are allowed which operations.
     
     This works in conjunction with the @Secured({"ROLE_...", ... })
     annotation. This file specifies which classes to secure.
     
     $Revision$
-->

</beans>