<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="channels" class="com.mindalliance.channels.service.ChannelsServiceImpl">
        <property name="addingSamples" value="false"/>
        <property name="importingScenarios" value="true"/>
        <property name="importDirectory" value="target/import"/>
        <property name="dao" ref="dao"/>
    </bean>

    <bean id="serializer" class="com.mindalliance.channels.export.xml.XmlStreamer"/>
    <bean id="attachmentManager" class="com.mindalliance.channels.attachments.FileBasedManager">
        <property name="directory" value="target/channels-1.0-SNAPSHOT/uploads"/>
        <property name="path" value="uploads"/>
    </bean>
    <bean id="graphBuilder" class="com.mindalliance.channels.graph.DefaultGraphBuilder"/>

    <!-- setup wicket application -->
    <bean id="wicketApplication" class="com.mindalliance.channels.pages.Project">
        <property name="uri" value="mindalliance.com/channels/demo"/>
        <property name="service" ref="channels"/>
        <property name="graphBuilder" ref="graphBuilder"/>
        <property name="diagramFactory" ref="diagramFactory"/>
        <property name="attachmentManager" ref="attachmentManager"/>
        <property name="importer" ref="serializer"/>
        <property name="exporter" ref="serializer"/>
        <property name="analyst" ref="analyst"/>
        <property name="commander" ref="commander"/>
        <property name="lockManager" ref="lockManager"/>
        <property name="projectName" value="Emergency Communications Plan"/>
        <property name="client" value="Strategic Content Imaging, Inc."/>
        <property name="description" value="Communications planning for responding and recovering from business interruptions due fire and power outage."/>
    </bean>

    <!-- Flow diagram -->
    <bean id="diagramFactory" class="com.mindalliance.channels.graph.DefaultDiagramFactory">
        <property name="graphRenderer" ref="graphRenderer"/>
        <property name="urlFormat" value="?scenario={0,number,0}&amp;node={1,number,0}"/>
        <property name="scenarioUrlFormat" value="?scenario={0,number,0}"/>
        <property name="imageDirectory" value="src/site/resources/images"/>
    </bean>

    <bean id="graphRenderer" class="com.mindalliance.channels.graph.GraphvizRenderer">
        <property name="dotPath" value="/usr/bin"/>
        <property name="algo" value="dot"/>
        <property name="timeout" value="10000"/>
    </bean>

    <!-- Scenario analyst -->
    <bean id="analyst" class="com.mindalliance.channels.analysis.DefaultAnalyst">
        <property name="issueDetectors">
            <list value-type="java.util.ArrayList">
                <bean class="com.mindalliance.channels.analysis.detectors.FromUser"/>
                <bean class="com.mindalliance.channels.analysis.detectors.PartWithoutTask"/>
                <bean class="com.mindalliance.channels.analysis.detectors.PartWithoutRole"/>
                <bean class="com.mindalliance.channels.analysis.detectors.FlowWithoutChannel"/>
                <bean class="com.mindalliance.channels.analysis.detectors.InvalidChannel"/>
                <bean class="com.mindalliance.channels.analysis.detectors.UnnamedFlow"/>
                <bean class="com.mindalliance.channels.analysis.detectors.FlowWithUndefinedSource"/>
                <bean class="com.mindalliance.channels.analysis.detectors.FlowWithUndefinedTarget"/>
                <bean class="com.mindalliance.channels.analysis.detectors.PartWithInvalidTiming"/>
                <bean class="com.mindalliance.channels.analysis.detectors.OrphanedPart"/>
                <bean class="com.mindalliance.channels.analysis.detectors.RedundantPart"/>
                <bean class="com.mindalliance.channels.analysis.detectors.RedundantFlow"/>
                <bean class="com.mindalliance.channels.analysis.detectors.UnconnectedConnector"/>
                <bean class="com.mindalliance.channels.analysis.detectors.FlowViolatesPolicy"/>
                <bean class="com.mindalliance.channels.analysis.detectors.UnconfirmedJob"/>
                <bean class="com.mindalliance.channels.analysis.detectors.FlowToSelf"/>
                <bean class="com.mindalliance.channels.analysis.detectors.PartWithRoleWithNoKnownActor"/>
                <bean class="com.mindalliance.channels.analysis.detectors.NoRedundancy"/>
                <bean class="com.mindalliance.channels.analysis.detectors.PotentialDeadlock"/>
            </list>
        </property>
    </bean>

    <!-- Lock manager -->
    <bean id="lockManager" class="com.mindalliance.channels.command.DefaultLockManager">
        <property name="service" ref="channels"/>
    </bean>

    <!-- Commander -->
    <bean id="commander" class="com.mindalliance.channels.command.DefaultCommander">
        <property name="lockManager" ref="lockManager"/>
        <property name="service" ref="channels"/>
    </bean>

</beans>
