<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- This file specifies how to authenticate users. -->
	<!-- $Revision$ -->
	
	<!-- **************************************************** Authentication manager -->
	<bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
		<property name="providers">
			<list>
				<bean class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
					<property name="userDetailsService" ref="system"/>
					<property name="userCache">
						<bean class="org.acegisecurity.providers.dao.cache.NullUserCache"/>
					</property>
				</bean>
				<bean class="org.acegisecurity.providers.rememberme.RememberMeAuthenticationProvider">
					<property name="key" value="blah"/>
				</bean>
				<bean class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
					<property name="key" value="blah"/>
				</bean>
				<bean class="org.acegisecurity.runas.RunAsImplAuthenticationProvider">
					<property name="key" value="blah"/>
				</bean>
			</list>
		</property>
	</bean>

	<!-- ***************************************************** RUN_AS manager -->
	<bean id="runAsManager" class="org.acegisecurity.runas.RunAsManagerImpl">
		<property name="key" value="blah"/>
	</bean>
	
	<!-- ***************************************************** Web requests setup -->
	<bean id="authenticationEntryPoint"	class="org.acegisecurity.ui.basicauth.BasicProcessingFilterEntryPoint">
		<property name="realmName" value="Channels users"/>
	</bean>
	
	<bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON 
				PATTERN_TYPE_APACHE_ANT
				/**=httpSessionContext,basicProcessingFilter,exceptionTranslationFilter,filterSecurityInterceptor
				</value>
		</property>
	</bean>
	
	<bean id="httpSessionContext" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter">
		<property name="allowSessionCreation" value="true"/>
	</bean>
	
	<bean id="basicProcessingFilter" class="org.acegisecurity.ui.basicauth.BasicProcessingFilter">
		<property name="authenticationManager" ref="authenticationManager"/>
		<property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
	</bean>
	
	<bean id="exceptionTranslationFilter" class="org.acegisecurity.ui.ExceptionTranslationFilter">

		<property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
		<property name="portResolver">
			<bean class="org.acegisecurity.util.PortResolverImpl">
				<property name="portMapper">
					<bean class="org.acegisecurity.util.PortMapperImpl"/>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="filterSecurityInterceptor" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">

		<property name="authenticationManager" ref="authenticationManager"/>
		<property name="accessDecisionManager">
			<bean class="org.acegisecurity.vote.AffirmativeBased">
				<property name="allowIfAllAbstainDecisions" value="false"/>
				<property name="decisionVoters">
					<list>
						<bean class="org.acegisecurity.vote.RoleVoter"/>
						<bean class="org.acegisecurity.vote.AuthenticatedVoter"/>
					</list>
				</property>
			</bean>
		</property>
		<property name="objectDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/admin/**=ROLE_ADMIN
				/**=ROLE_USER
			</value>
		</property>
	</bean>
</beans>