<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	               http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="rules" class="com.mindalliance.channels.rules.RulesEngine" 
			scope="application">
		
		<property name="drlPackages"><value>
			classpath:com/mindalliance/channels/rules/issues.drl</value>
		</property>
		<property name="model" ref="model"/>
	</bean>
	
</beans>