html {
    margin: 0;
    border: 0;
}

body {
    margin: 0;
    border: 0;
    background: black;
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

#main {
    background: white;
    color: black;
    width: 480px;
    height: 800px;
    margin: auto; 
    position: relative;
}

/* ---------------------------------------------------------- */
div.pageTitle {
    background: url("../images/title.png") no-repeat scroll -3px -3px transparent;
    height: 86px;
}
div.pageTitle h1 {
    text-indent: -1000px;
}

/* ---------------------------------------------------------- */
div.content {
    background: white;
    color: black;
}
div.content ul {
    padding: 0 0 0 1.5em;
    margin: 0;
}
div.content li {
    clear: left;
    height: 53px;
    margin: 0;
    padding: 5px 0 0 0;
    border-top: 1px solid darkGray;
}
div.content li:first-child {
    border-top: none;
    padding-top: 0;
}
div.content span.icon {
    background: lightBlue;
    display: block;
    float: left;
    height: 48px;
    text-align: center;
    width: 48px;
    margin: 0 5px 5px 0;
}
div.content span.icon.right {
    float: right;
}
div.content span.item {
}
div.content span.itemTitle {
    font-weight: bold;
}
div.content span.timing {
    float: right;
    margin: 0 5px 0 0;
    color: gray;
}
div.content span.tags {
    display: block;
    color: gray;
}

span.late {
    color: red !important;
}

/* ---------------------------------------------------------- */
div.tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
}
div.tabs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.tabs ul li {
    margin: 0;
    padding: 10px;
    display: inline-block;
    width: 138px;
}

/* ---------------------------------------------------------- */
div.popup {
    display: none;
}
    
}
