/*

html {
}

body {
}

.ui-li-heading {
    margin: 0;
}

a.send img {
}
a.send {
}

*/

.inactive {
    color: gray;
}

.left-icon {
    float: left;
    margin: 0 1em 1em 0;
}

.right {
    float: right;
}

div.error, ul.feedbackPanel {
    color: red;
    margin: 0 2em 2em;
}

/*

img.captcha {
    display: block;
    margin: 0 auto;    
}

span.timing {
    float: right;
    margin: 0 15px 0 0;
    color: gray;
}
span.tags {
    display: block;
    color: gray;
    font-size: 9pt;
}

*/

span.late {
    color: red !important;
}

div.quote {
    display: inline-block;
    padding: 5px;
    border: 1px solid lightgray;
    white-space: pre;
}

/*

div.contact {
    
}

*/

div.contact div.details {
    display: block;
    float: left;
    margin: 0 5px 5px;    
}

div.details h3 {
    margin: 0;
}

div.details .job {
    margin-top: 0;    
}

/*

div.details .address {   
}

img.contactPic {
}

*/

.play-inset-list {
    display: inline-block;
    width: 60%;
    margin: 0 !important;
}

.contact-popup {
    z-index: 1000;
    background-color: white;
    border: 2px inset gray;
}

#contact-autocomplete li.selected {
    background-color: #f5deb3;
}

#replyForm {
    display: block;
    clear: both;
}
