<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>

<wicket:panel>
    <div class="floating-panel">
        <div wicket:id="header" class="fp-header">

            <div class="fp-tabs">
                <span wicket:id="tabs">
                    <a wicket:id="tabLink" class="active" href="#"> <!-- class = "active" when selected -->
                        <span wicket:id="tabName">Details</span>
                    </a>
                </span>
            </div>

            <div class="fp-menu">
                <span class="menubar">
                    <span class="menuitem" wicket:id="actionMenu">[action menu]</span>
                </span>
                <a wicket:id="minimize" href="#">
                    <img wicket:id="minimizeIcon" border="0" src="images/minimize.png"/>
                </a>
                <a wicket:id="close" href="#">
                    <img border="0" src="images/close.png"/>
                </a>
            </div>

            <div class="fp-pathway-icon-cont">
                <div class="fp-pathway">
                    <span wicket:id="title">About Plan Segment</span>
                </div>
                <div class="fp-icon-menu">
                    <span wicket:id="pathIcons">
                        <a wicket:id="pathIconLink" class="button-icon">
                            <img wicket:id="pathIconImage" alt="issues" src="images/warning2.png"> <!-- set alt and src-->
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <span wicket:id="fp-content" class="fp-content">
            <wicket:child/>
        </span>

        <div class="float-resize" wicket:id="resizer">
            <img src="images/resize-icon.png" border="0"/>
        </div>
    </div>
</wicket:panel>
</body>
</html>
