<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">

<body>
<table>
    <tr>
        <wicket:panel>
            <th align="right" valign="top">&nbsp;</th>
            <td>
                <ul class="attach">
                    <span wicket:id="attachments-container">
                        <li wicket:id="attachments">
                            <a wicket:id="attachment" href="#">attachment</a>
                            <ul class="menu">
                                <li><a wicket:id="copy" href="#">
                                    <img style="border:0" src="/images/copy.png" title="Copy" alt="Copy attachment"/>
                                    </a>
                                </li>
                                <li><a wicket:id="delete" href="#">
                                    <img style="border:0" src="/images/delete.png" title="Delete" alt="Delete attachment"/>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </span>
                    <li>Attach: <select wicket:id="type">
                        <option>Document</option>
                    </select><br>
                    <span wicket:id="radios">
                    </span>
                        <label class="attach-ctl"><input class="file" type="file" wicket:id="upload"
                                                         value="Upload"></label>
                        <input type="text" wicket:id="url" value="url">
                        <input type="button" value="Attach" wicket:id="submit">
                    </li>
                </ul>
            </td>
        </wicket:panel>
    </tr>
</table>
</body>
</html>