<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<table><tr>
<wicket:panel>
        <th align="right" valign="top">&nbsp;</th>
        <td>
            <ul class="attach">
                <li wicket:id="attachments">
                    <a wicket:id="attachment" href="#">Fire Safety Precautions</a>

                    <ul class="menu">
                        <li><label><input wicket:id="delete" type="checkbox" value="doc_1">&nbsp;Delete</label>
                        </li>
                    </ul>
                </li>

                <li><label>Attach: <input type="file" wicket:id="upload" value="Upload"></label>
                </li>
            </ul>
        </td>
</wicket:panel>
</tr></table>
</body>
</html>