<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <ul wicket:id="candidates-container">
        <li wicket:id="candidates">
            <input wicket:id="include-candidate" type="checkbox" alt="Include this candidate channel"/>
            <span wicket:id="candidate">[candidate channel string]</span>
        </li>
    </ul>
    <ul wicket:id="editable-container">
        <li wicket:id="editable-channels">
                    <span wicket:id="include-span"><input wicket:id="include" type="checkbox"
                                                          alt="Include this channel"
                                                          title="Check to include channel. Uncheck to exclude."/></span>
            <select wicket:id="medium">
                <option>[medium]</option>
            </select>
            <input class="address" wicket:id="address" type="text" size="20"/>
            <a wicket:id="move-to-top" href="#"><img border="0" src="/images/up.png" alt="Move to top" title="Move to top"/></a>
        </li>
    </ul>
    <span wicket:id="non-editable-container">
        <span wicket:id="no-channel">(No channel)</span>
        <ul>
            <li wicket:id="non-editable-channels">
                <span wicket:id="channel-string">Phone: 800-328-7448</span>
            </li>
        </ul>
     </span>
    <!-- <span wicket:id="instructions" class="suggest">Check to include channel. Uncheck to exclude.</span>-->
</wicket:panel>
</body>
</html>