<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div>
        <span wicket:id="candidates-span">
        <ul>
            <li wicket:id="candidates">
                <input wicket:id="include-candidate" type="checkbox" alt="Include this candidate channel"/>
                <span wicket:id="candidate">[candidate channel string]</span>
            </li>
        </ul>
        </span>
        <ul>
            <li wicket:id="channels">
                <span wicket:id="include-span"><input wicket:id="include" type="checkbox"
                                                      alt="Include this channel"/></span>
                <select wicket:id="medium">
                    <option>[medium]</option>
                </select>
                <input class="address" wicket:id="address" type="text" size="20"/>
            </li>
        </ul>
        <span wicket:id="instructions" class="suggest">Check to include channel. Uncheck to exclude.</span>
    </div>
</wicket:panel>
</body>
</html>