<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <ul wicket:id="menu" class="menu">
        <li><a wicket:id="expand" href="#">Edit</a></li>
        <li><label><input wicket:id="delete" type="checkbox"> Delete</label></li>
    </ul>
    <span wicket:id="issue-label" class="issue">Issue.</span><br/>
    <span wicket:id="issue-suggestion" class="suggest">Suggestion.</span>
</wicket:panel>
</body>
</html>