<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>

    <span class="menubar">
         <span wicket:id="flowActionsMenu">[flow action menu]</span>
    </span>
<!--
    <ul class="menu">
        <li><a wicket:id="expand" href="#">Edit</a></li>
        <li wicket:id="replicate-item"><a wicket:id="replicate" href="#">Add copy</a></li>
        <li><label><input wicket:id="delete" type="checkbox"> Delete</label></li>
    </ul>
-->
    <span wicket:id="title">Start Building Evacuation</span>
    <span wicket:id="channels">(555-1212)</span>
</wicket:panel>
</body>
</html>