<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div wicket:id="assetConnectionsContainer">
        <ol>
            <li wicket:id="assetConnections" class="assetConnection">
                <select wicket:id="connection">
                    <option>Uses</option>
                    <option>Produces</option>
                </select>
                <span wicket:id="asset">[entity reference panel or link]</span>
                             <span wicket:id="properties">
                                 <span wicket:id="criticalContainer"><input wicket:id="critical" type="checkbox"/> is critical</span>
                                 <span wicket:id="consumesContainer"><input wicket:id="consumes" type="checkbox"/> consumes it</span>
                                 <span wicket:id="forwardingContainer"> <input wicket:id="forwarding" type="checkbox"/> forwarding</span>

                             </span>

                <a wicket:id="delete" class="remove" href="#">Remove</a>
            </li>
        </ol>
    </div>
</wicket:panel>
</body>
</html>