<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr wicket:id="others"></tr>

    <tr wicket:id="channel-row">
        <th align="right"><label wicket:id="channel-label"><span wicket:id="channel-title">Channel:</span></label></th>
        <td><input wicket:id="channel" type="text" value="" size="40"/></td>
    </tr>

</wicket:extend>
</body>
</html>