<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
<span wicket:id="title">Communicating fire location to Fire Chief supervising operations, when asked</span>

<ul class="menu">
    <li><a wicket:id="hide" href="#">Hide</a></li>
    <li><label><input wicket:id="delete" type="checkbox"> Delete</label></li>
</ul>

<table class="flow-details" summary="Flow list">
    <tr>
        <th align="right"><label wicket:id="name-label">Information:</label></th>
        <td><input wicket:id="name" type="text" value="fire location" size="40"></td>
    </tr>
    <tr>
        <th align="right" valign="top"><label wicket:id="description-label">Description:</label></th>
        <td><textarea wicket:id="description" cols="40" rows="3">Communicate the location of the fire.</textarea></td>
    </tr>

    <tr>
        <th align="right">As:</th>
        <td>
            <label><input wicket:id="critical" type="checkbox" value="yes"> Critical</label>
            <span wicket:id="askedFor">
                <label><input wicket:id="askedForFalse" type="radio"> Notification</label>
                <label><input wicket:id="askedForTrue" type="radio"> Reply</label>
            </span>&nbsp;
        </td>
    </tr>
    <tr>
        <th align="right"><label wicket:id="other-label"><a wicket:id="other-details" href="#"><span wicket:id="type">Target</span></a>:</label></th>
        <td><label wicket:id="all-label"><input wicket:id="all" type="checkbox"> Every </label><select wicket:id="other">
            <option>
                Joe Smith monitoring evacuation
            </option>

            <option>
                Start Building Evacuation
            </option>

            <option>
                Tenant noticing fire
            </option>
        </select>
        </td>
    </tr>

    <tr wicket:id="others"></tr>

    <tr wicket:id="channel-row">
        <th align="right"><label wicket:id="channel-label"><span wicket:id="channel-title">Channel:</span></label></th>
        <td><input wicket:id="channel" type="text" value="" size="40"></td>
    </tr>

    <tr>
        <th align="right"><label wicket:id="maxDelay-label">Max delay:</label></th>
        <td><input wicket:id="maxDelay" type="text" value=""></td>
    </tr>

    <tr wicket:id="attachments">
        <th align="right" valign="top">Attachments:</th>
        <td>&nbsp;</td>
    </tr>
</table>
</wicket:panel>
</body>
</html>