<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3 wicket:id="flows-title">
        [All inter-org flows]
    </h3>
	<div class="filters">
    Filter on information: <input wicket:id="infoFilter" type="text" class="filter-small"/>
    and task: <input wicket:id="taskFilter" type="text" class="filter-small"/>
	</div>
    <span wicket:id="flows">[flows panel]</span>
</wicket:panel>
</body>
</html>