<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>

<wicket:panel>
    <div class="floating">
        <div class="float-bar"
             onMouseDown="Floater.beginMove(this.parentNode.parentNode, event);">
            <div style="position:absolute; top:1px; right:1px; float:right;">
                <a wicket:id="close" href="#">
                    <img src="images/close-icon.png" border="0"/>
                </a>
            </div>
        </div>
        <wicket:child/>
        <div class="float-resize" onMouseDown="Floater.beginResize(this.parentNode.parentNode, event);">
            <img src="images/resize-icon.png" border="0"/>
        </div>
    </div>
</wicket:panel>
</body>
</html>
