<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
<hr/>

<h3><span wicket:id="title">Flows</span>

    <ul class="menu">
        <li><a wicket:id="new" href="#">New</a></li>
    </ul>
</h3>

<ol>
    <li wicket:id="flows">Some flow
    </li>
</ol>
</wicket:panel>
</body>
</html>