<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="issues">
        <div class="section-title">
            <h4><span wicket:id="kind">Model segment</span> issues</h4>


            <ul class="menu">
                <li><a wicket:id="new-issue" href="#">New</a></li>
            </ul>
            <img wicket:id = "help" class="help-icon"/>
        </div>
        <span class="issues-container" wicket:id="issues-container">
            <ol>
                <li wicket:id="issues"><span wicket:id="issue">[Issue panel]</span></li>
            </ol>
        </span>
    </div>
</wicket:panel>
</body>
</html>
