<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
<form wicket:id="mo-form">
    <div wicket:id="mo-details">
        <table>
            <tr><th align="right"><label>Name:</label></th>
                <td><input width="40" wicket:id="name" type="text"/></td></tr>
            <tr><th align="right" valign="top"><label>Description:</label></th>
                <td><textarea cols="40" rows="4" wicket:id="description">...</textarea></td></tr>
            <tr><td colspan="2" align = "right"><input type="submit" value="submit"/></td></tr>
        </table>
    </div>
</form>
</wicket:panel>
</body>
</html>
