<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <tr>
        <th align="right"><label for="task">Task:</label></th>
        <td><input type="text" size="40" id="task" wicket:id="task" value="investigating fire"></td>
    </tr>

    <tr>
        <th align="right"><label for="location">Location:</label>
        </th>
        <td><input type="text" size="40" id="location" wicket:id="location" value=""></td>
    </tr>

    <tr>
        <th align="right"><label for="actor">Actor:</label></th>
        <td><input type="text" id="actor" wicket:id="actor" value="Joe Smith" size="40"></td>
    </tr>

    <tr>
        <th align="right"><label for="role">Role:</label>
        </th>
        <td><input type="text" size="40" id="role" wicket:id="role" value="Fire Warden"></td>
    </tr>

    <tr>
        <th align="right"><label for="jurisdiction">Jurisdiction:</label>
        </th>
        <td><input type="text" size="40" id="jurisdiction" wicket:id="jurisdiction" value=""></td>
    </tr>

    <tr>
        <th align="right"><label for="organization">Organization:</label>
        </th>
        <td><input type="text" size="40" id="organization" wicket:id="organization" value=""></td>
    </tr>

    <tr>
        <th align="right"><label>Timing:</label></th>
        <td>
            <span class="timing">
                <input type="checkbox" wicket:id="self-terminating"/>Completes usually after <span
                    wicket:id="completion-time">[Delay panel]</span>
            </span>
            <span class="timing">
                <input type="checkbox" wicket:id="repeating"/>Repeats every <span
                    wicket:id="repeats-every">[Delay panel]</span>
            </span>
            <span class="timing">
                 <input type="checkbox" wicket:id="startsWithScenario"/>Starts with this scenario
                 &#160;<input type="checkbox" wicket:id="terminatesScenario"/>Can terminate this scenario
             </span>
            <span class="timing">
                <input type="checkbox" wicket:id="initiatesScenario"/>Causes scenario
                <select wicket:id="initiatedScenario">
                    <option>[other scenario]</option>
                </select>
            </span>
        </td>
    </tr>
</wicket:panel>
</body>
</html>