<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <tr>
      <th align="right"><label for="task">Task:</label></th>
      <td><input type="text" size="40" id="task" wicket:id="task" value="investigating fire" /></td>
    </tr>

    <tr>
      <th align="right"><label for="actor">Actor:</label></th>
      <td><input type="text" id="actor" wicket:id="actor" value="Joe Smith" size="40" /> (see <a href="#">details</a>)</td>
    </tr>

    <tr>
      <th align="right"><label for="role">Role:</label></th>
      <td><input type="text" size="40" id="role" wicket:id="role" value="Fire Warden" /> (see <a href="#">details</a>)</td>
    </tr>

    <tr>
      <th align="right"><label for="organization">Organization:</label></th>
      <td><input type="text" size="40" id="organization" wicket:id="organization" value="" /> (see <a href="#">details</a>)</td>
    </tr>

    <tr>
      <th align="right"><label for="jurisdiction">Jurisdiction:</label></th>
      <td><input type="text" size="40" id="jurisdiction" wicket:id="jurisdiction" value="" /> (see <a href="#">details</a>)</td>
    </tr>

    <tr>
      <th align="right"><label for="location">Location:</label></th>
      <td><input type="text" size="40" id="location" wicket:id="location" value="" /> (see <a href="#">details</a>)</td>
    </tr>
</wicket:panel>
</body>
</html>