<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div id="plan-map">
            <h3>Plan map</h3>
            <span class="menubar">
                <span class="menuitem"><a wicket:id="close" href="#">Close</a></span>
            </span>
        <div class="picture">
            <span wicket:id="plan-map">[plan map diagram panel]</span>
        </div>
        <h3 wicket:id="flows-title">[All inter-scenario flows]</h3>
        <span wicket:id="flows">[external flows panel]</span>
    </div>
</wicket:panel>
</body>
</html>