<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div id="contact-info">
        <h2>Contact info</h2>
        <span wicket:id="contact-info">[contact info]</span>
    </div>
    <div id="playbook">
        <h2>Playbook</h2>
        <span wicket:id="playbook">[playbook]</span>
    </div>
    <div id="directory">
        <h2>Directory</h2>
        <span wicket:id="directory">[directory]</span>
    </div>
    <div id="gaps">
        <h2>Issues</h2>
        <span wicket:id="issues">[issues]</span>
    </div>
</wicket:panel>
</body>
</html>