<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div id="sc-details">
        <h3>Scenario details</h3>
         <span class="menubar">
             <span class="menuitem"><a wicket:id="close" href="#">Close</a></span>
         </span>
        <table>
            <tr>
                <th align="right"><label wicket:id="name-label">Name:</label></th>
                <td><input width="40" wicket:id="name" type="text"/></td>
            </tr>
            <tr>
                <th class="area" align="right" valign="top"><label wicket:id="description-label">Description:</label>
                </th>
                <td><textarea cols="40" rows="4" wicket:id="description">...</textarea></td>
            </tr>
            <tr>
                <th align="right"><label wicket:id="location-label">Location:</label></th>
                <td><input width="40" wicket:id="location" type="text"/></td>
            </tr>
            <tr>
                <th align="right">&#160;</th>
                <td>
                    <span class="timing">
                        <input type="checkbox" wicket:id="self-terminating"/>If unaddressed, runs its course within <span
                            wicket:id="completion-time">[Delay panel]</span>
                    </span>
                </td>
            </tr>
         </table>
        <span wicket:id="issues">[issues panel]</span>
    </div>
</wicket:panel>
</body>
</html>