<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">

<body>
<wicket:panel>
    <div wicket:id="import" class="import-dialog">
        <div class="header">
            <h2>Import scenario</h2>
            <span class="menubar">
                <span class="menuitem"><a wicket:id="close" href="#">Close</a></span>
            </span>
        </div>
        <div>
            <input class="file" type="file" wicket:id="import" name="sc-import" value="Upload">
            <input type="button" value="Import" wicket:id="submit">
        </div>
    </div>
</wicket:panel>
</body>
</html>