<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
	<div wicket:id= "filters" class="collab-rhythm controls">
        <select wicket:id="phases" class="phase">
            <option>PHASE</option>
            <option>Responding</option>
        </select>
        <select wicket:id="events" class="event">
            <option>EVENT</option>
            <option>Bomb threat</option>
        </select>
		<ul class="date">
			<li wicket:id="timeUnits"> <!-- repeated -->
				<a href="#" wicket:id="timeUnitLink"><span wicket:id="timeUnit">Hourly</span></a> <!-- class="active" when selected-->
			</li>
		</ul>
	</div>

    <div class="collab-rhythm note" wicket:id="noRepeatingTasks">
        <span wicket:id="noRepeating">There are no daily repeating tasks</span>
    </div>
    <div class="rhythm-table-cont">
	    <table wicket:id="rhythmTable" class="data-table collab-rhythm">
    	    <thead>
        	    <tr class="headers">
            	    <th class="segment-column">Segments</th>
                	<th>
	                	Any <span wicket:id="subTimeUnit">hour</span>
    	            </th>
        	        <th wicket:id="tranches">
            	    	<span wicket:id="tranche">9AM</span>
                	</th>
 	               <!-- repeated -->
    	        </tr>
        	</thead>
	        <tbody>
    	        <tr wicket:id="segmentRows" class="even"> <!-- repeated -->
        	        <td>
            	    	<span wicket:id="segment">A segment name</span>
                	</td>
	                <td wicket:id="anytimeTasksContainer"> <!-- Class "active" only if there is content inside -->
    	                <ul>
        	                <li wicket:id="anytimeTasks"> <!-- repeated -->
            	                <span wicket:id="taskLink">[link to task]</span>
                	        </li>
                    	</ul>
	                </td>
    	            <span wicket:id="segmentTranches"> <!-- repeated -->
                        <td wicket:id="trancheTasksContainer"> <!-- class = "active" only if there is content inside -->
                            <ul>
                                <li wicket:id="trancheTasks"><!-- repeated -->
                                    <span wicket:id="taskLink">[link to task]</span>
                                </li>
                            </ul>
    	                </td>
                    </span>
        	    </tr>
        	</tbody>
    	</table>
    </div>
</wicket:panel>
</body>
</html>