<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="risks" wicket:id = eventsDiv>
        <table class="data-table">
            <thead>
                <tr class="headers">
                    <td>Event name</td>
                    <td title="An incident is an event not caused by planned tasks">Is incident</td>
                </tr>
            </thead>
            <tr wicket:id="event">
                <td wicket:id="name-container">
                    <input wicket:id="name-input" type="text" size="25"/>
                    <span wicket:id="event-link">[event link]</span>
                </td>
                <td><input wicket:id="confirmed" type="checkbox"/></td>
            </tr>
        </table>
    </div>
</wicket:panel>
</body>
</html>
