<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="picture" wicket:id="model-map">
        [model map diagram panel]
    </div>
    <div class="zoom">
	    <div class="filters">
        Group model segments&nbsp;
        <input wicket:id="groupByEvent" type="checkbox"> by event&nbsp
        <input wicket:id="groupByPhase" type="checkbox"> or by phase
	    </div>
        <span wicket:id="fit">TBD</span>
    </div>
    <h3>
		<span wicket:id="flows-title">[All inter-segment flows]</span>
		<div>&nbsp;</div>
	</h3>
    <span wicket:id="flows">[external flows panel]</span>

    <h3>
		<span wicket:id="causes-title">[All inter-segment causations]</span>
		<div>&nbsp;</div>
	</h3>

    <div wicket:id="causes">[causes panel]</div>
</wicket:panel>
</body>
</html>