<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>
        <span>All material assets in this collaboration model</span>
        <div>&nbsp;</div>
    </h3>
    <div class="filters">
        Index on
        <select wicket:id="indexed">
            <option>Actors</option>
        </select>
        <span wicket:id="nameRanges">[name range panel]</span>
    </div>
    <div>
        <span wicket:id="assetConnections">[asset connection table]</span>
    </div>
</wicket:panel>
</body>
</html>