<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
	<div class="procedureMapContainer">
	    <div class="filters">
	        From <select wicket:id="segment">
	        <option>the entire model</option>
	        <option>segment A</option>
	        <option>segment B</option>
	        </select>
	        &nbsp;|&nbsp;
			by
            <select wicket:id="summarizeChoice">
                <option>type of organization</option>
                <option>organization</option>
                <option>role</option>
            </select>
	        &nbsp;|&nbsp;
			focusing on <select wicket:id="focusChoice">
	            <option>organization</option>
	            <option>agent</option>
	        </select>
            &nbsp;named&nbsp;
	        <input wicket:id="focus" type="text" class="filter-small" title="Enter a name or space to see all">
            <input wicket:id="displayButton" type="button" title="Click to display once focus is set" value="Show"/>
	    </div>
	    <div class="procedureMap" wicket:id="procedure-map">
	        [procedure map diagram panel]
	    </div>
	    <div class="zoom">
			<span wicket:id="fit">Reduce to fit</span>
		</div>
	</div>
</wicket:panel>
</body>
</html>