<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    in segment
    <select wicket:id="segment">
        <option>segment</option>
    </select>
    of severity
    <select wicket:id="severity">
        <option>severe</option>
    </select>
    and kind
    <input wicket:id="kind" type="text" class="phrase"/>
    <input wicket:id="includeWaived" type="checkbox"/> Include waived issues
</wicket:extend>
</body>
</html>