<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>Evaluation</h3>
    <h4>This collaboration model appears to be</h4>
    <table wicket:id="evaluation">
        <tr>
            <td>
                <table>
                    <tr>
                        <td align="center" width = "33%">
                            <img wicket:id="robustnessImage" src="images/pass.png" alt="robust">
                            <br/>
                            <span wicket:id="robustness">Robust</span>
                        </td>
                        <td align="center" width = "33%">
                            <img wicket:id="completenessImage" src="images/pass.png" alt="complete">
                            <br/>
                            <span wicket:id="completeness">Complete</span>
                        </td>
                        <td align="center" width = "33%">
                            <img wicket:id="validityImage" src="images/pass.png" alt="valid">
                            <br/>
                            <span wicket:id="validity">Valid</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <h3>&nbsp;</h3>
    <span wicket:id="issuesSummary">[issues summary table]</span>
</wicket:panel>
</body>
</html>