<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="filters">
        Show <select wicket:id="status">
                <option>All</option>
            </select> checklists <span wicket:id="filters">, but only those that
        <input wicket:id="withIssues" type="checkbox"/> have unwaived issues
        <input wicket:id="unassigned" type="checkbox"/> are not assigned
        <input wicket:id="notStarted" type="checkbox"/> are never started
        <input wicket:id="uncommitted" type="checkbox"/> have uncommitted flows
        </span>
    </div>
    <span wicket:id="checklistTable">[checklist table]</span>
</wicket:panel>
</body>
</html>