<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>All known tags</h3>
    <span wicket:id="tags">[tag domain panel]</span>
     <div wicket:id="taggedContainer">
       <h3 wicket:id="taggedWith">Tagged with tag </h3>
        <span wicket:id="tagged">[tagged index panel]</span>
    </div>
</wicket:panel>
</body>
</html>