<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="filters">
        Index on
        <select wicket:id="indexed">
            <option>Usernames</option>
        </select>
        <span wicket:id="ranges">[range panel]</span>
        <input wicket:id="withActorsOnly" type="checkbox"/>&nbsp;Only show users who are agents&nbsp;
        <input wicket:id="withoutActorsOnly" type="checkbox"/>&nbsp;Only show users who are not agents
    </div>
    <span wicket:id="participationsTable">[participations table]</span>
    <p/>
    <span wicket:id="participationDiv">
       <h3>
           <span wicket:id="participation">Contact info for John Doe (jd)</span>
           <span wicket:id="asActor"> as <span wicket:id="actorLink">actor</span></span>
		   <div>&nbsp;</div>
       </h3>
        <span wicket:id="channels">[channels panel]</span>
    </span>
</wicket:panel>
</body>
</html>