<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table class="plan-edit-details">
        <tr>
            <th align="right"><label>ID:</label></th>
            <td><span wicket:id="uri">URI</span></td>
        </tr>
        <tr>
            <th align="right"><label>Name:</label></th>
            <td><input width="40" wicket:id="name" type="text"/></td>
        </tr>
        <tr>
            <th class="area" align="right" valign="top"><label>Description:</label></th>
            <td><textarea cols="40" rows="4" wicket:id="description">...</textarea></td>
        </tr>
        <tr>
            <th align="right">&nbsp;</th>
            <td><input wicket:id="viewableByAll" type="checkbox"/> This template can be viewed by all</td>
        </tr>
        <tr>
            <th align="right"><label>Event phases:</label></th>
            <td><span wicket:id="phases">[phase list panel]</span></td>
        </tr>
        <tr>
            <th align="right"><label for="locale"><span wicket:id="locale-link"
                                                       title="Plan locale's details">Locale</span>:</label>
            </th>
            <td><span wicket:id="localePanel" id="locale">[locale panel]</span></td>
        </tr>
        <tr>
            <th align="right"><label>Default language:</label></th>
            <td><input width="40" wicket:id="defaultLanguage" type="text"/></td>
        </tr>
    </table>
    <span wicket:id="attachments">[attachments panel]</span>
    <span wicket:id="issues">[issues panel]</span>
</wicket:panel>
</body>
</html>