<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>
		<span>All users participating</span>
		<div>&nbsp;</div>
	</h3>
    <span wicket:id="participations">[users participations panel]</span>
    <input wicket:id="refresh" type="button" value="Refresh"/>
</wicket:panel>
</body>
</html>