<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table>
        <tr>
            <th align="right"><label>Name:</label></th>
            <td><input width="40" wicket:id="name" type="text"/></td>
        </tr>
        <tr>
            <th class="area" align="right" valign="top"><label>Description:</label></th>
            <td><textarea cols="40" rows="4" wicket:id="description">...</textarea></td>
        </tr>
        <tr wicket:id="attachments">
            <th align="right" valign="top">Attachments:</th>
            <td>&nbsp;</td>
        </tr>
    </table>
    <span wicket:id="issues">[issues panel]</span>
    <h3>This plan appears to be</h3>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td align="center" width = "33%">
                            <img wicket:id="validityImage" src="images/pass.png" alt="valid">
                            <br/>
                            <span wicket:id="validity">Valid</span>
                        </td>
                        <td align="center" width = "33%">
                            <img wicket:id="completenessImage" src="images/pass.png" alt="complete">
                            <br/>
                            <span wicket:id="completeness">Complete</span>
                        </td>
                        <td align="center" width = "33%">
                            <img wicket:id="robustnessImage" src="images/pass.png" alt="robust">
                            <br/>
                            <span wicket:id="robustness">Robust</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>