<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>
        <span>All events in the collaboration template</span>
        <span wicket:id="geomapLink">[geomap link panel]</span>
		<div>&nbsp;</div>        
    </h3>
    <span style="clear:both;" wicket:id="incidents">[incident list panel]</span>
</wicket:panel>
</body>
</html>