<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	Mind-Alliance ReportingUi Module
	***********
	-->
    <identity>
		<uri>urn:com:mindalliance:reportingui</uri>
		<version>0.0.13</version>
    </identity>
	<info>
		<name>Mind-Alliance ReportingUi Module</name>
        <description>A module containing the basic structure for a NetKernel module</description>
		<dynamic/>
    </info>
    <publisher>
        <name>Mind-Alliance, Inc.</name>
		<uri>http://www.mindalliance.com</uri>
    </publisher>
	<export>
		<uri>
			<match>ffcpl:/reporting-ui/.*</match>
			<match>ffcpl:/reporting-ui/initialize</match>
			<match>active:reporting-ui\+.*</match>
			<match>ffcpl:/etc/HTTPBridgeConfig.xml</match>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/CRONConfig.xml</match>
		</uri>
	</export>
	<mapping>
		<this>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/.*</match>
		</this>
		<this>
			<match>ffcpl:/resources/.*</match>
		</this>
		<rewrite>
			<match>ffcpl:/reporting-ui/(.*.bsh.*)</match>
			<to>active:beanshell+operator@ffcpl:/resources/$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/reporting-ui/.*)</match>
			<to>active:reporting-ui+path@$1</to>
		</rewrite>
		<ura>
      		<match>active:reporting-ui\+.*</match>
      		<class>com.mindalliance.reportingui.accessor.ReportingUiAccessor</class>
    	</ura>
		<import>
			<uri>urn:org:ten60:netkernel:ext:session</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<super/>
    </mapping>
</module>