<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3 class="data-table-header"> All collaboration planners </h3>
    <div wicket:id="plannersTable">[collaboration planners table]</div>
    <div class="authorizing-container" wicket:id="authorizingContainer">
        <h2>New Collaboration Planner</h2>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td class="label">Authorize another user as collaboration planner:</td>
				<td>
					<input wicket:id="authorizedUser" type="text" width="80" alt="User name or email" title="Enter user's name or email"/>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input wicket:id="authorize" type="button" value="Authorize"/>
				</td>
			</tr>
		</table>
	</div>
</wicket:panel>
</body>
</html>