<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3> All community planners </h3>
    <div wicket:id="plannersTable">[community planners table]</div>
    <div class="participation" wicket:id="authorizingContainer">
        <h4>New community planner</h4>
        Make user <input wicket:id="authorizedUser" type="text" width="80"/> a planner
        <input wicket:id="authorize" type="button" value="Authorize"/>
     </div>
</wicket:panel>
</body>
</html>