<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="filters">
        Show
        <select wicket:id="agenciesFilter">
            <option>All organizations</option>
        </select>
        <span wicket:id="nameRanges">[name range panel]</span>
    </div>
    <div wicket:id="agenciesTable">[user participation table]</div>
    <div class="registering-container" wicket:id="registeringContainer">
        <h2>New Organization</h2>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td class="label">Organization Name</td>
				<td>
					<input wicket:id="orgName" type="text" width="80"/>
				</td>
                <td>
                    <input wicket:id="global" type="checkbox"/> can participate in all plans
                </td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
				<td>
					<input wicket:id="register" type="button" value="Register it"/>
				</td>
			</tr>
		</table>
    </div>
    <div wicket:id="profileDialog" >
    </div>
</wicket:panel>
</body>
</html>