<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="filters">
        Show participation by
        <select wicket:id="agenciesFilter">
            <option>All agencies</option>
        </select>
        <input wicket:id="placeholders" type="checkbox"/>
        and show unassigned placeholders
        <span wicket:id="nameRanges">[name range panel]</span>
    </div>
    <div wicket:id="agenciesTable">[user participation table]</div>
    <div class="participation" wicket:id="registeringContainer">
        <h4>New registration</h4>
        <div class="new-org-container">
        Organization Name <input wicket:id="orgName" type="text" width="80"/>
        </div>
        <div class="placeholder-cont" wicket:id="placeholdersContainer">
            Organization Registered As
            <select wicket:id="placeholders"><option>org name</option></select>
        </div>
    </div>
    <div wicket:id="profileDialog" >
    </div>
</wicket:panel>
</body>
</html>