<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="participationManager">
	    <div wicket:id="summary" class="partman-note">No organization participates as "placeholder"</div>
        <div class="participation org">
        	<h3>
        	Placeholders
            <select wicket:id="phFilter">
                <option>All</option>
                <option>Empty</option>
                <option>Non-empty</option>
            </select>
        	</h3><!--
            <div class="participation-filtering">
                Show
                <select wicket:id="phFilter">
                    <option>All</option>
                    <option>Empty</option>
                    <option>Non-empty</option>
                </select>
                placeholders
            </div> -->
            <div class="participation-table-cont">
                <div wicket:id="placeholderListContainer">
                    <a wicket:id="placeholders"> <!-- repeated -->
                        <span wicket:id="placeholder">placeholder name</span>
                        <span class="metrics" wicket:id="metrics">1 participation (max is 4)</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="participation org" wicket:id="participation">
        	<h3>
        	Organizations
         	</h3>
            <div wicket:id="registering" class="add-new-org">
                <input wicket:id="newAgencyName" type="text"/>
                <input wicket:id="registerIt" type="button" value="Add"/>
            </div>
            <div class="participation-table-cont">
                <table class="org">
                    <tr wicket:id="agencies"> <!-- repeated -->
                        <td class="check"><input wicket:id="participating" type="checkbox"/></td>
                        <td class="name"><span wicket:id="agency">agency name</span></td>
                        <td class="remove"><a wicket:id="remove" class="more">Remove</a></td>
                        <td class="profile"><a wicket:id="profile" class="more">Profile</a></td>
                    </tr>
                    <tr wicket:id="noPlaceholderSelected">
                        <td colspan="4"><span class="empty-note">Please select a placeholder organization</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <input wicket:id="cancel" type="button" value="Cancel"/>
        <input wicket:id="submit" type="button" value="Submit"/>
    </div>
    <div wicket:id="profileDialog">
    </div>
</wicket:panel>
</body>
</html>