<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="filters">
        Show
        <select wicket:id="users">
            <option>All users</option>
        </select>
        <span wicket:id="nameRanges">[name range panel]</span>
    </div>
    <div wicket:id="participationTable">[user participation table]</div>
    <ul wicket:id="notesContainer">
        <li wicket:id="notes">
            <span wicket:id="note">4 users' participation await your confirmation</span>
        </li>
    </ul>
    <div wicket:id="assignmentContainer">
        I request that user
        <input wicket:id="assignedUser" type="text"/>
        <span wicket:id="agenciesContainer">
            participate in
            <select wicket:id="agencies"><option>org name</option></select>
        </span>
        <span wicket:id="agentsContainer">
            as
            <select wicket:id="agents"><option>agent name</option></select>
        </span>
    </div>
 </wicket:panel>
</body>
</html>