<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="participationManager">
        <div wicket:id="summary" class="partman-note">No user participates as "agent" in "organization"</div>
        <div wicket:id="agenciesContainer" class="participation">
            <h3>Organizations</h3>
            <div class="participation-filtering">
                <input wicket:id="onlyWithUnassignedAgents" type="checkbox"/>
                <span>Org's with unassigned agents</span>
            </div>
            <div class="participation-table-cont">
                <div wicket:id="agenciesListContainer">
                    <a wicket:id="agencies"> <!-- repeated -->
                         <span wicket:id="agencyName">org name</span>
                        <span class="metrics" wicket:id="metrics">2 assigned (max is 4)</span>
                    </a>
                </div>
            </div>
        </div>
        <div wicket:id="agentsContainer" class="participation">
            <h3>Agents</h3>
            <div class="participation-filtering">
                <!-- Agents in <span wicket:id="agencyName">org name</span><br/> -->
                <input wicket:id="onlyWithUnassignedAgents" type="checkbox"/>
                <span>Unassigned agents</span>
            </div>
            <div class="participation-table-cont">
                <div wicket:id="agentsListContainer">
                    <a wicket:id="agents"> <!-- repeated -->
                       <span wicket:id="agentName">agent name</span>
                        <span class="metrics" wicket:id="metrics">1 participant (no max)</span>
                    </a>
                    <span class="empty-note" wicket:id="noAgencySelected">Please select an organization</span>
                </div>
            </div>
        </div>
        <div wicket:id="participantsContainer" class="participation users">
            <h3>
            Users
            <input value="search..." type="text"/>
            </h3>
            <!--<div class="participation-title">
                Users participating as<br/>
                <span wicket:id="agentName">the agent</span>
            </div>-->
            <div class="participation-table-cont">
                <table >
                    <tr wicket:id="usersFilterContainer">
                        <th>&nbsp;</th>
                        <th class="name">Name <!-- Named: <input wicket:id="userNameFilter" type="text"/> --> </th>
                        <th class="accepted">Accepted</th>
                        <th class="confirmed">Confirmed</th>
                    </tr>
                    <tr wicket:id="participants"> <!-- repeated -->
                        <td class="check"><input wicket:id="participating" type="checkbox" width="20"/></td>
                        <td class="name">
                        	<span class="full-name" wicket:id="userName">user full name</span>
                        	<span class="username">username</span>
  						</td>
                        <td class="accepted"><span wicket:id="accepted">Yes</span></td>
                        <td class="confirmed"><span wicket:id="confirmed">No</span></td>
                    </tr>
                    <tr wicket:id="noAgentSelected">
                        <td colspan="4"><span class="empty-note" wicket:id="noAgentSelectedLabel">Please select a placeholder organization</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <input wicket:id="cancel" type="button" value="Cancel"/>
        <input wicket:id="submit" type="button" value="Submit"/>
    </div>
</wicket:panel>
</body>
</html>