<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="filters">
        Show participation by
        <select wicket:id="users">
            <option>All users</option>
        </select>
        <input wicket:id="unassigned" type="checkbox"/> and show unassigned agents

        <span wicket:id="nameRanges">[name range panel]</span>
    </div>
    <div wicket:id="participationTable">[user participation table]</div>
    <div class="assignment-container" wicket:id="assignmentContainer">
        <h2>New participation</h2>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td class="label">User</td>
				<td>
					<input wicket:id="assignedUser" type="text" width="80"/>
				</td>
			</tr>
			<div wicket:id="agenciesContainer">
			<tr>
				<td class="label">is to participate in</td>
				<td>
					<select wicket:id="agencies"><option>org name</option></select>
				</td>
			</tr>
			</div>
			<div wicket:id="agentsContainer">
			<tr>
				<td class="label">As</td>
				<td>
					<select wicket:id="agents"><option>agent name</option></select>
				</td>
			</tr>
			</div>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="button" value="Create"/>
				</td>
			</tr>			
		</table>
    </div>
 </wicket:panel>
</body>
</html>