<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="userParticipationManager">
        <div class="organizations">
            <div>
                Organizations<br/>
                <input wicket:id="withUnassignedAgents" type="checkbox"/> with unassigned agents
            </div>
            <table>
                <tr wicket:id="organizations"> <!-- repeated -->
                    <td><img wicket:id="selector" src="images/selected.png" alt="pointer"/></td>
                    <td><span wicket:id="organization">org name</span></td>
                    <td><span wicket:id="metrics">2 assigned (max is 4)</span></td>
                </tr>
            </table>
        </div>
        <div class="agents">
            <div>
                Agents in <span wicket:id="orgName">org name</span><br/>
                <input wicket:id="unassignedAgents" type="checkbox"/> that are unassigned
            </div>
            <table>
                <tr wicket:id="placeholders"> <!-- repeated -->
                    <td><img wicket:id="selector" src="images/selected.png" alt="pointer"/></td>
                    <td><span wicket:id="agent">agent name</span></td>
                    <td><span wicket:id="metrics">1 participant (no max)</span></td>
                </tr>
            </table>
        </div>
        <div class="participants">
            <div>
                Users participating as<br/>
                <span wicket:id="agentName">the agent</span>
            </div>
            <table>
                <tr wicket:id="participants"> <!-- repeated -->
                    <td><input wicket:id="participating" type="checkbox"/></td>
                    <td><span wicket:id="participant">user full name</span></td>
                    <td><span wicket:id="accepted">Yes</span></td>
                    <td><span wicket:id="confirmed">No</span></td>
                </tr>
                <tr wicket:id="userAssigning">
                    <td colspan="4">
                        Assign user<input wicket:id="user" type="text"/>
                    </td>
                </tr>
            </table>
        </div>
        <div wicket:id="meaning">No user participates as "agent" in "organization"</div>
        <input wicket:id="cancel" type="button" value="Cancel"/>
        <input wicket:id="submit" type="button" value="Submit"/>
    </div>
    <div wicket:id="profileDialog">
    </div>
</wicket:panel>
</body>
</html>