@charset "UTF-8";
/* CSS Document */

div.formItem {
	clear:both;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
}

div.formItem Label, .formItemLabel {
	text-align:right;
	float:left;
	width:20%;
	display:inline;
	text-transform:lowercase;
	font-weight:bold;
}

div.formItemContent {
	text-align:left;
	width:78%;
	float:right;
}

.formSubmit {
	text-align:right;
	float:left;
	width:90%;
}

input.textInput {
	width:90%;
	display:inline;
	float:left;
}

textarea {
	width:90%;
	float:left;
}

.formItemContent .msgError {
	display:block;
	clear:both;
}

.formItemContent .msgInfo {
	text-align:right;
}

.formHint {
	color:#999999;
	font-style:italic;
	font-size:small;
}