#guide h3 {
    font-size: 10px;
    line-height: 2;
}

#guide .activityName {
    line-height: 2;
    font-size: 10px;
    font-weight: bold;
}

#guide .activities {
    overflow: hidden;
}


#guide .doc {
    font-size: 10px;
    padding: 5px;
    background-color: #F6F6F6;
}

#guide .doc a {
    text-decoration: underline;
}

#guide .nextActivities ul {
    list-style-type: circle;
}

#guide .ui-accordion .ui-accordion-content {
    padding: 1em 1em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    display: none;
    zoom: 1;
}