<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div wicket:id="socialItem"> <!-- class = "joining", "leaving", "doing", "undoing", "redoing", "broadcast" or "private" -->
        <span class="menubar">
             <span wicket:id="menu">[planner action menu]</span>
        </span>
        <img class="photo" wicket:id="pic" width="36px" src="" alt="Picture">
        <span wicket:id="involvement">From</span>
        <span class="name" wicket:id="name">name</span>
        <span class="titles" wicket:id="titles">job titles</span>
        <span class="time" wicket:id="time">(1 hour ago)</span>
        <wicket:child/>
    </div>
</wicket:panel>
</body>
</html>