<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <a wicket:id="hideAll" href="#"><img src="/images/hide.png" alt="Hide social panel"/></a>
    <a wicket:id="hideShowLink" href="#"><span wicket:id="hideShow">hide my activities</span></a>
    <div wicket:id="planningEventsContainer"  class="social-list">
        <span wicket:id="commandEvents">
            <div wicket:id="commandEvent">[command event panel]</div>
        </span>
    </div>
    <div wicket:id="noCommands">No activity recorded</div>
    <input wicket:id="showMore" type="button" value="Show more"/>
    <input wicket:id="showFew" type="button" value="Show a few"/>
</wicket:panel>
</body>
</html>