<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="userInfo" wicket:id="newPasswordContainer">
        <div wicket:id="errorsContainer"  class="errors">
            <ul>
                <li wicket:id="errors"><span wicket:id="error">error</span></li>
            </ul>
        </div>
         <div wicket:id="userPassword" class="tabcontent-group">
            <h3>
                My password
                <img wicket:id = "helpPassword" class="help-icon"/>
            </h3>
            <div class="tabcontent-content">
                <table>
                    <tr><td>Current Password:</td><td><input type="password" wicket:id="password"/></td></tr>
                    <tr><td>New Password:</td><td><input type="text" wicket:id="newPassword"/></td></tr>
                    <tr><td>Confirm Password:</td><td><input type="text" wicket:id="repeatNewPassword"/></td></tr>
                </table>
                 <div class="buttons">
                    <input wicket:id="apply" type="button" value="Apply" />
                    <input wicket:id="reset" type="button" value="Reset"/>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>