<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    Show <input wicket:id="privateOnly" type="checkbox"/> only private
    <input wicket:id="sent" type="checkbox"/> sent
    <input wicket:id="received" type="checkbox"/> received messages
    <div wicket:id="plannerMessagesContainer"  class="social-list">
        <span wicket:id="plannerMessages">
            <div wicket:id="plannerMessage">[planner message panel]</div>
        </span>
    </div>
    <div wicket:id="noMessages">No messages</div>
    <input wicket:id="showMore" type="button" value="Show more"/>
    <input wicket:id="showFew" type="button" value="Show a few"/>
    <div wicket:id="newMessage" class="new-message">
        <div>To: <select wicket:id="recipient"><option>All</option></select></div>
        <div wicket:id="aboutContainer">About: <span wicket:id="about">[model object link panel]</span></div>
        <textarea wicket:id="text" rows="3" cols ="60">text</textarea>
        <input wicket:id="cancel" type="button" value="Cancel"/>
        <input wicket:id="send" type="button" value="Send"/>
    </div>
</wicket:panel>
</body>
</html>