<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
	<div class="social-controls">
	    <a wicket:id="hideAll" href="#"><img src="images/hide_left.png" alt="Hide social panel" title="Hide this panel"/></a>
		<div class="text-controls">
		    <a wicket:id="hideShowBroadcastsLink" href="#"><span wicket:id="hideShowBroadcasts">hide broadcasts</span></a>
		    <a wicket:id="sentReceivedLink" href="#"><span wicket:id="sentReceived">show received</span></a>
		</div>
	</div>
    <div wicket:id="aboutMessages" class="no-messages">No messages</div>
    <div wicket:id="userMessagesContainer" class="social-list messages">
        <span wicket:id="userMessages">
            <div wicket:id="userMessage">[user message panel]</div>
        </span>
		<div class="show-more-less">
	        <a wicket:id="showMore" href="#">Show more</a>
	        <a wicket:id="showFew" href="#">Show a few</a>
		</div>
    </div>
    <div wicket:id="newMessage" class="new-message">
        <div><span>To:</span><select wicket:id="recipient"><option>All</option></select></div>
        <div wicket:id="aboutContainer"><span>About:</span> <span wicket:id="about">[model object link panel]</span></div>
        <textarea wicket:id="text" rows="3" cols ="60">text</textarea>
        <input wicket:id="send" type="button" value="Send"/>
        <input wicket:id="sendAndEmail" type="button" value="Send &amp; Email"/>
        <input wicket:id="reset" type="button" value="Reset"/>
    </div>
</wicket:panel>
</body>
</html>