<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
	<div class="userInfo" wicket:id="userParticipation">
  		<div class="tabcontent-group">
	    	<h3>My user privileges</h3>
			<div class="tabcontent-content">
				I am <span wicket:id="userRole">a planner</span>
			</div>
		</div>
		<div class="tabcontent-group">
			<h3>My participation</h3>
			<div class="tabcontent-content">
		      <ul>
					<li wicket:id="participations">
						<input wicket:id="confirmed" type="checkbox"/>
						<span wicket:id="participation">I participate as the NJ Transit Chief of police</span>
					</li>
				</ul>
			</div>
            <span wicket:id="noParticipation">I do not yet participate</span>
		</div>
	</div>
</wicket:panel>
</body>
</html>