<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="userInfo" wicket:id="userParticipation">
        <div class="tabcontent-group">
            <h3>My user privileges</h3>

            <div class="tabcontent-content">
                I am <span wicket:id="userRole">a planner</span>
            </div>
        </div>
        <div wicket:id="openAndConfirmedParticipation" class="tabcontent-group">
            <h3>I participate as</h3>
            <div wicket:id="noParticipation" class="tabcontent-content">No one yet</div>
            <div class="tabcontent-content">
                <ul>
                    <li wicket:id="participations">
                        <input wicket:id="accepted" type="checkbox" title="Select to accept, deselect to refuse"/>
                        <span wicket:id="participation">the NJ Transit Chief of police</span>
                        <span wicket:id="requester">(requested by John Doe)</span>
                    </li>
                </ul>
                <div wicket:id="newParticipation">
                    <span wicket:id="newParticipationLabel">I (also) participate in</span>
                    <select wicket:id="orgs">
                        <option>org</option>
                    </select>
                    <div wicket:id="asAgent">
                         as <select wicket:id="agents">
                            <option>agent</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div wicket:id="unconfirmedSupervisedParticipation" class="tabcontent-group">
            <h3>I await confirmation to participate as</h3>

            <div class="tabcontent-content">
                <ul>
                    <li wicket:id="participations">
                        <input wicket:id="accepted" type="checkbox" title="Select to accept, deselect to refuse"/>
                        <span wicket:id="participation">in MTS security agency as crisis commander</span>
                        <span wicket:id="requester">(requested by John Doe)</span>
                    </li>
                </ul>
             </div>
        </div>
        <div wicket:id="supervisorParticipationValidations" class="tabcontent-group">
            <h3>I confirm that I supervise</h3>

            <div class="tabcontent-content">
                <ul>
                    <li wicket:id="participationValidations">
                        <input wicket:id="validated" type="checkbox"/>
                        <span wicket:id="user">John Doe</span> (<span wicket:id="email">jdoe@email.com</span>)
                        as <span wicket:id="agent">agent</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</wicket:panel>
</body>
</html>