<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:sec="http://www.springframework.org/schema/security"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"

    xsi:schemaLocation="
	    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"

	default-autowire="byName">

    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.mindalliance.mindpeer"/>
    <context:spring-configured/>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="mindpeerDB" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

    <bean id="userDao" class="com.mindalliance.mindpeer.dao.jpa.UserDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

	<bean class="com.mindalliance.mindpeer.DataInitializer" init-method="dataInit">
        <property name="userDao" ref="userDao"/>
	</bean>

    <!-- Request-level objects -->
    <bean class="com.mindalliance.mindpeer.model.User" scope="request"
          factory-bean="userDao" factory-method="currentUser" />

    <!-- Security config -->
    <bean id="accessDecisionManager" class="org.springframework.security.vote.AffirmativeBased">
        <property name="decisionVoters">
            <list>
                <bean class="org.springframework.security.vote.RoleVoter"/>
                <bean class="org.springframework.security.vote.AuthenticatedVoter"/>
                <bean class="com.mindalliance.mindpeer.UserVoter"/>
            </list>
        </property>
    </bean>

    <sec:http auto-config='true' access-decision-manager-ref="accessDecisionManager">
      <sec:intercept-url pattern="/home.html" access="ROLE_USER" requires-channel="https" />
      <sec:intercept-url pattern="/**" filters="none" requires-channel="any" />
    </sec:http>

    <sec:authentication-provider user-service-ref="userDao">
      <sec:password-encoder hash="sha"/>
    </sec:authentication-provider>

    <sec:global-method-security secured-annotations="enabled"/>

</beans>
