<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table wicket:id="resultsContainer" class="question-answers">
        <tr class="headers">
            <th class="count-header">Count</th>
            <th>Answer</th>
            <th>Participants</th>
        </tr>
        <tr wicket:id="results">
            <td wicket:id="count" class="count">2 answered</td>
            <td wicket:id="text" class="answer">42</td>
            <td>
                <ul wicket:id="participantsContainer">
                    <li wicket:id="participants">
                        <span wicket:id="fullName">John Doe</span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>