<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr>
        <th align="right">
            <label for="contact-info">Contact info:</label>
        </th>
        <td><span id="contact-info" wicket:id="channels">[channel list panel]</span></td>
    </tr>
    <tr>
        <td colspan="2">
            <h3>Roles played
                <a wicket:id="mapLink" href="#">
                    <img src="images/map.png" alt="map" style="border:0" title="Show roles in map"/>
                </a>
            </h3>
            Index on
            <select wicket:id="indexed">
                <option>Role</option>
            </select>
            <div>
                <span wicket:id="nameRanges">[name range panel]</span>
                <span wicket:id="actorEmployments">[actor employments panel]</span>
            </div>
        </td>
    </tr>
</wicket:extend>
</body>
</html>
