<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="section-title">
        <div class="zoom">
            <span id="flow-full" wicket:id="full"><img src="/images/full.png" title="Full size" alt="Full size"/></span>
            <span id="flow-fit" wicket:id="fit"><img src="/images/fit.png" title = "Reduce to fit" alt="Reduce to fit"/></span>
        </div>
       <div class="picture">
            <span wicket:id="diagram">[org network diagram panel]</span>
        </div>
        <h3 wicket:id="flows-title">[All inter-org flows]</h3>
        Filter on information: <input wicket:id="infoFilter" type="text" class="filter-small"/>
        and task: <input wicket:id="taskFilter" type="text" class="filter-small"/>
        <span wicket:id="flows">[flows panel]</span>
    </div>
</wicket:panel>
</body>
</html>