<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="section-title">
        <h3>Flows</h3>
        <input wicket:id="restricted" type="checkbox"/>
        &#160;Show only flows
        <span wicket:id="restricted-string">exclusive to so and so</span>&#160;
    </div>
    <span wicket:id="flows">[playbook panel]</span>
</wicket:panel>
</body>
</html>