<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <div>
        <span wicket:id="containmentContainer">
            <input wicket:id="includeContained" type="checkbox"/> Include issues about
            <span wicket:id="containment">individuals in this role</span>
        </span>
        &nbsp;
        <span wicket:id="inSegmentContainer">
            <input wicket:id="includeFromSegments" type="checkbox"/> Include related issues from segments
        </span>
        &nbsp;<input wicket:id="includeWaived" type="checkbox"/> Include waived issues
    </div>
    <br/>
</wicket:extend>
</body>
</html>