<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr>
        <th>&nbsp;</th>
        <td>
            <input wicket:id="selfTerminating" type="checkbox"/> Can terminate on its own
        </td>
    </tr>
    <tr>
        <th align="right"><label for="location"><a wicket:id="scope-link" href=""
                                                   title="Event scope's details">Scope</a>:</label>
        </th>
        <td><span wicket:id="scopePanel" id="location">[scope panel]</span></td>
    </tr>
    <tr>
        <td colspan="2">
            <h3>References to this event</h3>
            <span wicket:id="eventReferences">[event reference table]</span>
        </td>
    </tr>
</wicket:extend>
</body>
</html>
