<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="jobs" wicket:id="jobsDiv">
        <table>
            <thead>
                <tr>
                    <td>Confirmed</td>
                    <td>Actor</td>
                    <td>Title</td>
                    <td>Role</td>
                    <td>Jurisdiction</td>
                    <td/>
                </tr>
            </thead>
            <tr wicket:id="jobs">
                <td><input wicket:id="confirmed" type="checkbox"/></td>
                <td><span wicket:id="actor">[entity cell panel]</span></td>
                <td><input wicket:id="title" type="text" size="25"/></td>
                <td><span wicket:id="role">[entity cell panel]</span></td>
                <td><span wicket:id="jurisdiction">[entity cell panel]</span></td>
                <td><a wicket:id="flows-link" href="#">Show</a></td>
            </tr>
        </table>
    </div>
    <span wicket:id="flows">
        <div class="section-title">
            Flows involving <span wicket:id="job">job</span>
        </div>
        <span wicket:id="playbook">[job flows panel]</span>
    </span>
</wicket:panel>
</body>
</html>