<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr>
        <th align="right">
            <label for="unicast">Is unicast:</label>
        </th>
        <td><input id="unicast" wicket:id="unicast" type="checkbox"/></td>
    </tr>
    <tr>
        <th align="right">
            <label for="addressPattern">Address pattern:</label>
        </th>
        <td><input id="addressPattern" wicket:id="addressPattern"/></td>
    </tr>
     <tr>
        <th align="right">
            <label for="security">Secure for:</label>
        </th>
        <td><span id="security" wicket:id="security">[classifications panel]</span></td>
    </tr>
</wicket:extend>
</body>
</html>
