<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr>
        <th align="right">Timing relative to events:</th>
        <td>
            <select wicket:id="phaseChoices">
                <option>Responding</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h3>Plan segments for this phase</h3>
            <span wicket:id="phaseSegmentTable">[phase segment table]</span>
        </td>
    </tr>
</wicket:extend>
</body>
</html>
