<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <input wicket:id="selection" type="checkbox" title="Select one"/>
    &nbsp;
    <span wicket:id="name">geolocation</span>
    &nbsp;    
    <a wicket:id="mapLink" href="#"><img src="images/map.png" alt="map" style="border:0" title="Show in map"/></a>
</wicket:panel>
</body>
</html>