<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <input wicket:id="model-locale" type="checkbox" title="The model's locale"/>
    the model's locale
    <input wicket:id="event" type="checkbox" title="Scope of event"/>
    the location of <a wicket:id="eventLink" href="#">event</a>
    <select wicket:id="refEvents">
        <option>an event</option>
    </select>
    <br/>
    <input wicket:id="place" type="checkbox" title="Place"/>
    this <a wicket:id="placeLink" href="#">place</a>
    <span wicket:id="refPlace">[entity reference panel]</span>
</wicket:panel>
</body>
</html>