<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <iframe wicket:id="calendarFrame"
            src="#"
            style=" border-width:0 "
            width="299"
            height="300"
            frameborder="0"
            scrolling="no">
    </iframe>
    <div wicket:id="loginInfo" class="no-messages">
        To edit, login as <a wicket:id="calendarLink" href="https://www.google.com/calendar" target="_blank">channels.mindalliance@gmail.com</a>
    </div>
</wicket:panel>
</body>
</html>