<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table wicket:id="stepContainer" class="step">
        <tbody>
        <tr>
            <td>
                <span wicket:id="act">do something</span>
                <!-- CSS classes: "even-step" or "odd-step" + "required-step" (or nothing) + "action-step" or "notification-step" or "request-step"   -->
            </td>
            <td class="delete-button">
                <a class="delete" wicket:id="deleteStep" href="#">
                    <img src="images/delete.png" alt="Delete step"/>
                </a>
            </td>
            <td class="edit-button">
                <a class="edit-step" wicket:id="editDoneButton" href="#"><span wicket:id="editDone">Edit/Done</span>
                </a>
            </td>
        </tr>
        <tr wicket:id="requiredContainer">
            <th>
                <input wicket:id="required" type="checkbox"/> Required
            </th>
            <td colspan="2">&nbsp;</td>
        </tr>

        <tr wicket:id="constraintsContainer">
            <td>
                <table>
                    <tbody>
                    <tr class="step-constraint" wicket:id="aftersContainer">
                        <th align="right">After</th>
                        <td>
                            <table>
                                <tbody>
                                <tr wicket:id="afters">
                                    <td><span wicket:id="after">other step</span></td>
                                    <td>
                                        <a class="delete" wicket:id="deleteAfter" href="#">
                                            <img src="images/delete.png" alt="Delete prerequisite step"/>
                                        </a>
                                    </td>
                                </tr>
                                <tr wicket:id="addAfterContainer">
                                    <td colspan="2">
                                        <select wicket:id="addAfter">
                                            <option>Another step</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="step-constraint" wicket:id="ifsContainer">
                        <th align="right">If</th>
                        <td>
                            <table>
                                <tbody>
                                <tr wicket:id="ifs">
                                    <td><span wicket:id="if">condition</span></td>
                                    <td>
                                        <a class="delete" wicket:id="deleteIf" href="#">
                                            <img src="images/delete.png" alt="Delete if"/>
                                        </a>
                                    </td>
                                </tr>
                                <tr wicket:id="addIfContainer">
                                    <td colspan="2">
                                        <span wicket:id="addIf">[guard panel]</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="step-constraint" wicket:id="unlessesContainer">
                        <th align="right">Unless</th>
                        <td>
                            <table>
                                <tbody>
                                <tr wicket:id="unlesses">
                                    <td><span wicket:id="unless">condition</span></td>
                                    <td>
                                        <a class="delete" wicket:id="deleteUnless" href="#">
                                            <img src="images/delete.png" alt="Delete unless"/>
                                        </a>
                                    </td>
                                </tr>
                                <tr wicket:id="addUnlessContainer">
                                    <td colspan="2">
                                        <span wicket:id="addUnless">[guard panel]</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr class="step-constraint" wicket:id="outcomesContainer">
                        <th wicket:id="expectedOutcomes" align="right">Expected outcomes</th>
                        <td>
                            <table>
                                <tbody>
                                <tr wicket:id="outcomes">
                                    <td><span wicket:id="outcome">outcome</span></td>
                                    <td>
                                        <a class="delete" wicket:id="deleteOutcome" href="#">
                                            <img src="images/delete.png" alt="Delete outcome"/>
                                        </a>
                                    </td>
                                </tr>
                                <tr wicket:id="addOutcomeContainer">
                                    <td colspan="2">
                                        <select wicket:id="outcomeChoices">
                                            <option>an outcome</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</wicket:panel>
</body>
</html>