<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="checklist">
        <ul wicket:id="stepsContainer">
            <li wicket:id="steps">
                <span wicket:id="step">[step panel]</span>
            </li>
        </ul>
        <div wicket:id="newStepContainer" class="new-step">
            Add action step <img src="images/step_action.png" alt="action step"><input wicket:id="newStep" type="text"/>
        </div>
        <div wicket:id="confirmationContainer" class="confirm">
            <input wicket:id="confirmed" type="checkbox"/>&nbsp; <span wicket:id="confirmedLabel">Confirmed</span>
        </div>
        <div wicket:id="blockagesContainer" class="note">
            <span wicket:id="blockages">Why the checklist can not be confirmed</span>
        </div>
    </div>
</wicket:panel>
</body>
</html>