<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <td>
        <input wicket:id="dayOn" type="checkbox"/> <span wicket:id="dayName">Sunday</span>
    </td>
    <td wicket:id="periodContainer" nowrap="nowrap">
        from <span wicket:id="fromHour">[time]</span>:<span wicket:id="fromMinute">[time]</span>
        &nbsp;to&nbsp; <span wicket:id="toHour">[time]</span>:<span wicket:id="toMinute">[time]</span>
    </td>
</wicket:panel>
</body>
</html>