<?xml version="1.0" encoding="UTF-8"?>

<module>
        <!--
     ******************************
     Channels Metamodel Test Module
     ******************************
     -->
    <identity>
		<uri>urn:com:mindalliance:channels:metamodel:test</uri>
		<version>0.0.1</version>
    </identity>
	<info>
	    <name>Mind-Alliance Metamodel Library Tests</name>
	    <description>Tests for mod-metamodel</description>
	</info>
    <publisher>
        <name>Mind-Alliance, Inc.</name>
		<uri>http://www.mindalliance.com</uri>
    </publisher>
    <export>
		<uri>
			<match>ffcpl:/test/mod-metamodel-test/.*</match>
			<match>ffcpl:/(entrypoints.xml)</match>
            <match>ffcpl:/com/mindalliance/channels/test/metamodel/.*</match>
        </uri>
        <class>
            <match>com\.mindalliance\.channels\.metamodel\..*</match>
        </class>
    </export>
    <rewrite>
        <rule>
            <match>ffcpl:/com/mindalliance/channels/test/metamodel/(.*)</match>
            <to>ffcpl:/resources/$1</to>
        </rule>
        <rule>
			<match>ffcpl:/test/mod-metamodel-test/xunit(.*)</match>
			<to>active:xunit+testlist@ffcpl:/test/xunit/testlist.xml$1</to>
		</rule>
		<rule>
			<match>ffcpl:/test/mod-metamodel-test/(.*)</match>
			<to>ffcpl:/test/$1</to>
		</rule>
		<rule>
			<match>(.*?bsh.*)</match>
			<to>active:beanshell+operator@$1</to>
		</rule>
	</rewrite>
    <mapping>
		<this>
			<match>ffcpl:/(entrypoints.xml|test/.*|resources/.*)</match>
		</this>
		<import>
			<uri>urn:com:mindalliance:channels:metamodel</uri>
		</import>
        <import>
            <uri>urn:com:mindalliance:channels:support</uri>
        </import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:dpml</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:http:client</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xunit</uri>
		</import>
		<super/>
    </mapping>
</module>