<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h4 wicket:id="count">
        20 out of 140 participants answered
    </h4>
    <div class="filters">
    Question:
    <select wicket:id="questions">
        <option>Question 1: What is the meaning of life?</option>
    </select>
    </div>
    <div wicket:id="questionResults" class="survey-results">[result panel]</div>
</wicket:panel>
</body>
</html>