<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>NJSP ISP Project Site</display-name>
    <description>
        Maven-generated project information.
    </description>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Contents</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>developers</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Define the Login Configuration for this Application -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Developers</realm-name>
    </login-config>

    <!-- Security roles referenced by this web application -->
    <security-role>
        <description>
            Developers and Code-driven visitors.
        </description>
        <role-name>developers</role-name>
    </security-role>

</web-app>