<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div id='gsfn_list_widget'>
        <a href="http://getsatisfaction.com/mindalliance" class="widget_title">Active discussions about Channels</a>

        <div id='gsfn_content'>Loading...</div>
        <div class='powered_by'>
            <a href="http://getsatisfaction.com/"><img alt="Favicon" src="http://getsatisfaction.com/favicon.gif"
                                                       style="vertical-align: middle;"/></a>
        </div>
    </div>

    <script src="http://getsatisfaction.com/mindalliance/widgets/javascripts/d13ed2dcff/widgets.js"
            type="text/javascript"></script>
    <script src="http://getsatisfaction.com/mindalliance/topics.widget?callback=gsfnTopicsCallback&amp;limit=5&amp;sort=last_active_at"
            type="text/javascript"></script>
    <hr>
</wicket:panel>
</body>
</html>