<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="feedback">
        <a wicket:id="newFeedback" href="#" class="feedback-button"><span wicket:id="label">Send feedback</span></a>
        <!-- <span style="display:none" id="spinner" class="spinner"><img src="images/ajax-loader.gif"></span> -->

        <div wicket:id="aware">

            <div class="feedback-form" wicket:id="feedback">
				<div class="feedback-form-cont">
          	   <div>
            	    <textarea wicket:id="content" rows="4" cols="40">Your message here</textarea>
        	      </div>
					<div class="feedback-urgency">
	                    <input wicket:id="priority" type="checkbox"> Urgent
					</div>
					<div class="feedback-options2">
						<ul wicket:id="feedbackOptions">
							<li>
								<a wicket:id="selectedOptionLink" href="#">
                                    <span wicket:id="selectedOptionName">Question</span>
                                </a>
								<ul>
									<li wicket:id="otherOptions">
										<a wicket:id="otherOptionLink" href="#">
                                            <span wicket:id="otherOptionName">Problem</span>
                                        </a>
									</li>
								</ul>
							</li>
						</ul>					
					</div>
               <div class="cancelSend">
                   <input wicket:id="cancel" value="Cancel" type="button"/>
            	    <input wicket:id="send" value="Send" type="button"/>
               </div>
				</div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>