<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="feedback">
        <a wicket:id="newFeedback" href="#" class="feedback-button">Send feedback</a>
        <span style="display:none" id="spinner" class="spinner"><img src="images/ajax-loader.gif"></span>

        <div wicket:id="aware">

            <div class="feedback-form" wicket:id="feedback">
				<div class="feedback-form-cont">
					<div class="feedback-options">
            	    	I have a
            	    	<input wicket:id="question" type="checkbox"> question
            	    	<input wicket:id="problem" type="checkbox"> problem
            	    	<input wicket:id="suggestion" type="checkbox"> suggestion
					</div>
            	    <div>
            	        <textarea wicket:id="content" rows="4" cols="40">Your message here</textarea>
            	    </div>
					<div class="feedback-urgency">
	            	    <input wicket:id="priority" type="checkbox"> Urgent
					</div>
            	    <div class="cancelSend">
            	        <input wicket:id="cancel" value="Cancel" type="button"/>
            	        <input wicket:id="send" value="Send" type="button"/>
            	    </div>
				</div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>