v\:* {
	behavior: url(#default#VML);
}
div.mxWindowPane {
	padding-right: 0px;
	padding-left: 4px;
	padding-top: 4px;
}
div.mxRubberband {
	filter:alpha(opacity=30);
}
div.mxTooltip {
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, 
        Color='#A2A2A2', Positive='true')
}
div.mxPopupMenu {
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, 
        Color='#A2A2A2', Positive='true')
}
