<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
   <div wicket:id="allCommunitiesTable">[all communities table]</div>
	<div class="new-community">
        <h3>Start a new community based on this collaboration model</h3>
        <select wicket:id="productionPlans">
            <option>Model 9 v.2</option>
        </select>
        <input wicket:id="newCommunity" type="button" alt="Create" value="Start it"/>
	</div>
</wicket:panel>
</body>
</html>