<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table class="plan-edit-details">
        <tr>
            <th align="right"><label>URI:</label></th>
            <td><span wicket:id="uri">URI</span></td>
        </tr>
        <tr>
            <th align="right"><label>Name:</label></th>
            <td><input width="40" wicket:id="name" type="text"/></td>
        </tr>
        <tr>
            <th class="area" align="right" valign="top"><label>Description:</label></th>
            <td><textarea cols="40" rows="4" wicket:id="description">...</textarea></td>
        </tr>
         <tr>
            <th class="location-panel-label" align="right"><label>Locations:</label>
            </th>
            <td class="location-panel">
            	<span wicket:id="locationBindings" >[location bindings panel]</span>
            </td>
        </tr>
        <tr>
            <th class="location-panel-label" align="right"><label>Assets:</label>
            </th>
            <td class="location-panel">
                <span wicket:id="assetBindings" >[asset bindings panel]</span>
            </td>
        </tr>

    </table>
    <input wicket:id="cancel" type="button" value="Cancel"/>
    <input wicket:id="accept" type="button" value="Accept"/>
</wicket:panel>
</body>
</html>