<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table class="plan-edit-details" wicket:id="bindingsContainer">
        <tr>
            <th >Placeholder location</th>
            <th>Plan location</th>
        </tr>
        <tr wicket:id="bindings">
            <td ><span wicket:id="placeholder">Placeholder place name</span></td>
            <td><input width="60" wicket:id="location" type="text"/></td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>