<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <span class="req-networking">
         <div class="controls">
             Situation:
             <select wicket:id="timing">
                 <option>Before, during or after</option>
             </select>
             <select wicket:id="event">
                 <option>Any event</option>
             </select>
         </div>
        <span class="req-network" wicket:id="reqNetwork">[required network panel]</span>
        <div>
            <h3 wicket:id="appliedReqsTitle">Info sharing requirements of orgA toward orgB</h3>
            <span wicket:id="appliedReqs">[organizational requirements panel]</span>

            <div wicket:id="commitmentsContainer">
                <h3>Commitments fulfilling requirement</h3>
                <span wicket:id="commitments">[Commitments panel]</span>
            </div>
        </div>
    </span>
</wicket:panel>
</body>
</html>