<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table summary="Required who">
        <tr>
            <th align="right">
                <label for="actor"><span wicket:id="actor-link" href="#">Agent</span>:</label>
            </th>
            <td><span id="actor" wicket:id="actor">[entity reference panel]</span></td>
        </tr>
        <tr>
            <th align="right">
                <label for="role"><span wicket:id="role-link" href="#">Role</span>:
                </label>
            </th>
            <td><span id="role" wicket:id="role">[entity reference panel]</span></td>
        </tr>
        <tr>
            <th align="right">
                <label for="jurisdiction"><span wicket:id="jurisdiction-link" href="#" title="Area of operation">Jurisdiction</span>:</label>
            </th>
            <td><span id="jurisdiction" wicket:id="jurisdiction">[entity reference panel]</span></td>
        </tr>
        <tr>
            <th align="right">
                <label for="organization"><span wicket:id="organization-link" href="#">Organization</span>:</label>
            </th>
            <td><span id="organization" wicket:id="organization">[entity reference panel]</span></td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>