/* main elements */

body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #444;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#loadingOverlay {
    background: none repeat scroll 0 0 #F2F4F5;
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 3000;
}
#loadingOverlay .loadingMessage {
    background: url("../dijit/themes/claro/images/loadingAnimation.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    height: 20px;
    margin: -13px 0 0 -24px;
    padding: 3px 0 0 24px;
    position: absolute;
    top: 50%;
}

body {
    background: #aca380 url("../images/sb/back.png") repeat;
    text-align: center;
}

#header {
    margin: 0;
    background: #4e4936 url("../images/sb/back-header.png") no-repeat;
    height: 136px;
}

#header h1 {
    color: #F2F4F5;
    font-size: 30px;
    margin: 0 220px;
    padding: 0.5em 0 0.5em 15px;
}

#header h1 span {
    color: #FEE789;
    font-size: 22px;
}

#header .left {
    float: left;
}

#header .right {
    position: absolute;
    top: -11px;
    right: 0;
    z-index: 3002;
}

#wrapper {
    position: relative;
    width: auto;
    min-width: 750px;
    max-width: 1205px;
    margin: 0 auto;

    /* fix max-width incompatibility in IE6 */
    width: expression(document.body.clientWidth > 800? "800px": "auto" );

    height: 100%;
    overflow: hidden;
    display: block;
    background: #f2f4f5;
}

/* header and footer elements */

#main {
    bottom: 0;
    overflow: auto;
    padding: 15px;
    position: absolute;
    top: 136px;
    left: 0;
    right: 0;
}

#main h2 {
    color: #000000;
    margin: 14px 0 0.5em;
    border-bottom: 2px solid #4e4936;
}

#main div.public {
}

#sidepic img {
    border-right: 1px solid #999999;
    left: 0;
    margin: 15px;
    position: absolute;
}

#menu {
    background: none repeat scroll 0 0 #DBDFE5;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 20px 8px;
    position: absolute;
    top: 0;
    width: 203px;
}

#menu .dijitAccordionInnerContainer, #menu .dijitAccordionInnerContainerSelected {
    background-color: transparent;
}

div#_menu.dijitAccordionContainer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#menu ul, #menu ol {
    list-style: decimal outside none;
    margin: 0;
    padding: 0 0 0 20px;
}

#menu li {
    padding: 0 0 0.25em 0;
}

#menu h2 {
    border-bottom: 2px solid #4e4936;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 19px;
}

#menu a {
    color: #666666;
    text-decoration: none;
    padding: 0;
}

#menu a:hover {
    color: #648C1D;
    background: #fff;
}

#contents {
    bottom: 58px;
    left: 220px;
    margin: 15px 15px 0;
    position: absolute;
    right: 0;
    top: 0;
}

#contents div.dgrid {
    bottom: 28px;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 52px;
}

#contents td.dgrid-cell, #menu .dijitAccordionTitle {
    border-color: #c6c3b9;
}

#footer {
    border-top: 1px solid lightgray;
    bottom: 0;
    height: 52px;
    left: 220px;
    margin: 15px 15px 0;
    padding: 5px 0 0;
    position: absolute;
    right: 0;
}

#footer .new {
    float: left;
}

#footer a:link {
    color: #7db223;
}

.quicklinks {
    clear: both;
    padding-bottom: 15px
}

.quicklinks span {
    float: right;
}

table.navigation {
    border: 0;
}

label {
    width: 100px;
    float: left;
    margin-left: 5px;
    margin-top: 0;
}

input {
    height: 20px;
}

input, textarea, select {
    border: 1px solid #B3B3B3;
}

input.image {
    border: none;
    height: auto;
    vertical-align: middle;
}

submit {
    height: 25px;
}

div {
    text-align: left;
}

div .box {
    display: block;
    margin-left: 105px;
}

.errors {
    color: red;
    font-weight: bold;
    display: block;
    margin-left: 105px;
}

a {
    text-decoration: underline;
    font-size: 12px;
}

a img {
    border: 0 none;
    vertical-align: middle;
}

.flag {
    height: 11px;
    width: 16px;
}

/* -------------- Icons */
#icons {
    bottom: 0;
    left: 0;
    margin: 0 0 8px;
    position: absolute;
    right: 0;
    text-align: right;
}

#icons ul {
    list-style: none outside none;
    margin: 0.5em 0 0;
    padding: 0;
}

#icons li {
    display: inline;
    margin: 0 0 0 18px;
    padding: 0;
}

#icons li.csv {
    background: url('../images/sb/csv.png') no-repeat;
}

#icons li.rss {
    background: url('../images/sb/rss.gif') no-repeat;
}

#icons li.vcard {
    background: url('../images/sb/vcard.png') no-repeat;
}

#icons a {
    padding: 0 0 0 18px;
}

#icons li.csv a {
}

#icons li.rss a {
}

#icons li.vcard a {
}

/* table styling */
.dgrid-hider-menu-row {
    height: 20px;
    position: relative;
}

.dgrid-hider-menu-check {
    float: left;
    margin: 0;
    padding: 0;
}

.dgrid-hider-menu-label {
    display: block;
    float: none;
    margin: 0 0 0 17px;
    position: relative;
    top: 3px;
}

.dgrid-cell {
    width: 100%;
    border-color: 
}

td.dgrid-cell ul {
    margin: 0;
    padding: 0 5px 0 16px;
}
td.dgrid-cell ul li:first-child {
    padding-top: 0;
}
td.dgrid-cell ul li {
    padding-top: 0.5em;
}

.field-id {
    width: 32px;
}

.field-description, .field-criticalTasks, .field-organization, .field-respondents { 
    width: 200%;
}

.field-acronym {
    width: 50%;
}

.field-added, .field-submitted {
    width: 120px;
}

.field-landline, .field-mobile {
    width: 100px;
}

.field-email {
    width: 170px;
}

