<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div id="guide">
        <div class="guide-title-cont">
            <span wicket:id="guideName" class="title">Guide</span>
            <a wicket:id="hideGuide" href="#" class="closer"><img src="images/hide_left.png" alt="Hide guide panel"
                                                   title="Hide this panel"/></a>
        </div>
        <div wicket:id="accordion" style="overflow:auto">
            <wicket:container wicket:id="groups">
                <h3><a href="#" wicket:id="title"/></h3>
                <ul class="activities">
                    <li wicket:id="activities">
                        <a wicket:id="activityLink" href="#">
                            <span wicket:id="activityName" class="activityName">activity name</span>
                        </a>
                        <div wicket:id="activityDoc" class="doc">
                            <div wicket:id="steps">
                                <div wicket:id="description">Description from wikimedia format</div>
                                <a wicket:id="actionLink" class="window"><span wicket:id="action"> Do it</span></a>
                            </div>
                            <div wicket:id="doNextContainer" class="nextActivities">
                                Next:
                                <ul>
                                    <li wicket:id="doNexts">
                                        <a wicket:id="doNextLink" href="#">
                                            <span wicket:id="doNextText"> Scoping - Events</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </wicket:container>
        </div>
<!--
        <div wicket:id="guideDoc" class="doc">about guide</div>
-->
    </div>
</wicket:panel>
</body>
</html>