<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	Mind-Alliance Channels Module
	***********
	-->
    <identity>
		<uri>urn:com:mindalliance:channels</uri>
		<version>0.0.25</version>
    </identity>
	<info>
		<name>Mind-Alliance Channels Module</name>
        <description>A module containing the main Channels module</description>
		<dynamic/>
    </info>
    <publisher>
        <name>Mind-Alliance, Inc.</name>
		<uri>http://www.mindalliance.com</uri>
    </publisher>
	<export>
		<uri>
			<match>ffcpl:/channels/.*</match>
			<match>ffcpl:/etc/HTTPBridgeConfig.xml</match>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/CRONConfig.xml</match>
		</uri>
	</export>
	<mapping>
    <rewrite>
      <match>ffcpl:/channels/schema/(.*)</match>
      <to>schema:$1</to>
    </rewrite>
		<this>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/.*</match>
		</this>

		<this>
			<match>ffcpl:/resources/.*</match>
		</this>
		<rewrite>
			<match>ffcpl:/channels/element(.*)</match>
			<to>active:beanshell+operator@ffcpl:/resources/element.bsh+id@$1</to>			
		</rewrite>
		<rewrite>
			<match>ffcpl:/channels/(acquirement|agent|artifact|category|event|know|location|needToKnow|organization|person|phase|project|repository|role|scenario|sharingNeed|task|user)(.*)</match> // Overload this
			<to>active:beanshell+operator@ffcpl:/resources/element.bsh+type@$1$2</to>			
		</rewrite>
		<rewrite>
			<match>ffcpl:/channels/model(.*)</match>
			<to>active:beanshell+operator@ffcpl:/resources/model.bsh$1</to>			
		</rewrite>		
		<rewrite>
			<match>ffcpl:/channels/(.*.html|.*.swf|.*.js)</match>
			<to>ffcpl:/resources/$1</to>
<!--			<to>active:beanshell+operator@ffcpl:/resources/channels.bsh+path@$1</to>-->
		</rewrite>
		<rewrite>
			<match>ffcpl:/channels/(.*.html)</match>
			<to>ffcpl:/resources/$1</to>
        <!--			<to>active:beanshell+operator@ffcpl:/resources/channels.bsh+path@$1</to>-->
		</rewrite>
		<rewrite>
			<match>(.*\.idoc)</match>
			<to>active:dpml+operator@$1</to>
		</rewrite>
		<this>
			<match>ffcpl:/.*</match>
		</this>
		<ura>
      		<match>active:template\+.*</match>
      		<class>com.mindalliance.template.accessor.TemplateAccessor</class>
    	</ura>
    	<import>
    	    <uri>urn:com:mindalliance:channels:data</uri>
    	</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:session</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:dpml</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<super/>
    </mapping>
</module>