<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table>
        <tr>
            <th align="right"><label>At least:</label></th>
            <td><input width="40" wicket:id="minCount" type="text" class="no-expand"/></td>
        </tr>
        <tr>
            <th align="right"><label>Preferably:</label></th>
            <td><input width="40" wicket:id="safeCount" type="text" class="no-expand"/> or more</td>
        </tr>
        <tr>
            <th align="right"><label>And at most:</label></th>
            <td><input width="40" wicket:id="maxCount" type="text" class="no-expand"/></td>
        </tr>
     </table>
 </wicket:panel>
</body>
</html>