<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>Requirement definition</h3>
    <div class="edited-by"><span wicket:id="editedBy">(Edited by David)</span></div>
    <table summary="Requirement definition">
        <tr>
            <th align="right"><label>Name:</label></th>
            <td><input width="40" wicket:id="name" type="text"/></td>
        </tr>
        <tr>
            <th class="area" align="right" valign="top"><label>Description:</label></th>
            <td><textarea cols="40" rows="2" wicket:id="description">...</textarea></td>
        </tr>
        <!--<tr>
            <th align="right"><label>
                <a wicket:id="tagsLink" href="#" title="Click to see all tags">Tags:</a>
            </label></th>
            <td><span wicket:id="tags">[Tags panel]</span></td>
        </tr>-->
    </table>
    <div class="req-sections">
        <div wicket:id="headersContainer" class="req-section-headers">
            <ul>
                <li wicket:id="reqSections">
                    <a wicket:id="sectionLink" href="#"><span wicket:id="sectionName">Info</span> </a>
                </li>
            </ul>
        </div>
        <div class="req-section" wicket:id="reqSection">[req section panel]</div>
    </div>
</wicket:panel>
</body>
</html>