<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="req-defs">
        <div wicket:id="requirements">[requirements table]</div>
        <a class="button" wicket:id="new">New</a>
        <div class="req" wicket:id="requirement">[requirement edit panel]</div>
        <a class="button" wicket:id="remove">Remove requirement</a>
    </div>
</wicket:panel>
</body>
</html>