Dear ${user.FullName},

I need your help to resolve an issue in the information sharing plan "${survey.PlanText}".

The issue is about ${about}
#if( $scenario )
in scenario "${scenario}".
#end

-----------------------------------------------------

${issue}

-----------------------------------------------------

Please go to ${surveyUrl} ${survey.DeadlineText} to provide your feedback on how to resolve the issue.

Thank you,
${issuer.FullName}
