<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <span class="pointer">
		<img wicket:id="warning" class="warning" src="images/warning.png" alt="Issues detected" />
		<span wicket:id="title">[flow title panel]</span>
		<span class="channels-summary" wicket:id="channels">(555-1212)</span>
    </span>
    <span wicket:id="flowMedia" class="flowMediaRefs">[media references panel]</span>
</wicket:panel>
</body>
</html>