<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
        <table>
        <tr>
            <td align="left" class="pointer">
                <span class="summary" wicket:id="partSummary">
                    [Part summary panel]
                </span>
                <span class="instructions" wicket:id="description">
                    Instructions
                </span>
            </td>
        </tr>
    </table>
    <span wicket:id="issues">[issues panel]</span>
</wicket:panel>
</body>
</html>