<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <tr><th align="right" valign="top"><span wicket:id="label">See also:</span></th>
        <td align="left"><ul class="call-list">
            <li wicket:id="list"><a wicket:id="part" href="#"><span wicket:id="part-label">part name</span></a>
                (<span wicket:id="segment">segment</span>)
                <span wicket:id="channels">channels</span>
            </li>
        </ul></td></tr>
</wicket:panel>
</body>
</html>