<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <span wicket:id="cycleContainer">
        <span wicket:id="summary">Every....</span>
         <span wicket:id="cycleEditor">
            every
            <input wicket:id="tranches" type="text" class="medium"/>
            <span wicket:id="ofEvery">of every</span>
            <input wicket:id="skip" type="text" class="extra-small"/>
            <select wicket:id="timeUnit">
                <option>Year</option>
                <option>Month</option>
                <option>Week</option>
                <option>Day</option>
                <option>Hour</option>
            </select>
        </span>
        <a wicket:id="edit" href="#" class="more">
            <span wicket:id="changeOrDone">Change</span>
        </a>
    </span>
</wicket:panel>
</body>
</html>