<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
<div class="section-title">
    <h3><span wicket:id="title">Flows</span></h3>

    <ul class="menu">
        <li><a wicket:id="new" href="#"><span wicket:id="addFlow">Add receive</span></a></li>
    </ul>
</div>

<div wicket:id="flows-div" class="section-content">
    <ol>
        <li wicket:id="flows">
            <span wicket:id="flow">[flow panel]</span>
        </li>
    </ol>
</div>
</wicket:panel>
</body>
</html>