<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <div class="eois">
        <div class="float-header">
            <h1>
                Elements of information
                <a wicket:id="done" class="close" href="#">Done</a>
            </h1>
        </div>
        <div class="aspect">
            <h3 class="large">
                        <span wicket:id="aboutEoiHolder">In sharing info by X with Y</span>
            </h3>
            <span wicket:id="eois">[eois edit panel]</span>
        </div>
    </div>
</wicket:extend>
</body>
</html>