<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div wicket:id="controls" class="zoom">
        <span wicket:id="showConnectors"><img wicket:id="show_connectors_icon" src="images/show_connectors.png" alt="Show connectors"/></span>
        <span wicket:id="showGoals"><img wicket:id="show_goals_icon" src="images/show_goals.png" alt="Show goals"/></span>
        <span wicket:id="hideNoop"><img wicket:id="hide_noop_icon" src="images/hide_noop.png" alt="Hide not realizable"/></span>
        <span id="flow-minimized" wicket:id="minimized"><img src="images/fullscreen_on.png" alt="Minimize"/></span>
        <span id="flow-fit" wicket:id="fit"><img wicket:id="fit_icon" src="images/fit.png"  alt="Reduce to fit"/></span>
        <span wicket:id="simplified"><img wicket:id="simplify_icon" src="images/simplify.png" title = "Simplify (click again to restore)" alt="Simplify"/></span>
        <span id="legend" wicket:id="legend"><img src="images/help_small.png" alt="Flows legend"/></span>
    </div>
    <div id="maximized-graph">
        <div class="picture">
            <span wicket:id="flow-map">[flow map panel]</span>
        </div>
        <hr>
    </div>
</wicket:panel>
</body>
</html>
