<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table wicket:id="restrictionsEditorContainer">
        <tr wicket:id="restrictions">
            <td>
                <span wicket:id="name">restriction name</span>
            </td>
            <td>
                <img wicket:id="delete" src="images/delete.png" alt="delete restriction" class="delete"/>
            </td>
        </tr>
    </table>
    <select wicket:id="newRestriction">
        <option>a restriction</option>
    </select>
</wicket:panel>
</body>
</html>