<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>
        <span>Who can modify this segment</span>
    </h3>
    <div wicket:id="note" class="explanation">You can modify this segment because you own it</div>
    <div wicket:id="ownersTable">[segment owners table]</div>
</wicket:panel>
</body>
</html>