<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div id="contents">
        <div class="zoom">
            <span id="flow-maximized" wicket:id="maximized"><img src="images/fullscreen.png" title = "Maximize" alt="Maximize"/></span>
            <span id="flow-full" wicket:id="full"><img src="images/full.png" title="Full size" alt="Full size"/></span>
            <span id="flow-fit" wicket:id="fit"><img src="images/fit.png" title = "Reduce to fit" alt="Reduce to fit"/></span>
        </div>
        <div id="graph">
            <div class="picture">
                <span wicket:id="flow-map">[flow map panel]</span>
            </div>
            <hr>
        </div>
        <div id="part">
            <div id="part-header">
                <div class="section-title">
                    <h2>Task</h2>
                    <span class="menubar">
                        <span class="menuitem" wicket:id="partShowMenu">[part show menu]</span>
                        <span class="menuitem" wicket:id="partActionsMenu">[part action menu]</span>
                        &nbsp;&nbsp;<a class="menuItem" wicket:id="addPart" href="#">Add task</a>
                    </span>
                </div>
                <div wicket:id="part" class="section-content">
                    [part]
                </div>
            </div>

            <div wicket:id="receives" id="receives">
                <h3>Receives</h3>
            </div>

            <div wicket:id="sends" id="sends">
                <h3>Sends</h3>
            </div>
        </div>
    </div>

    <hr>

</wicket:panel>
</body>
</html>