<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <span wicket:id="social">[social panel]</span>
    <div id="contents">
        <div wicket:id="controls" class="zoom">
            <span wicket:id="showConnectors"><img wicket:id="show_connectors_icon" src="images/show_connectors.png" title = "Show needs and capabilities (click again to hide them)" alt="Show needs and capabilities"/></span>
            <span wicket:id="showGoals"><img wicket:id="show_goals_icon" src="images/show_goals.png" title = "Show goals (click again to hide goals)" alt="Show goals"/></span>
            <span wicket:id="hideNoop"><img wicket:id="hide_noop_icon" src="images/hide_noop.png" title = "Hide not realizable (click again to restore)" alt="Hide not realizable"/></span>
            <span wicket:id="maximized"><img src="images/fullscreen.png" title = "Maximize" alt="Maximize"/></span>
            <span wicket:id="fit"><img wicket:id="fit_icon" src="images/fit.png" title = "Reduce to fit (click again to restore)" alt="Reduce to fit"/></span>
            <span wicket:id="minimized"><img wicket:id="split_icon" src="images/split.png" title = "Minimize (click again to restore)" alt="Minimize"/></span>
            <span wicket:id="simplified"><img wicket:id="simplify_icon" src="images/simplify.png" title = "Simplify (click again to restore)" alt="Simplify"/></span>
            <span wicket:id="legend"><img src="images/help_small.png" alt="Legend"/></span>
        </div>
        <div id="graph">
            <div class="picture">
                <span wicket:id="flow-map">[flow map panel]</span>
            </div>
            <hr>
        </div>
        <div id="part">
            <div class="part-header">
                <div class="section-title">
                    <h3 wicket:id="task-title">Task</h3>
                    <img wicket:id="overrides" class="task-overrides" src="images/overridden.png" title="overridden"/>
                    <span wicket:id="partMedia" class="partMediaRefs">[media references panel]</span>
                    <img wicket:id = "help" class="help-icon"/>
                    <img wicket:id="checklist" class="checklist-icon" src="images/checklist.png"/>
                    <a class="add-task" wicket:id="addPart" href="#">Add +</a>
                    <span class="menubar">
                        <span class="menuitem" wicket:id="partShowMenu">[part show menu]</span><span class="menuitem" wicket:id="partActionsMenu">[part action menu]</span>
                    </span>
                </div>
                <div wicket:id="part" class="section-content">
                    [part]
                </div>
            </div>

            <div wicket:id="receives" class="receives">
                <h3>Receives</h3>
            </div>

            <div wicket:id="sends" class="sends">
                <h3>Sends</h3>
            </div>
        </div>
    </div>
    <hr>

</wicket:panel>
</body>
</html>