<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <table>
        <tr>
            <th align="right"><label wicket:id="name-label">Name:</label></th>
            <td><input width="40" wicket:id="name" type="text"/></td>
        </tr>
        <tr>
            <th class="area" align="right" valign="top"><label wicket:id="description-label">Description:</label>
            </th>
            <td><textarea cols="40" rows="4" wicket:id="description">...</textarea></td>
        </tr>
        <tr>
            <th align="right"><label>
                <a wicket:id="tagsLink" href="#" title="Click to see all tags">Tags:</a>
            </label></th>
            <td><span wicket:id="tags">[Tags panel]</span></td>
        </tr>
        <tr>
            <th align="right">
                    Addresses:
            </th>
            <td>
                 <a wicket:id="phase-link" href="#" title="Phase details">Phase</a>
                <select id="phase" wicket:id="phase-choices">
                    <option>Responding</option> 
                </select>
                of <a wicket:id="event-link" href="#" title="Event details">event</a>
                <input type="text" class="entity-name" id="event" wicket:id="event" value="">
                rated
                <select id="event-level" wicket:id="event-level">
                    <option>Any</option>
                </select>
            </td>
        </tr>
        <tr>
           <th align="right">
                    Context:
            </th>
            <td><span wicket:id="context">[event timings panel]</span></td>
        </tr>
        <tr wicket:id="attachments">
            <th align="right">Attachments:</th>
            <td>&nbsp;</td>
        </tr>
    </table>
    <span wicket:id="issues">[issues panel]</span>
</wicket:panel>
</body>
</html>