<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	Mind-Alliance Channels Data Module
	***********
	-->
    <identity>
		<uri>urn:com:mindalliance:channels:data</uri>
		<version>0.0.1</version>
    </identity>
	<info>
		<name>Mind-Alliance Channels Data Module</name>
        <description>Data services</description>
		<dynamic/>
    </info>
    <publisher>
        <name>Mind-Alliance, Inc.</name>
		<uri>http://www.mindalliance.com</uri>
    </publisher>
	<export>
		<uri>
			<match>active:openModel</match>
			<match>active:deleteModel</match>
			<match>active:queryModel\+.*</match>
			<match>active:createElement\+.*</match>
			<match>active:deleteElement\+.*</match>
			<match>active:getElement\+.*</match>
			<match>active:updateElement\+.*</match>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/com/mindalliance/channels/data/.*</match>
		</uri>
	</export>
   <rewrite>
     <rule>
       <match>ffcpl:/com/mindalliance/channels/data/(.*)</match>
       <to>ffcpl:/resources/$1</to>
     </rule>
   </rewrite>
	<mapping>
   <rewrite>
     <match>ffcpl:/com/mindalliance/channels/data/(.*)</match>
     <to>ffcpl:/resources/$1</to>
   </rewrite>
		<rewrite>
			<match>active:openModel(.*)</match>
			<to>active:javascript+operator@ffcpl:/resources/scripts/openModel.js$1</to>			
		</rewrite>
		<rewrite>
			<match>active:deleteModel(.*)</match>
			<to>active:javascript+operator@ffcpl:/resources/scripts/deleteModel.js$1</to>			
		</rewrite>
		<rewrite>
			<match>active:queryModel(.*)</match>
			<to>active:javascript+operator@ffcpl:/resources/scripts/queryModel.js$1</to>			
		</rewrite>
		<rewrite>
			<match>active:createElement(.*)</match>
			<to>active:javascript+operator@ffcpl:/resources/scripts/createElement.js$1</to>			
		</rewrite>
		<rewrite>
			<match>active:deleteElement(.*)</match>
			<to>active:javascript+operator@ffcpl:/resources/scripts/deleteElement.js$1</to>			
		</rewrite>
		<rewrite>
			<match>active:getElement(.*)</match>
			<to>active:javascript+operator@ffcpl:/resources/scripts/getElement.js$1</to>			
		</rewrite>
		<rewrite>
			<match>active:updateElement(.*)</match>
			<to>active:javascript+operator@ffcpl:/resources/scripts/updateElement.js$1</to>			
		</rewrite>
		<rewrite>
			<match>doc:(.*)</match>
			<to>active:doc-generate+operand@ffcpl:$1</to>
		</rewrite>
    <this>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/.*</match>
			<match>ffcpl:/libs/.*</match>
			<match>ffcpl:/resources/.*</match>
		</this>
		<import>
			<uri>urn:org:ten60:netkernel:ext:session</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:dpml</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:mod:dbxml</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xsecurity</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:mod:docxter</uri>
		</import>
		<super/>
    </mapping>
</module>