<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	Mind-Alliance Data Module
	***********
	-->
    <identity>
		<uri>urn:com:mindalliance:channels:data</uri>
		<version>0.0.1</version>
    </identity>
	<info>
		<name>Mind-Alliance Data Module</name>
        <description>Module that manages a persistent graph of query-able beans</description>
		<dynamic/>
    </info>
    <publisher>
        <name>Mind-Alliance, Inc.</name>
		<uri>http://www.mindalliance.com</uri>
    </publisher>
	<export>
		<uri>
			<match>ffcpl:/com/mindalliance/channels/data/.*</match>
			<match>active:data_.*</match>
			<match>db:.*</match>
            <match>query:.*</match>
            <match>ffcpl:/entrypoints.xml</match>
            <match>ffcpl:/etc/CRONConfig.xml</match>
		</uri>
        <class>
            <match>com\.mindalliance\.channels\.metamodel\..*</match>
        </class>
	</export>
    <mapping>
        <rewrite>
           <match>ffcpl:/com/mindalliance/channels/data/(.*)</match>
            <to>ffcpl:/resources/$1</to>
        </rewrite>
        <rewrite>
           <match>db:(.*)</match>
            <to>ffcpl:/resources/dbs/$1</to>
        </rewrite>
        <rewrite>
           <match>query:(.*)</match>
            <to>ffcpl:/resources/queries/$1</to>
        </rewrite>
        <this>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/.*</match>
		    <match>ffcpl:/resources/.*</match>
		</this>
		<rewrite>
			<match>(ffcpl:/data/.*)</match>
			<to>active:data+path@$1</to>
		</rewrite>
		<ura>
      		<match>active:data_bean\+.*</match>
      		<class>com.mindalliance.channels.data.accessors.BeanAccessor</class>
    	</ura>
        <ura>
              <match>active:data_memory\+.*</match>
              <class>com.mindalliance.channels.data.accessors.MemoryAccessor</class>
        </ura>
        <import>
            <uri>urn:com:mindalliance:channels:metamodel</uri>
        </import>
        <import>
            <uri>urn:com:mindalliance:channels:support</uri>
        </import>
        <import>
            <uri>urn:com:mindalliance:channels:store</uri>
        </import>
        <import>
			<uri>urn:org:ten60:netkernel:ext:session</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<super/>
    </mapping>
</module>