<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	Mind-Alliance Channels Data Module
	***********
	-->
    <identity>
		<uri>urn:com:mindalliance:channels:data</uri>
		<version>0.1.0</version>
    </identity>
	<info>
		<name>Mind-Alliance Channels Data Module</name>
        <description>Data services</description>
		<dynamic/>
    </info>
    <publisher>
        <name>Mind-Alliance, Inc.</name>
		<uri>http://www.mindalliance.com</uri>
    </publisher>
	<export>
		<uri>
			<!-- <match>active:channels_data_.*</match> -->
			<match>ffcpl:/com/mindalliance/channels/data/.*</match>
			<match>ffcpl:/com/mindalliance/channels/library/.*</match>
      <match>schema:.*</match>
      <match>db:.*</match>
      <match>xquery:.*</match>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/CRONConfig.xml</match>
			<match>active:MREWSynchronizer.*</match>
			<match>transient:.*</match> 
			<match>active:channels_model.*</match>
			<match>active:channels_element.*</match>
			<match>active:channels_information.*</match>
      <match>active:channels_query.*</match>
      <match>js:(.*)</match> <!-- used for tests -->
		</uri>
	</export> 
   <rewrite>
     <rule> <!-- xdoc -->
       <match>ffcpl:/com/mindalliance/channels/data/doc/(.*\.xml)</match>
       <to>doc:/resources/doc/$1</to>
     </rule>
     <rule> <!-- other non-accessor resources -->
       <match>ffcpl:/com/mindalliance/channels/data/(.*)</match>
       <to>ffcpl:/resources/$1</to>
     </rule>
     <!--
   	<rule> 
   		<match>active:channels_data_(.*?)(\+.*)</match>
   		<to>active:javascript+operator@ffcpl:/resources/scripts/$1.js$2</to>	
   	</rule>
   	<rule> 
   		<match>active:channels_data_(.*?)</match>
   		<to>active:javascript+operator@ffcpl:/resources/scripts/$1.js</to>	
   	</rule>
       -->
   	<rule> 
   		<match>js:(.*?)(\+.*)</match>
   		<to>active:javascript+operator@ffcpl:/resources/scripts/$1.js$2</to>	
   	</rule>
   	<rule> <!-- for tests --> 
   		<match>js:(.*?)</match>
   		<to>active:javascript+operator@ffcpl:/resources/scripts/$1.js</to>	
   	</rule>
  </rewrite>
	<mapping>
    <rewrite>
      <match>schema:(.*)</match>
       <to>ffcpl:/resources/schemas/$1</to>
    </rewrite>
    <rewrite>
      <match>xquery:(.*)</match>
       <to>ffcpl:/resources/queries/$1.xq</to>
    </rewrite>
	 <rewrite>
	 	<match>db:(.*)</match> <!-- TODO why not before mapping? -->
	 	<to>ffcpl:/resources/db/$1.xml</to>
	 </rewrite>
    <!--
   <rewrite>
     <match>ffcpl:/com/mindalliance/channels/data/(.*)</match>
     <to>ffcpl:/resources/$1</to>
   </rewrite>
   <rewrite>
   		<match>active:channels_data_(.*?)(\+.*)</match>
   		<to>active:javascript+operator@ffcpl:/resources/scripts/$1.js$2</to>	
   </rewrite>
   <rewrite>
   		<match>active:channels_data_(.*?)</match>
   		<to>active:javascript+operator@ffcpl:/resources/scripts/$1.js</to>	
   </rewrite>
      -->
		<rewrite>  <!-- TODO why not before mapping? -->
			<match>doc:(.*)</match>
			<to>active:doc-generate+operand@ffcpl:$1</to>
		</rewrite>
    <this>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/.*</match>
			<match>ffcpl:/libs/.*</match>
			<match>ffcpl:/resources/.*</match>
		</this>
		<ura>
		  <match>active:MREWSynchronizer.*</match>
		  <class>com.mindalliance.channels.data.accessors.MREWSynchronizer</class>
		</ura>
		<ura>
		  <match>transient:.*</match>
		  <class>com.mindalliance.channels.data.accessors.Transient</class>
		</ura>
		<ura>
			<match>active:channels_model.*</match>
			<class>com.mindalliance.channels.data.accessors.ModelAccessor</class>
		</ura>
		<ura>
			<match>active:channels_element.*</match>
			<class>com.mindalliance.channels.data.accessors.ElementAccessor</class>
		</ura>
		<ura>
			<match>active:channels_information.*</match>
			<class>com.mindalliance.channels.data.accessors.InformationAccessor</class>
		</ura>
		<ura>
			<match>active:channels_query.*</match>
			<class>com.mindalliance.channels.data.accessors.QueryAccessor</class>
		</ura>
		<import>
			<uri>urn:com:mindalliance:channels:support</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:session</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:dpml</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:mod:dbxml</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xsecurity</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:mod:docxter</uri>
		</import>
		<super/>
    </mapping>
</module>