<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="manage-users admin">
		<div class="user-left-col">        
        <div wicket:id="selectUserContainer" class="usernames">
        	<div class="header-cont">
	            <h3>Users</h3>
	           	<span>
					<input wicket:id="search" type="text" />
					<img wicket:id="applySearch" style="cursor:pointer" src="images/search-settings.png" alt="Search users"/>
				</span>
			</div>
            <div class="namelist-cont">
                <ul wicket:id="usernamesContainer">
                    <li wicket:id="usernames"> <!-- repeated  class = "even" or "odd"-->
                        <a wicket:id="userLink" href="#">
                        	<span class="name" wicket:id="name">name</span>
                        	<span class="username" wicket:id="username">username</span>
                        </a> <!-- class can be "selected" -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="new-user">
	        <h3>New User</h3>
	        <div>
	            <input type="text" wicket:id="newUsername">
	            <a class="button" wicket:id="addUser">Add</a>
            </div>
        </div>
        </div>
        <span wicket:id="userRecord">[user record panel]</span>
    </div>
</wicket:panel>
</body>
</html>