<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="user">
        <div wicket:id= "userRecordContainer">
	    	<div class="user-details">
		    	<h3>Details</h3>
	            <table wicket:id="userIdentityContainer" >
	                <tr class="even">
	                    <td class="label">Full Name:</td>
	                    <td><input wicket:id="fullName" type="text"/> </td>
	                </tr>
	                <tr class="odd">
	                    <td class="label">Email:</td>
	                    <td><input wicket:id="email" type="text"/> </td>
	                </tr>
	                <tr class="even">
	                    <td class="label">Password:</td>
	                    <td><input wicket:id="password" type="text"/> </td>
	                </tr>
	                <tr class="odd">
	                    <td class="label">Administrator:</td>
	                    <td>
	                        <select wicket:id="isAdmin">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
	                    </td>
	                </tr>
	                <tr class="even">
	                    <td class="label">Disabled:</td>
	                    <td>
	                        <select wicket:id="isDisabled">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
	                    </td>
	                </tr>
	            </table>
           		<div class="button-bar">
			        <a wicket:id="reset1" class="button" href="#">Reset</a>
			        <a wicket:id="apply1" class="button" href="#">Apply</a>
	    		</div>
	        </div>
            <div class="user-priviledges" wicket:id="privilegesContainer">
	            <h3>Access</h3>
                <table wicket:id="modelPrivilegesContainer">
                    <tr wicket:id="modelPrivileges">
                        <td><span wicket:id="modelName">model name</span> </td>
                        <td>
                            <select wicket:id="userRole">
                                <option>Modeler</option>
                                <option>Guest</option>
                            </select>
                        </td>
                    </tr>
                </table>
           		<div class="button-bar">
			        <a wicket:id="reset2" class="button" href="#">Reset</a>
			        <a wicket:id="apply2" class="button" href="#">Apply</a>
			    </div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>