@namespace xf url("http://www.w3.org/2002/xforms");

* {
	margin: 0;
	padding: 0;
}

*:invalid > xf|alert {
    display:block;
    font-family:"Courier New", Courier, monospace;
    font-weight:bold;
    color:#FF0000;
    border-bottom:#FF0000 1px dotted; 
}

.hidden {
    display: none;
}

body {
    max-width:1024px;
    margin: 0px auto;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    /*Didot, Georgia, */
    font-size: 80%;
}

#login {
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    width:50%;
}

#loginForm > .title {
	text-align: right;
	font-size: 0.8em;
	padding-top:10px;
	padding-bottom:10px;
	color:#666666;
	font-weight:bold;
	float:right;
	padding-right:10px;
	border-bottom: #CCCCCC thin solid;
	width:100%;
}

xf|*.loginField {
	display:block;
	clear:both;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
}

xf|*.loginField > xf|label {
    float:left;
    text-align:right;
    width:30%;
    display:inline;
    padding-right:10px;
    font-weight:bold;
    color:#333333;
}

xf|input .xf-value {
	width:65%;
}

.submitButton {
    float:right;
    padding-right:10px;
}
/*
xf|input.loginField > xf|label span, xf|secret.loginField > xf|label span, xf|select1.loginField > xf|label span {
    display: table-cell;
    width: 200px;
}
xf|input.loginField > .xf-value , xf|secret.loginField > .xf-value, xf|select1.loginField > .xf-value {
    display: table-cell;
    width: 100px;
}
*/

html, body {
    height: 100%;
}
div.modeler {
    position: relative;
    min-height: 100%;
}

#perspectives {
    width: 100%;
    position: absolute;
    top: 5px;
    bottom: 65px;
}

#perspectives_title {
    font-size: large;
    border-bottom: 2px solid #4C8021;
}

#perspectives_toolbar {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: smaller;
    background-color: #CCDBC0;
    color: black;
    padding: 3px 5px;
}

#perspectives_toolbar h2 {
    display: none;
}
#perspectives_toolbar ul {
    list-style: none;
}
#perspectives_toolbar li {
    display: inline;    
}
#perspectives_toolbar li:before {
    content: " - ";    
}
#perspectives_toolbar ul:after {
    content: " - ";    
}
#perspectives_toolbar a {
    text-decoration: none;
    color: black;
}
#perspectives_toolbar a:hover {
          border-bottom: 1px dotted black;
}

#perspectives_panes {
    width: 100%;
    overflow: auto;
    position: absolute;
    bottom: 0px;
    top: 2.2em;
}

.perspective_main {
    width: 100%;
}

.perspective_main_left {
    width: 23em;
    float: left;
}

.perspective_main_right {
    margin: 0px 0px 0px 23.5em;
}

.scope {
    background-color: yellow;
    height: 200px;
}

.scope .toggle {
    height: 40px;
    border: black dashed 1px;
}
.scope .tree {
    clear: both;
}


.reports {
    height: 40px;
    border: black dashed 1px;
}

.finder {
    position: static;
    border: black dashed 1px;
}

.finder_control {
    position: static;
    border: black dashed 1px;
}

.finder_show {
    float: left;
    border: black dashed 1px;
}

.finder_filter {
    float: right;
    border: black dashed 1px;
}

.finder_main {
    clear: right;
    position: static;
    border: black dashed 1px;
}

.viewer {
    position: static;
    border: black dashed 1px;
}

.viewer_control {
    position: static;
    border: black dashed 1px;
}

.viewer_crumbs {
    float: left;
    border: black dashed 1px;
}

.viewer_buttons {
    float: right;
    width: 100px;
    border: black dashed 1px;
}

.viewer_main {
    clear: both;
    position: static;
    border: black dashed 1px;
}

/* Dashboard */

#switcher {
    width: 100%;
    max-width:1024px;
    position: absolute;
    bottom: 5px;
    background-color: #CCDBC0; 
    color: black;
    margin: 5px 0px 0px 0px;
}

#dashboard_a h2, #perspectives_menu h2 {
    display: none;
}

#dashboard_a, #dashboard_b {
    color: black;
    background-color: #CCDBC0; 
    padding: 3px 5px;
    font-size:smaller;
    width: 15.15em;
 }

#dashboard_a {
    float: left;
}

#dashboard_b {
    float: right;
}

#dashboard_a ul, #dashboard_b ul, #mainMenu ul {
    list-style: none;
}

#dashboard_a a, #dashboard_b a {
    color: black;
    background-color: inherit;
    text-decoration: none;
}

#dashboard_a a:hover, #dashboard_b a:hover {
    border-bottom: 1px dotted black;
}

#perspectives_menu {
    font-size:smaller;
    height: 55px;
    overflow: hidden;
}

.fisheyeContainer {
           display: table;
           color: black;
           background-color: #CCDBC0; 
	margin: 0px auto;
}

#mainMenu ul {
    display: table-row;
}

#mainMenu li {
    display: table-cell;
}

.fisheye {
	text-align: center;
}

a.fisheyeItem {
           margin: 3px 5px 5px 2px;
           padding: 2px 0px 0px 0px;
           display: block;
           width: 7.26em;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}
a.fisheyeItem:hover {
          margin: 3px 4px 3px 1px;
          border: 1px inset white;
}
a.fisheyeItem.selected {
          font-weight: bold;
}


.fisheyeItem img {
           display: block;
           margin: 0px auto;
	border: none;
}
.fisheyeItem span {
    display: block;
    bottom: 0px;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
}
