@namespace xf url("http://www.w3.org/2002/xforms");

* {
	margin: 0;
	padding: 0;
}

*:invalid > xf|alert {
    display:block;
    font-family:"Courier New", Courier, monospace;
    font-weight:bold;
    color:#FF0000;
    border-bottom:#FF0000 1px dotted; 
}

.hidden {
    display: none;
}

body {
    max-width:1024px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    /*Didot, Georgia, */
    font-size: small;
}

#login {
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    width:50%;
}

#loginForm > .title {
	text-align: right;
	font-size: 0.8em;
	padding-top:10px;
	padding-bottom:10px;
	color:#666666;
	font-weight:bold;
	float:right;
	padding-right:10px;
	border-bottom: #CCCCCC thin solid;
	width:100%;
}

xf|*.loginField {
	display:block;
	clear:both;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
}

xf|*.loginField > xf|label {
    float:left;
    text-align:right;
    width:30%;
    display:inline;
    padding-right:10px;
    font-weight:bold;
    color:#333333;
}

xf|input .xf-value {
	width:65%;
}

.submitButton {
    float:right;
    padding-right:10px;
}
/*
xf|input.loginField > xf|label span, xf|secret.loginField > xf|label span, xf|select1.loginField > xf|label span {
    display: table-cell;
    width: 200px;
}
xf|input.loginField > .xf-value , xf|secret.loginField > .xf-value, xf|select1.loginField > .xf-value {
    display: table-cell;
    width: 100px;
}
*/
#switcher {
    width: 100%;
    border: black dashed 1px;
}

#dashboard_a {
    float: left;
    border: black dashed 1px;
    width: 25%;
    min-width: 200px;
}

#dashboard_b {
    float: right;
    border: black dashed 1px;
    width: 25%;
    min-width: 200px;
}

#perspectives_menu {
    border: black dashed 1px;
    float: left;
    width: 49%;
    min-width: 300px;

}
.fisheye {
	text-align: center;
	height: 50px;
	position: relative;
}
a.fisheyeItem {
	text-align: center;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	width: 40px;
	position: absolute;
	display: block;
	top: 0;
}
.fisheyeItem img {
	border: none;
	margin: 0 auto 5px auto;
	width: 100%;
}
.fisheyeItem span {
	display: none;
	position: absolute;
}
.fisheyeContainer {
	background-color: #ccc;
	height: 50px;
	width: 200px;
	left: 500px;
	position: absolute;
}
#perspectives {
    clear: both;
    width: 100%;
    position: static;
    border: black dashed 1px;
}

#perspectives_top {
    position: static;
    border: black dashed 1px;
}

#perspectives_title {
    float: left;
    font-size: 1.5em;
    border: black dashed 1px;
}

#perspectives_toolbar {
    float: right;
    background-color: lightgray;
    padding: 2px;
    border: black solid 1px;
}

#perspectives_panes {
    clear: both;
    position: relative;
    border: black solid 1px;
}

.perspective_main {
    position: absolute;
    width: 100%;
    border: black dashed 1px;
}

.perspective_main_left {
    float: left;
    width: 25%;
    border: black dashed 1px;
}

.scope {
    border: black dashed 1px;
    background-color: yellow;
    height: 500px;
}

.reports {
    height: 40px;
    border: black dashed 1px;
}

.perspective_main_right {
    float: right;
    width: 74%;
    border: black dashed 1px;
}

.finder {
    position: static;
    border: black dashed 1px;
}

.finder_control {
    position: static;
    border: black dashed 1px;
}

.finder_show {
    float: left;
    border: black dashed 1px;
}

.finder_filter {
    float: right;
    border: black dashed 1px;
}

.finder_main {
    clear: both;
    position: static;
    border: black dashed 1px;
}

.viewer {
    position: static;
    border: black dashed 1px;
}

.viewer_control {
    position: static;
    border: black dashed 1px;
}

.viewer_crumbs {
    float: left;
    border: black dashed 1px;
}

.viewer_buttons {
    float: right;
    width: 100px;
    border: black dashed 1px;
}

.viewer_main {
    clear: both;
    position: static;
    border: black dashed 1px;
}


