@namespace xf url("http://www.w3.org/2002/xforms");

* {
	margin: 0;
	padding: 0;
}

#dashboard_a a, #dashboard_b a, .viewer_crumbs a, #perspectives_toolbar a {
    text-decoration: none;
    background-color: inherit;
    color: black;
}
#dashboard_a a:hover, #dashboard_b a:hover, .viewer_crumbs a:hover, #perspectives_toolbar a:hover {
          border-bottom: 1px dotted black;
}

*:invalid > xf|alert {
    display:block;
    font-family:"Courier New", Courier, monospace;
    font-weight:bold;
    color:#FF0000;
    border-bottom:#FF0000 1px dotted; 
}

.hidden {
    display: none;
}

body {
    max-width:80em;
    min-width:53em;
    min-height: 25em;
    margin: 0px auto;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    /*Didot, Georgia, */
    font-size: 80%;
    padding: 0em 0.4em;
}

#login {
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    width:50%;
}

#loginForm > .title {
	text-align: right;
	font-size: 0.8em;
	padding-top:10px;
	padding-bottom:10px;
	color:#666666;
	font-weight:bold;
	float:right;
	padding-right:10px;
	border-bottom: #CCCCCC thin solid;
	width:100%;
}

xf|*.loginField {
	display:block;
	clear:both;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
}

xf|*.loginField > xf|label {
    float:left;
    text-align:right;
    width:30%;
    display:inline;
    padding-right:10px;
    font-weight:bold;
    color:#333333;
}

xf|input .xf-value {
	width:65%;
}

.submitButton {
    float:right;
    padding-right:10px;
}
/*
xf|input.loginField > xf|label span, xf|secret.loginField > xf|label span, xf|select1.loginField > xf|label span {
    display: table-cell;
    width: 200px;
}
xf|input.loginField > .xf-value , xf|secret.loginField > .xf-value, xf|select1.loginField > .xf-value {
    display: table-cell;
    width: 100px;
}
*/

html, body {
    height: 100%;
}
hr {
    display: none;
}
div.modeler {
    position: relative;
    min-height: 100%;
    font-size: inherit;
}

#perspectives {
    width: 100%;
    position: absolute;
    top: 0.4em;
    bottom: 5.4em;
}

#perspectives_title {
    font-size: large;
    border-bottom: 2px solid #4C8021;
}

#perspectives_toolbar {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: smaller;
    background-color: #CCDBC0;
    color: black;
    padding: 3px 5px;
}

#perspectives_toolbar h2 {
    display: none;
}
#perspectives_toolbar ul {
    list-style: none;
}
#perspectives_toolbar li {
    display: inline;    
}
#perspectives_toolbar li:before {
    content: " - ";    
}
#perspectives_toolbar ul:after {
    content: " - ";    
}

#perspectives_panes {
    width: 100%;
    position: absolute;
    bottom: 0em;
    top: 2.4em;
}

.perspective_main {
    width: 100%;
}

.perspective_main h2 {
    display: none;
 }

.perspective_main_left {
    width: 25%;
    height: 100%;
    position: relative;
}

.perspective_main_right {
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 25%;
    margin-left: 0.4em;
}
div.perspective_main_right > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.scope {
    position: absolute;
    top: 0em;
    bottom: 3.9em;
    width: 100%;
}
.scope .toggle {
    background-color: white;
    border-bottom: 2px solid #CCDBC0;
    position: absolute;
    top: 0em;
    height: 1em;
    left: 0em;
    right: 0em;
    z-index: 2;
    list-style-type: none;
}

.scope .toggle .button {
    background-color: #CCDBC0;
    color: black;
    border: 1px outset #CCDBC0;
    padding: 0em 0.4em;
    cursor: pointer;
    float: left;
    font-size: smaller;
}

.scope .toggle .button.selected {
    border-bottom: 1px solid transparent;
    font-weight: bold;
}

.scope .treeSet {
    position: absolute;
    top: 1em;
    bottom: 0em;
    left: 0em;
    right: 0em;
    overflow: auto;
    border: 2px solid #CCDBC0;
}

.scope .tree {
    position: absolute;
}

.reports {
    position: absolute;
    bottom: 0em;
    left: 0em;
    right: 0em;
    overflow: auto;
    padding: 0.2em;

}
.reports h3 {
    display: none;
}
.reports ol {
    font-size: smaller;
    list-style-type: none;
 }
.reports li {
    display: block;
    width: 10em;
    float: left;
    padding: 0em 0.2em 0em 1.8em;
    background: transparent url("images/icons/xsmall/document.png") no-repeat 0.1em 50%;
    min-height: 16px;
 }
.reports a {
    text-decoration: none;
    background-color: transparent;
    color: black;
    vertical-align: middle;
    min-height: 16px;
    border-bottom: 1px solid white;
 }
.reports a:hover {
    border-bottom: 1px dotted black;
 }

.finder {
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 61.8%;
    left: 0em;
    background-color: #CCDBC0;
    padding: 0.2em;
}

.finder_control {
    font-size: smaller;
    margin-bottom: 0.4em;
    padding: 1px 0.4em 1px 0.4em;
    color: black;
    height: 2em;
}

.finder_control select, .finder_control input {
    border: 1px inset #CCDBC0;
}

.finder_show {
    float: left;
}

.finder_filter {
    text-align: right;
    white-space: nowrap;
}

div.finder_main {
    position: absolute;
    bottom: 0.4em;
    top: 1.9em;
    left: 0.4em;
    right: 0.4em;
    overflow: auto;
}
div.finder_main > div {
    display: block;
}

.viewer {
    position: absolute;
    top: 38.2%;
    bottom: 0em;
    left: 0em;
    right: 0em;
    margin-top: 0.4em;
    overflow: auto;
}

.viewer_buttons {
    position: absolute;
    bottom: 0em;
    right: 0em;
}
.viewer_buttons input {
    background-color: #CCDBC0;
    color: black;
    border: 1px outset #CCDBC0;
    padding: 0em 0.2em;
    margin: 1px; 
    width: 5em;
    cursor: pointer;
}
.viewer_buttons input:hover {
    border: 1px inset #CCDBC0;
    margin: 2px 0px 0pt 2px; 
}

.viewer_main {
    height: 100%;
}

.viewer_crumbs {
    position: absolute;
    bottom: 1px;
    margin: 0.4px 0.4em 0em 0px;
    background-color: #CCDBC0;
    color: black;
}
.viewer_crumbs h3 {
    display: none;
}

.viewer_crumbs ul {
    list-style-type: none;
    font-size: smaller;
    padding: 0.4em;
}
.viewer_crumbs li {
    display: inline;
    cursor: pointer;
}
.viewer_crumbs li:before {
    content: " \BB  ";
}
.viewer_crumbs li.first:before {
    content: " ";
}

/* Dashboard */

#switcher {
    width: 100%;
    position: absolute;
    bottom: 0.4em;
    background-color: #CCDBC0; 
    color: black;
    overflow:hidden;
    min-height: 51px;
}

#dashboard_a h2, #perspectives_menu h2 {
    display: none;
}

#dashboard_a, #dashboard_b {
    color: black;
    background-color: #CCDBC0; 
    padding: 3px 5px;
    font-size:smaller;
 }

#dashboard_a {
    float: left;
    width: 27%;
}

#dashboard_b {
    float: right;
}

#dashboard_a ul, #dashboard_b ul, #mainMenu ul {
    list-style: none;
}

#perspectives_menu {
    font-size:smaller;
}

.fisheyeContainer {
           color: black;
           background-color: #CCDBC0; 
}

.fisheye {
	text-align: center;
}

a.fisheyeItem {
           margin: 3px 5px 5px 2px;
           padding: 2px 0.2em 0px 0.2em;
           display: block;
           float: left;
           width: 7em;
           min-width: 34px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
a.fisheyeItem:hover {
          margin: 3px 3px 3px 2px;
          border: 1px inset white;
}
a.fisheyeItem.selected {
          font-weight: bold;
}

.fisheyeItem img {
           display: block;
           margin: 0px auto;
	border: none;
}
.fisheyeItem span {
}

/* Text pages */
.blurb {
    padding: 0em 0.4em 0em 0.4em;
}

.blurb ul, .blurb ol {
    margin: 0.5em 0em 0em 3em;
}

.blurb p {
   margin-top: 0.5em;
}

.blurb h4 {
   margin-top: 1em;
}
div.blurb {
    overflow: auto;
}
