body {
    font-size: 9pt;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 94em;
    min-height: 34em;
}

body.profile {
}

.stretch {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#contents {
    position: absolute;
    top: 5em;
    bottom: 5px;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-bottom: 5px;
}

div.section-content {
    position: absolute;
    top: 3em;
    bottom: 5px;
    left: 5px;
    right: 5px;
    overflow: auto;
}

#graph, #part {
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px 5px 0 5px;
}

#part {
    bottom: 0;
    top: 50.5%;
    overflow: hidden;
}

#graph {
    top: 0;
    bottom: 49.5%;
    overflow: auto;
}

div.zoom {
    opacity: .5;
    top: 5px;
    left: 5px;
    position: inherit;
    z-index: 1000;
    cursor: pointer;
}

#contents div.zoom {
    top: 10px;
    left: 10px;
}

div.section-title {
    position: relative;
}

#reqs, #outcomes, #part-header {
    position: absolute;
    top: 0;
    bottom: 0;
}

#part-header {
    left: 0;
    right: 66.66%;
    margin-right: 4px;
}

#reqs {
    left: 33.33%;
    right: 33.33%;
    margin-right: 2px;
}

#outcomes {
    left: 66.66%;
    right: 0;
    margin-left: 2px;
}

#scenario {
    width: 32%;
}

div.header {
    height: 5em;
    padding-left: 60px;
    margin-bottom: 5px;
}

div.section, div.form {
    margin: 5px auto;
    position: relative;
    max-width: 80em;
}

div.section input[type='submit'] {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#footer {
    display: none;
}

#sc-sel {
    float: left;
    line-height: 1em;
    list-style-position: inside;
    margin: 0 2em 0 0;
    padding: 0;
    text-align: left;
}

#sc-sel li {
    font-size: 8pt;
}

input, textarea, select, div.flow-details {
    padding-left: 0.3em;
    margin: 0;
}

input[type='checkbox'], input[type='radio'] {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

input[type='submit'], input[type='button'], input[type='file'] {
    font-size: 8pt;
}

input[type='file'] {
    margin-top: 2px;
}

input[type='text'], textarea {
    width: 96%;
}

input[type="text"].no-expand {
    width: 5em;
}

input[type="text"].address {
    width: 12em;
}

input[type="text"].invalid-address {
    width: 12em;
    background-color: bisque;
    border: 1px inset gray;
}

.float {
    float: right;
}

div.issues {
    position: relative;
    border: 1px inset #d11212;
    padding: 5px 5px 0 5px;
    margin-top: 5px;
}

#part div.issues {
    margin-right: 7px;
}

div.issues h4 {
    background: transparent url( 'images/warning.png' ) no-repeat 0 0;
    padding-left: 20px;
    border-bottom: 1px solid #730A0A;
}

div.issues li {
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

div.issue-details {
    margin-top: 5px;
}

div.issue-details table {
}

input.error, div.issues {
    background-color: bisque;
}

span.error, li.error {
    background: transparent url( 'images/warning.png' ) no-repeat 100% 0;
    padding-right: 20px;
}

span.waived, li.waived {
    background: transparent url( 'images/waived.png' ) no-repeat 100% 0;
    padding-right: 20px;
}

h1, h2, h3, h4 {
    margin: 0 0 0.4em 0;
    padding-right: 4em;
}

h1 {
    padding: 0.8em 5px 5px 0;
    font-size: 1.6em;
    margin: 0;
    float: left;
}

h2, h3 {
    border-bottom: 1px solid #4d8222;
    line-height: 20px;
}

h2 {
    padding: 0 0 1px 0;
    font-size: 1.2em;
    white-space: nowrap;
}

h3 {
    padding: 1px 0 0 0;
    font-size: 1.1em;
}

body, ul.menu, span.menubar {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

table {
    border-collapse: collapse;
}

#part td {
    width: 100%;
    padding-right: 0;
}

#part table {
    width: 98%;
}

tbody {
}

div.flow-details {
    margin: 5px 0;
    position: relative;
    padding: 5px;
}

textarea, select, input[type='text'], td, th {
    font: inherit;
    margin: 0;
}

th {
    white-space: nowrap;
}

td, th {
    padding: 0 5px 2px 0;
    vertical-align: baseline;
}

th.area {
    vertical-align: top;
    padding-top: 1px;
    white-space: normal;
}

td span.timing:first-child {
    margin-bottom: 2px;
}

span.timing {
    display: block;
    white-space: nowrap;
}

span.timing input:first-child {
    margin-right: 2px;
}

div.section td, div.section th {
    padding-right: 2em;
}

ul.menu, div.caption, span.menubar, ul.ranges {
    font-size: 8pt;
}

#logout {
    margin: 0;
}

#controls {
    position: absolute;
    top: 0;
    right: 5em;
    padding: 5px;
}

#form-buttons {
    margin: 0;
    top: 3px;
    right: 5px;
    position: absolute;
}

ol {
    margin: 0;
    padding: 2px 0 0 1.5em;
}

#reqs ol, #outcomes ol {
    width: 95%;
}

#reqs ol > li, #outcomes ol > li {
    position: relative;
    margin: 0 0 0.6em 0;
    line-height: 1.2em;
}

#reqs ol > li span, #outcomes ol > li span {
}

ol.channels {
}

ol.channels li {
    margin: 0 0 2px !important;
    white-space: nowrap;
}

.section-title span.menubar {
    top: 4px;
}

ul.menu, span.menubar {
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
}

ul.menu li {
    display: inline;
}

ul.attach ul.menu li:before {
    content: " ";
}

ul.menu li:before {
    content: " \2015  ";
}

#part ul.menu li:first-child:before {
    content: " ";
}

div.section-title ul.menu {
    padding-left: 5px;
    z-index: 1;

    top: auto;
    bottom: 2px;
    margin: 0;
}

ul.attach ul.menu {
    padding-top: 2px;
    padding-right:8px;
}

.header ul.menu, .header span.menubar {
    display: block;
    margin: 0;
    padding-top: 1.7em;
    position: static;
}

#reqs span.menubar, #outcomes span.menubar, .issues span.menubar {
    float: right;
    position: static;
}

h2 ul.menu, h3 ul.menu {
    margin: 2px 5px 0 0;
}

ol > li > ul.menu {
    margin: 1px 0 0 5px;
    position: static;
    float: right;
}

ul.attach, ul.call-list {
    margin: 0;
    padding: 0 0 0 1em;
    list-style: outside;
    line-height: 1.5em;
}

ul.call-list {
    padding-bottom: 5px;
}

ul.attach li {
    position: relative;
}

ul.attach input[type='text'] {
    height: 1.2em;
    margin-top: 2px;
    width: 20em;
}

span.suggest {
    font-style: italic;
}

div.picture {
    background: white;
}

div.picture img {
    border: none;
}

p.caption {
    padding: 0;
    margin: 0;
    clear: both;
}

hr {
    display: none;
}

a, a:link, a:visited, td.link span {
    color: #4f2d87;
    text-decoration: none;
    cursor: pointer;
}

h1 a, div.caption a {
    padding: 0 2px;
}

/** Backgrounds & borders */
html {
    background: #C3D9FF;
}

div.header {
    background: transparent url( 'images/logo.png' ) no-repeat 5px 2px;
}

.role .header {
    background: transparent url( 'images/role.png' ) no-repeat 5px 2px;
}

.actor .header {
    background: transparent url( 'images/actor.png' ) no-repeat 5px 2px;
}

.organization .header {
    background: transparent url( 'images/organization.png' ) no-repeat 5px 2px;
}

#footer {
    border: 1px outset #6fafaf;
}

#graph {
    background: white;
}

#part-header, #reqs, #outcomes, div.section, #graph, div.aspect {
    border: 1px inset #c3dede;
}

#part-header, #reqs, #outcomes, div.section, div.aspect {
    background: #f6f6f6;
    padding: 5px;
}

td.link.notify, td.link.answer {
    background: transparent url( 'images/arrow_right_blue.png' ) no-repeat 0 50%;
    padding-left: 25px;
}

#reqs h3 span {
    background: transparent url( 'images/arrow_left_blue.png' ) no-repeat 100% 50%;
    padding-right: 25px;
}

td.link.ask, td.link.receive {
    background: transparent url( 'images/arrow_left_blue.png' ) no-repeat 0 50%;
    padding-left: 25px;
}

#outcomes h3 span {
    background: transparent url( 'images/arrow_right_blue.png' ) no-repeat 100% 50%;
    padding-right: 25px;
}

th.wicket_orderDown a {
    background: transparent url( 'images/navigate_open.png' ) no-repeat 100% 0;
    padding-right: 16px;
}

th.wicket_orderUp a {
    background: transparent url( 'images/navigate_close.png' ) no-repeat 100% 0;
    padding-right: 16px;
}

div.section th {
    color: black;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

div.form th {
    text-align: right;
}

.profile thead a, .profile thead a:link, .profile thead a:visited {
    color: black;
}

.italic {
    font-style: italic;
}

li.doc_Document {
    padding-left: 20px;
    background: transparent url( 'images/document.png' ) no-repeat 0;
}

li.doc_MOU {
    padding-left: 20px;
    background: transparent url( 'images/handshake.png' ) no-repeat 0;
}

li.doc_PolicyMust {
    padding-left: 20px;
    background: transparent url( 'images/scroll_ok.png' ) no-repeat 0;
}

li.doc_PolicyCant {
    padding-left: 20px;
    background: transparent url( 'images/scroll_error.png' ) no-repeat 0;
}

div.wicket-aa-container {
    background: white;
    border: 1px outset gray;
    margin: 2px;
}

div.wicket-aa {
}

div.wicket-aa ul {
    margin: 0;
    padding: 2px;
    list-style: none;
}

div.wicket-aa ul li {
    cursor: pointer;
}

div.wicket-aa ul li:hover {
    background: #C3D9FF;
}

div.wicket-aa ul li.selected {
}

.menubar .dropmenu {
    width: auto;
    cursor: default;
    background: transparent url( images/dropmenu.png ) no-repeat scroll 100% 50%;
    padding: 0 12px 0 5px;
    position: relative;
}

.menubar .dropmenu:hover {
    background-color: #bbb;
}

.menubar .dropmenu ul {
    display: none;
    position: absolute;
    top: 1.1em;
    right: 0;
    background-color: #e6e6e6;
    color: black;
    list-style: none;
    margin: 0;
    padding: 3px;
    z-index: 100000;
}

.menubar span.dropmenu ul li {
    display: block;
    padding: 0.2em;
    z-index: 100000;
}

#part .menubar span.dropmenu.first:before {
    content: " ";
}

.menubar span.dropmenu:before, .menubar span.menuitem:before {
    content: " \2015  ";
}

.menubar .dropmenu li span.disabled {
    font-style: oblique;
    color: gray;
}

.menubar span.dropmenu:hover ul {
    display: block;
}

.menubar span.dropmenu ul li:hover {
    background-color: #ccf;
}

.menubar span.menuitem {
    padding-left: 5px;
}

div.scenario, div.entity, div.plan {
    background: #C3D9FF;
    border: 1px outset #c3dede;
    padding: 5px;
    width: 47%;
    position: absolute;
    z-index: 10;
    overflow: auto;
}

div.scenario {
    top: 6em;
    right: 2em;
    min-height: 32em;
}

div.entity {
    top: 7.5em;
    bottom: 7em;
    left: 1em;
}

div.plan {
    right: 2em;
    top: 7em;
    bottom: 7em;
    min-height: 14em;
}

.entity span.menubar, .scenario span.menubar, .plan span.menubar {
    float: right;
}

div.aspect {
    right: 5px;
    top: 5em;
    bottom: 5px;
    left: 5px;
    overflow: auto;
    position: absolute;
}

.aspect table {
    width: 100%;
    border-collapse: separate;
}

.aspect thead td {
    border-bottom: 1px solid #4d8222;
    font-weight: bold;
    padding: 0 10px 0 0
}

.aspect tr.headers th {
    text-align: left;
    font-weight: bold;
}

.aspect tr.even {
    background-color: #FDFDFD;
}

.aspect tr.odd {
}

.refresh {
    cursor: pointer;
    float: left;
    position: inherit;
    top: 5px;
    z-index: 1000;
    padding-top: 1.1em;
    padding-right: 5px;
}

/* Tabbed panels */

div.tabpanel div.tab-row{
  float:left;
  width:100%;
  background:#DAE0D2 url("images/tabs/bg.gif") repeat-x bottom;
  line-height:normal;
  }

div.tabpanel div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }

div.tabpanel div.tab-row li {
  float:left;
  background:url("images/tabs/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }

div.tabpanel div.tab-row a {
  display:block;
  background:url("images/tabs/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  white-space:nowrap;
  }

div.tabpanel div.tab-row a:hover {
  color:#333;
  }

div.tabpanel div.tab-row li.selected {
  background-image:url("images/tabs/left_on.gif");
  }

div.tabpanel div.tab-row li.selected a {
  background-image:url("images/tabs/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }

div.tabpanel table {
  border: 1px solid transparent;
  display: block;
}

ul.ranges {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

ul.ranges li {
    display: inline;
}

ul.ranges li:before {
    content: "  \2015   ";
}
ul.ranges li:first-child:before {
    content: " ";
}

ul.ranges li a.selected {
    background-color: #C3D9FF;
    color: black;
}


