body {
    font-size: 9pt;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 94em;
    min-height: 34em;
}

body.profile {
}

.stretch {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#sc-details {
    z-index: 1;
    position: absolute;
    right: 12px;
    top: 6em;
}

#contents {
    position: absolute;
    top: 5em;
    bottom: 5px;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-bottom: 5px;
}

#part-header {
}

#part-header, #controls {
}

#part-content {
    position: absolute;
    top: 2.5em;
    bottom: 5px;
    left: 5px;
    width: 32.3%;
    overflow: auto;
}

#graph, #part {
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px 5px 0 5px;
}

#part {
    bottom: 0;
    top: 50.5%;
    overflow: hidden;
}

#graph {
    top: 0;
    bottom: 49.5%;
    overflow: auto;
}

#part-title {
    position: relative;
}

#reqs, #outcomes {
    position: absolute;
    top: 5px;
    bottom: 5px;
}

#reqs {
    left: 33.33%;
}

#outcomes {
    left: 66.66%;
}

#reqs, #outcomes, #part-header, #sc-details {
    width: 32.5%;
}

#header {
    height: 5em;
    padding-left: 60px;
    margin-bottom: 5px;
}

#details, #directory, #playbook, #gaps {
    margin: 5px auto;
    max-width: 80em;
}

#footer {
    display: none;
}

#sc-sel {
    float: left;
    line-height: 1em;
    list-style-position: inside;
    margin: 0 2em 0 0;
    padding: 0;
    text-align: left;
}
#sc-sel li {
    font-size: 8pt;
}

input[type='text'], textarea, select, table.flow-details {
    padding-left: 0.3em;
}
input[type='checkbox'], input[type='radio'] {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
input[type='text'], textarea {
    width: 25em;
}

.float {
    float: right;
}

div.issues {
    background: bisque  url('images/warning.png') no-repeat 6px 6px;
    border: 1px inset #d11212;
    margin-top: 0.4em;
    padding: 6px;
}
div.issues ol {
    margin: 0;
    padding: 0 0 0 4em;
}
input.error {
    background-color: bisque;
}
span.error, li.error {
    background: transparent url('images/warning.png') no-repeat 100% 50%;
    padding-right: 20px;
}

h1, h2, h3 {
    font-family: Tahoma,Times New Roman,Times,serif;
    margin: 0 0 0.4em 0;
    padding-right: 4em;
}
h1 {
    padding: 0.5em 5px 5px 0;
    font-size: 2em;
    margin: 0;
    float: left;
}
h2, h3 {
    padding-bottom: 1px;
    border-bottom: 1px solid #4d8222;
}

body, ul.menu {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
}

table.flow-details {
    padding: 0.3em;
    margin: 0.4em 0;
}

td, th, input, textarea, select {
    font: inherit;
  }

th {
    white-space: nowrap;
}

ul.menu, div.caption {
    font-size: 8pt;
}

#logout {
    margin: 0;
}

#controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

#form-buttons {
    margin: 0;
    text-align: left;
}

ol {
    margin: 0.8em 0;
    padding: 0 0 0 2em;
}

#reqs div, #outcomes div {
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
#reqs ol, #outcomes ol {
}
#reqs ol > li, #outcomes ol > li {
    position: relative;
    padding-right: 8em;
    margin: 0;
}

ul.menu {
    font-weight: normal;
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    display: inline;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
  }
ul.menu li {
    display: inline;
  }
ul.menu li:before {
    content: " \2015  ";
  }
/**
h2 ul.menu li:first-child:before, h3 ul.menu li:first-child:before, li ul.menu li:first-child:before {
    content: " ";
  }
**/

#header ul.menu {
    display: block;
    margin: 0;
    padding-top: 1.5em;
    position: static;
}

h2 ul.menu, h3 ul.menu, li ul.menu {
    margin: 2px 5px 0 0;
}

ul.attach, ul.call-list {
    margin: 0;
    padding: 0 0 0 1em;
    list-style: outside;
}

span.suggest {
    padding-left: 4em;
    font-style: italic;
    display: block;
}

div.picture {
    overflow: auto;
    background: white;
}
div.picture img {
    border: none;
}
p.caption {
    padding: 0;
    margin: 0;
    clear: both;
}

hr {
    display: none;
}

a, a:link, a:visited, td.link span {
    color: #4f2d87;
    text-decoration: none;
    cursor: pointer;
}

h1 a, div.caption a {
    padding: 0 2px;
}

/** Backgrounds & borders */
html, #sc-details {
    background: #c3dede;
}

#header {
    background: transparent url('images/logo.png') no-repeat 5px 2px;
}
.role #header {
    background: transparent url('images/masks.png') no-repeat 5px 2px;
}
#footer {
    border: 1px outset #6fafaf;
}

#part, #directory, #playbook, #gaps {
    background: #f6f6f6;
    padding: 5px;
}
#graph {
    background: white;
}
#part, #graph, #directory, #playbook, #gaps {
    border: 1px inset #c3dede;
}
#sc-details {
    border: 1px outset #c3dede;
}
input[type='text'], textarea, select, table.flow-details {
    border: 1px inset #a7c092;
}

#reqs h3, td.link.notify, td.link.answer {
    background: transparent url('images/arrow_right_blue.png') no-repeat;
    padding-left: 20px;
}
#outcomes h3, td.link.ask, td.link.receive {
    background: transparent url('images/arrow_left_blue.png') no-repeat;
    padding-left: 20px;
}

th.wicket_orderDown a {
    background: transparent url('images/navigate_open.png') no-repeat 100% 0;
    padding-right: 16px;
}
th.wicket_orderUp a {
    background: transparent url('images/navigate_close.png') no-repeat 100% 0;
    padding-right: 16px;
}

#playbook th, #directory th, #gaps th {
    color: black;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}
.profile th, .profile td {
    padding-right: 2em;
    vertical-align: top;
}

.profile th a, .profile th a:link, .profile th a:visited {
    color: black;
}