body {
    font-size: 9pt;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 94em;
}

form {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#sc-details {
    margin: 0.4em;
    max-width: 40em;
    position: absolute;
    right: 6px;
    z-index: 1;
}

#contents {
    position: absolute;
    top: 6.5em;
    bottom: 6px;
    left: 6px;
    right: 6px;
}

#part {
    left: 0;
    width: 33em;
}

#graph {
    left: 34.5em;
    right: 0;
}

#graph, #part {
    position: absolute;
    top: 0;
    bottom: 49%;
}

#part > div {
    position: absolute;
    top: 2.5em;
    bottom: 0;
    overflow: auto;
    padding: 0 6px 6px 0;
    left: 6px;
    right: 0;
}

#reqs {
    right: 50%;
    margin-right: 3px;
}

#outcomes {
    left: 50%;
    margin-left: 3px;
}

#reqs, #outcomes {
    position: absolute;
    bottom: 0;
    width: 40em;
    height: 46%;
}

#header {
    margin-bottom: 0.4em;
}

#footer {
    display: none;
    padding: 0.4em;
}

#sc-sel {
    position: absolute;
    top: 3px;
    right: 6px;
    font-size: 8pt;
    line-height: 1em;
    list-style: none;
    margin: 0;
    padding: 6px;
    text-align: left;
}

#part, #outcomes, #reqs, div.picture, #sc-details {
    border: 1px inset #c3dede;
}
#sc-sel {
    border: 1px inset #6FAFAF;
}

input[type='text'], textarea, select, table.flow-details {
    padding-left: 0.3em;
    border: 1px inset #a7c092;
}
input[type='checkbox'], input[type='radio'] {
    padding: 0;
    margin: 0;
    vertical-align: text-bottom;
}

div.issues {
    background: bisque  url('images/warning.png') no-repeat 6px 6px;
    border: 1px inset #d11212;
    margin-top: 0.4em;
    padding: 6px;
}
div.issues ol {
    margin: 0;
    padding: 0 0 0 4em;
}
input.error {
    background-color: bisque;
}
span.error, li.error {
    background: transparent url('images/warning.png') no-repeat 100% 50%;
    padding-right: 20px;
}

h1, h2, h3 {
    font-family: Tahoma,Times New Roman,Times,serif;
    margin: 0 0 0.4em 0;
}
h1 {
    background: transparent url('images/logo.png') no-repeat 0 50%;
    min-height: 42px;
    padding: 1em 6px 6px 60px;
    margin: 0;
}
h2 {
    padding-bottom: 2px;
    border-bottom: 2px solid #4d8222;
}
h3 {
    padding-bottom: 1px;
    border-bottom: 1px solid #4d8222;
}

body, ul.menu {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25em;
}

table.flow-details {
    padding: 0.3em;
    margin: 0.4em 0;
}

td, th, input, textarea, select {
    font: inherit;
  }

th {
    white-space: nowrap;
}

ul.menu, div.caption {
    font-size: 8pt;
}

#logout {
    margin: 0;
}

#form-buttons {
    margin: 0;
    position: absolute;
    bottom: 6px;
    right: 5px;
}

ol {
    margin: 0.8em 0;
    padding: 0 0 0 2em;
}
#reqs div, #outcomes div {
    position: absolute;
    top: 2em;
    bottom: 1em;
    left: 0;
    right: 0;
}
#reqs ol, #outcomes ol {
    height: 100%;
    overflow: auto;
}
#reqs ol li, #outcomes ol li {
    position: relative;
}

ul.menu {
    font-weight: normal;
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    display: inline;
    white-space: nowrap;
  }
ul.menu li {
    display: inline;
  }
ul.menu li:before {
    content: " \2015  ";
  }
h2 ul.menu li:first-child:before, h3 ul.menu li:first-child:before, li ul.menu li:first-child:before {
    content: " ";
  }

h2 ul.menu, h3 ul.menu, li ul.menu {
    position: absolute;
    right: 5px;
}

ul.attach, ul.call-list {
    margin: 0;
    padding: 0 0 0 1em;
    list-style: outside;
}

span.suggest {
    padding-left: 4em;
    font-style: italic;
    display: block;
}

div.picture {
    overflow: auto;
    background: white;
    position: absolute;
    top: 0;
    bottom: 1.5em;
    left: 0;
    right: 0;
}
div.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 6px;
}

hr {
    display: none;
}

a, a:link, a:visited {
    color: #4f2d87;
    text-decoration: none;
}

/** Backgrounds */
html, #sc-sel, h1 a, div.caption a {
    background: #c3dede url('images/back-light.png') repeat;
}

#header, #footer, #graph {
    background: #6fafaf url('images/back.png') repeat;
}

h1 a, div.caption a {
    padding: 0 2px;
}

#part, #outcomes, #reqs, #sc-details {
    background: #f6f6f6;
    padding: 5px;
}

