body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25em;
    padding: 0;
    margin: 0 auto;
    max-width: 70em;
    background: #f6f6f6;
}

#header {
    background: #c3d9ff url('images/logo.png') no-repeat 5px 7px;
    padding: 0.5625em 0.5625em 0.5625em  58px;
    min-height: 48px;
    position: relative;
}

#contents {
    font-size: 0.875em;
    background: white;
    padding: 1.125em 0.5625em 0.5625em 0.5625em;
}

#nav {
    font-size: 0.875em;
    float: right;
    clear: both;
}

#nav ul {
    margin-bottom: 0;
}

#nav hr {
    display: none;
}

p, td, th, ul {
    margin: 0 0 18px 0;
}
li {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
ul ul {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    line-height: 1.125em;
}

h1 {
    padding: 0;
    font-size: 19px;
}

h2 {
}

h3 {
    font-size: 75%;
    margin-top: 1em;
    font-weight: normal;
}

table {
    border: none;
}
table.stretch {
    width: 100%;
}
table.channels th {
    white-space: nowrap;
}

tr.odd {
    background: #f6f6f6;
}

th, td {
    border: none;
}

th {
    background: #c3d9ff;
    padding: 0 0.5em;
}

td.in {
    background: transparent url( 'images/arrow_left_blue.png' ) no-repeat 50% 50%;
    color: transparent;
    width: 23px;
}
td.out {
    background: transparent url( 'images/arrow_right_blue.png' ) no-repeat 50% 50%;
    color: transparent;
    width: 23px;
}

p {
    margin-bottom: 1em;
}

p.description {
}

div.events:first-child, div.notifications:first-child {
    border: none;
}
div.events, div.notifications {
    border-top: 1px solid #c3d9ff;
}

div.notifications {
    clear: both;
}

div.notifications img {
    margin-bottom: 1em;
}

div.notifications ul {
    display: block;
    margin-left: 55px;
}
