

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; }

* {
	margin: 0;
	padding: 0; }

div.headermenu,
a.toplink,
a.flow-map-link,
a.plan-map-link { display: none; }

div.flow-map { border: 5px solid #E8E8E8; }

div#contents { background: #FFFFFF; }

div.report-header,
div.headerlogo,
div.headermenu,
div#contents,
div#plan > span,
div#plan span ul li a,
p.notice,
div.segment,
div.section-head h2,
div.section-head.segment h2,
div.section-head h3,
table.tasks,
table.tasks ul,
table.tasks h4.tasks,
table.tasks h4.comm,
p.description,
div.flow-map,
div.top-organization,
div.actor,
div.header,
ul.contacts,
table.banner,
ul.flows li ul.contacts li.contact table.banner,
ul.tagscont,
p.section-head,
div.issues,
p.task-name,
ul.flows li p.section-head,
a.flow-map-link,
a.plan-map-link { float: none !important; }

