@media print {

    @page {
        margin: 0;
    }
    div.segment, .segment div.section, #directory {
        page-break-before: always;
    }

    tr.task {
        page-break-inside: avoid;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 9pt;
    }

    #selector {
        display: none;
    }
}

@media screen {
    body {
        margin: 0;
        padding: 5px;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 100%;
    }

    div.segment, .segment div.section, #directory {
        border-top: 2px solid black;
        margin-top: 1em;
        padding-top: 3em;
    }

    #selector {
        margin: 0 0 5px 0;
        padding: 5px;
        background-color: #E0EEEE;
        border: 1px outset #E0EEEE;
        text-align: right;
        font-size: 8pt;
    }
    #selector input {
        vertical-align: top; 
    }
}


div.flow-map:after, .segment div.section:after, #directory:after {
    content: "Confidential. (c) Mind-Alliance Systems, LLC 2009.";
    font-size: 0.625em;
    font-style: italic;
    text-align: right;
    padding: 0.5em 0.5em 0 0;
    display: block;
}

.section div.header ul.contacts, .tasks td, table.tasks th {
    width: 61.8%;
}
.section div.header div.section-head, .tasks td:first-child, .tasks th:first-child {
    width: 38.2%;
}

div.flow-map {
}

div.flow-map img {
    border: none;
    max-width: 100%;
}

div.organization > h3, div.organization > p.description {
    display: none;
}

.section div.header {
    display: table;
    width: 100%;
    border-spacing: 0.5em 0;
    margin-bottom: 2em;
    table-layout: fixed;
    position: relative;
}

.section div.header > div {
    display: table-row;
}

.section div.header div.section-head {
    display: table-cell;
}

.section div.header div.section-head h4 {
    font-size: 1.3125em;
    margin: 0;
}

.section div.header div.section-head ul {
    margin: 0.5em 0;
    padding: 0 0 0 1em;
}

.section div.header div.section-head ul li {
}

.section div.header div.section-head ul li.organization:before {
    content: "Organization: ";
}

.section div.header div.section-head ul li.segment:before {
    content: "Plan segment: ";
}


.section div.header ul.contacts {
    display: table-cell;
}

ul.contacts, ul.channels-only {
    background: transparent url('images/address_book.png') no-repeat scroll 0.5em 0.25em;
    border:  0.5pt dotted lightgray;
    padding: 0.5em 0.5em 0 40px !important;
}

ul.contacts {
    list-style: none;
    display:table;
    border-spacing:0;
}

ul.contacts h4 {
    display: none;
}

ul.contacts li.contact {
    display: table-row;
    padding-bottom: 0.5em;
}

ul.contacts li.contact p.name {
    display: table-cell;
    margin: 0;
    padding-bottom: 0.5em;
}

ul.channels {
    display: table-cell;
    width: 100%;
    list-style: none;
    padding: 0 0 0.5em 2em;
}

ul.channels-only {
    padding: 0.5em 0.5em 0 0.5em;
}

ul.channels-only li.channel {
    border-spacing: 0;
    padding: 0 2em 0.5em 0;
}

ul.channels li.channel, ul.channels-only li.channel {
    display: inline-table;
    min-width: 2.5in;
    margin: 0;
    padding-right: 2em;
}

div.section > ul.contacts {
    width: 61.8%;
    margin: 0 auto;
}

p.name span {
    white-space: nowrap;
}
p.name span.sub {
    clear: left;
    display: block;
    font-size: 8pt;
    font-style: italic;
}

p.description:before {
    content: "Details: ";
}

.task ul.details {
    list-style: none;
    padding: 0;
}

table.tasks {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

table.tasks th, table.tasks td {
    vertical-align: top;
    text-align: left;
    padding: 0.5em;
}

table.tasks th {
    background: #f8f8f8;
    border-top: 3px double lightgray;
    border-bottom: 3px double lightgray;
}

table.tasks thead {
    padding-bottom: 1em;
}

table.tasks td {
    border-top: 0.5pt dotted lightgray;
}

table.tasks tbody tr:first-child td {
    border-top: none;
}

table.tasks th h4 {
    margin: 0;
}

p.task-name {
    font-weight: bold;
    font-size: 1.125em;
}

.tasks p {
    margin: 0 0 0.5em 0;
}

.tasks td ul {
    margin: 0.5em 0 0 0;
}

.task h5 {
    margin: 0 0 1em 0;
}

ul.flows {
    list-style: none;
    padding: 0;
}

ul.flows > li {
    margin-bottom: 1em;
    padding: 0 0 0 2em;
}

ul.flows li.receive-notification, ul.flows li.send-answer {
    background: transparent url('images/arrow_left_blue.png') no-repeat top left;
}
ul.flows li.receive-notification.trigger, ul.flows li.send-answer.trigger {
    background: transparent url('images/left_plus.png') no-repeat top left;
}
ul.flows li.receive-notification.trigger.terminate, ul.flows li.send-answer.trigger.terminate {
    background: transparent url('images/left_both.png') no-repeat top left;
}
ul.flows li.receive-notification.terminate, ul.flows li.send-answer.terminate {
    background: transparent url('images/left_box.png') no-repeat top left;
}
ul.flows li.send-notification, ul.flows li.receive-answer {
    background: transparent url('images/arrow_right_blue.png') no-repeat top left;
}
ul.flows li.send-notification.trigger, ul.flows li.receive-answer.trigger {
    background: transparent url('images/right_plus.png') no-repeat top left;
}
ul.flows li.send-notification.trigger.terminate, ul.flows li.receive-answer.trigger.terminate {
    background: transparent url('images/right_both.png') no-repeat top left;
}
ul.flows li.send-notification.terminate, ul.flows li.receive-answer.terminate {
    background: transparent url('images/right_box.png') no-repeat top left;
}

.urgency {
    color: black;
    font-weight: bold;
}

.issues li {
    margin-top: 0.5em;
}

.issues .severe {
    color: darkred;
    font-weight: bold;
}

.issues .major {
    color: red;
}

.issues, p.description {
    font-size: 1em;
}

.issues .minor {
    color: gray;
}

#plan .client {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#plan .date {
    font-style: italic;
    margin: 0;
    padding: 0;
}

