@media print {

    @page {
        margin: 0;
    }
    div.scenario, .scenario div.role, #directory {
        page-break-before: always;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 10pt;
   }
}

@media screen {
    body {
        margin: 0;
        padding: 5px;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
    }

    div.scenario, .scenario div.role, #directory {
        border-top: 1px dotted gray;
        margin-top: 2em;
        padding-top: 2em;
    }
}

div.flow-map {
}

div.flow-map img {
}

div.organization > h3, div.organization > p.description {
    display: none;
}

.role table.header {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.role table.header td {
    padding: 0.5em;
    vertical-align: top;
    width: 50%;
}

.role table.header td.scenario-head h3, .role table.header td.role-head h4 {
    font-size: 1.5em;
    margin: 0;
}

.role table.header td.scenario-head {
}

.role table.header td.role-head {
}

.role table.header td.scenario-head h3 {
    color: darkred;
}

.role table.header * {
    margin: 0.5em 0 0 0;
}

.role table.header td.role-head ul {
    padding: 0;
    list-style: none;
}

.role table.header td.role-head ul li {
    margin: 0;
}

.role table.header td.role-head ul li.organization {
}

ul.contacts, ul.channels-only {
    background-color: #D0D0D0;
}

ul.contacts {
    list-style: none;
    display:table;
    border-spacing:0;
    padding: 0.5em 0.5em 0 0.5em !important;
}

ul.contacts h4 {
    display: none;
}

ul.contacts li.contact {
    display: table-row;
    padding-bottom: 0.5em;
}

ul.contacts li.contact p.name {
    display: table-cell;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.5em;
}

ul.channels {
    display: table-cell;
    width: 100%;
    list-style: none;
    padding: 0 0 0.5em 2em;
}

ul.channels-only {
    padding: 0;
}

ul.channels li.channel, ul.channels-only li.channel {
    display: inline-table;
    min-width: 2.5in;
    margin: 0;
    padding-right: 2em;
}

div.role > ul.contacts {
    width: 61.8%;
    margin: 0 auto;
}

p.name span {
    white-space: nowrap;
}

p.description:before {
    content: "Details: ";
}

.task ul.details {
    list-style: none;
    padding: 0;
}

table.tasks {
    width: 100%;
    border-spacing: 0.5em;
}

table.tasks th, table.tasks td {
    vertical-align: top;
    text-align: left;
    padding: 0.5em;
}

table.tasks th {
    background: #f0f0f0;
}

table.tasks td {
    border: 1px solid lightgray;
}

table.tasks th h4 {
    margin: 0;
}

p.task-name {
    font-weight: bold;
}

.tasks p {
    margin: 0 0 0.5em 0;
}

.tasks td:first-child, .tasks th:first-child {
    width: 38.2%;
}

.tasks td, table.tasks th {
    width: 61.8%;
}

.tasks td ul {
    margin: 0;
}

.task h5 {
    margin: 0 0 1em 0;
}

ul.flows {
    list-style: none;
    padding: 0;
}

ul.flows > li {
    min-height: 33px;
    padding: 15px 0 0 56px;
}

ul.flows li.receive-notification {
    background: transparent url('images/arrow_left_blue1.png') no-repeat top left;
}
ul.flows li.receive-answer {
    background: transparent url('images/arrow_left_blue1.png') no-repeat top left;
}
ul.flows li.send-notification {
    background: transparent url('images/arrow_right_blue1.png') no-repeat top left;
}
ul.flows li.send-answer {
    background: transparent url('images/arrow_right_blue1.png') no-repeat top left;
}

.urgency {
    color: black;
    font-weight: bold;
}

.issues .severe {
    color: darkred;
    font-weight: bold;
}

.issues .major {
    color: red;
}

.issues .minor {
    color: gray;
}