@media print {

    @page {
        margin: 0;
    }
    div.scenario, .scenario div.role, #directory {
        page-break-before: always;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 10pt;
   }
}

@media screen {
    body {
        margin: 0;
        padding: 5px;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
    }

    div.scenario, .scenario div.role, #directory {
        border-top: 1px dotted gray;
        margin-top: 2em;
        padding-top: 2em;
    }
}

div.flow-map {
}

div.flow-map img {
}

div.organization > h3, div.organization > p.description {
    display: none;
}

.role table.header {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.role ul.contacts {
    background-color: #D0D0D0;
    padding: 0.5em 0.5em 0 0.5em !important;
    width: 61.8%;
    list-style: none;
    margin: 0 auto;
}

.role ul.contacts li.contact {
    padding-bottom: 0.5em;
}

.role table.header td {
    padding: 0.5em;
    vertical-align: top;
    width: 50%;
}

.role table.header td.scenario-head h3, .role table.header td.role-head h4 {
    font-size: 1.5em;
    margin: 0;
}

.role table.header td.scenario-head {
}

.role table.header td.role-head {
}

.role table.header td.scenario-head h3 {
    color: darkred;
}

.role table.header * {
    margin: 0.5em 0 0 0;
}

.role table.header td.role-head ul {
    padding: 0;
    list-style: none;
}

.role table.header td.role-head ul li {
    margin: 0;
}

.role table.header td.role-head ul li.organization {
}

.role div.contacts {
    margin: 0 0.5em;
}

.role div.contacts h4 {
    display: none;
}

.role ul.contacts li.contact p.name {
    font-weight: bold;
    margin: 0;
    float: left;
    width: 1.4in;
}

.role ul.contacts ul.channels {
    list-style: none;
    margin: 0 0 0 1.4in;
}

.role ul.contacts li.channel {
    display: -moz-inline-box;
    min-width: 2.2in;
    margin: 0;
    padding-right: 1em;
}

.task ul.details {
    list-style: none;
    padding: 0;
}

table.tasks {
    width: 100%;
    border-spacing: 0.5em;
}

table.tasks th, table.tasks td {
    vertical-align: top;
    text-align: left;
    padding: 0.5em;
}

table.tasks th {
    background: #f0f0f0;
}

table.tasks td {
    border: 1px solid lightgray;
}

table.tasks th h4 {
    margin: 0;
}

p.task-name {
    font-weight: bold;
}

.tasks p, .tasks ul {
    margin: 0 0 0.5em 0;
}
.tasks ul {
    padding: 0 0 0 1em;
}

.tasks td:first-child, .tasks th:first-child {
    width: 38.2%;
}

.tasks td, table.tasks th {
    width: 61.8%;
}

.task ul {
}

.task li {
}

.task h5 {
    margin: 0 0 1em 0;
}

ul.flows {
    list-style: none;
    padding: 0;
}

ul.flows > li {
    min-height: 48px;
    padding: 15px 0 0 56px;
}

ul.flows li.receive-notification {
    background: transparent url('images/arrow_left_blue1.png') no-repeat top left;
}
ul.flows li.receive-answer {
    background: transparent url('images/arrow_left_blue1.png') no-repeat top left;
}
ul.flows li.send-notification {
    background: transparent url('images/arrow_right_blue1.png') no-repeat top left;
}
ul.flows li.send-answer {
    background: transparent url('images/arrow_right_blue1.png') no-repeat top left;
}

.urgency {
    color: red;
}