<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr wicket:id="system">
        <th align="right">
            <label for="system">Is a system:</label>
        </th>
        <td><input id="system" wicket:id="system" type="checkbox"/></td>
    </tr>
     <tr wicket:id="contact">
        <th align="right">
            <label for="contact-info">Contact info:</label>
        </th>
        <td><span id="contact-info" wicket:id="channels">[channel list panel]</span></td>
    </tr>
    <tr>
        <th align="right">
            <label for="availability">Availability:</label>
        </th>
        <td>
            <span id="availability" wicket:id="availability">[availability panel]</span>
        </td>
    </tr>
    <tr>
        <th align="right">
            <label title="If none given, the plan's default language is assumed">Languages spoken:</label>
        </th>
        <td>
            <ul wicket:id="languagesContainer">
                <li wicket:id="languages">
                    <span wicket:id="language">French</span>
                    <input wicket:id="newLanguage" type="text" title="Enter language spoken"/>
                    <span>
                        <a wicket:id="deleteLanguage" href="#">
                            <img style="border:0;vertical-align:middle" src="images/delete.png" title="Remove language" alt="Remove language"/>
                        </a>
                    </span>
                </li>
            </ul>
        </td>
    </tr>
    <tr wicket:id="clearancesContainer">
        <th align="right">
            <label for="clearances">Clearances:</label>
        </th>
        <td><span id="clearances" wicket:id="clearances">[classifications panel]</span></td>
    </tr>

</wicket:extend>
</body>
</html>
