<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <input wicket:id="twentyFourSeven" type="checkbox"/> Always available
    <!--
        <span wicket:id="regularHoursContainer">
            <input wicket:id="regularHours" type="checkbox"/> Regular hours
        </span>
    -->
    <table wicket:id="timePeriodsContainer">
        <tr wicket:id="dayAvailability">
            <span wicket:id="timePeriod">[time period panel]</span>
        </tr>
    </table>
</wicket:panel>
</body>
</html>