<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div wicket:id="groupsContainer">
        <div wicket:id="fieldGroups">
            <div wicket:id="groupName">group name</div>
            <table class="data-table">
                <tr wicket:id="fields">
                    <td width="250px">
                        <span wicket:id="name">field name</span> <!-- class = "required" when required-->
                    </td>
                    <td width="250px">
                        <a class="type-delete" wicket:id="delete" href="#">
                            Delete
                        </a>
                        <span wicket:id="usage">In use</span>
                    </td>
                </tr>
                    </table>
        </div>
    </div>
    <div class="newAssetField" wicket:id="newFieldContainer">
        <input wicket:id="required" type="checkbox"/> Required field
        <input wicket:id="name" type="text" class="small"/>
        in group <input wicket:id="group" type="text" class="small"/>
        with hint <input wicket:id="description" type="text" class="medium"/>
        <a wicket:id="add" href="#" class="type-delete">Add</a>
    </div>
</wicket:panel>
</body>
</html>