<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr>
        <th align="right">Dependencies:</th>
        <td>
            <span wicket:id="dependencies">[Asset dependencies panel]</span>
        </td>
    </tr>
    <tr>
        <th align="right">Properties:</th>
        <td>
            <span wicket:id="properties">[Asset properties panel]</span>
        </td>
    </tr>
</wicket:extend>
</body>
</html>