<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr>
        <th align="right">
            Mode of transmission:
        </th>
        <td>
            <span wicket:id="castLabel">Broadcast</span>
            <span wicket:id="castChoiceContainer">
                <select wicket:id="cast">
                    <option>Unicast</option>
                    <option>Multicast</option>
                    <option>Broadcast</option>
                </select>
                <a wicket:id="resetChoice" href="#">(reset)</a>
            </span>
        </td>
    </tr>
    <tr wicket:id="addressPatternContainer">
        <th align="right">
            <label>Address pattern:</label>
        </th>
        <td><input wicket:id="addressPattern" type="text"/></td>
    </tr>
    <tr>
        <th align="right">
            <label for="synchronous" title="Sending and receiving happens at the same time">Is synchronous:</label>
        </th>
        <td><input id="synchronous" wicket:id="synchronous" type="checkbox"/></td>
    </tr>
    <tr>
        <th align="right">
            <label for="forContactInfo" title="Used in setting contact information">Is for contact information:</label>
        </th>
        <td><input id="forContactInfo" wicket:id="forContactInfo" type="checkbox"/></td>
    </tr>
    <tr>
        <th align="right">
            Delegates transmissions to:
        </th>
        <td>
            <span wicket:id="delegatedToMedia">[delegation media panel]</span>
        </td>
    </tr>
    <tr wicket:id="securityContainer">
        <th align="right">
            <label for="security">Secure for:</label>
        </th>
        <td><span id="security" wicket:id="security">[classifications panel]</span></td>
    </tr>
    <tr>
        <th align="right">
            <label for="qualification"><span wicket:id="qualification-link" href=""
                                   title="Type of agent qualified to use this transmission medium">Required qualification</span>:</label>
        </th>
        <td>
            <input id="qualification" width="40" wicket:id="qualification" type="text"/>
        </td>
    </tr>
</wicket:extend>
</body>
</html>
