<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr wicket:id="participationContainer">
        <th class="area" align="right" valign="top"><label>Participation:</label></th>
        <td>
            <input wicket:id="placeHolder" type="checkbox"/>This organization is a placeholder
            managed by <input type="text" size="40" wicket:id="custodian" value=""/>
        </td>
    </tr>
    <span wicket:id="profile">[profile panel]</span>
 <!--   <tr wicket:id="constraintsContainers">
        <th align="right">Constraints:</th>
        <td>
				<span class="constraints"><input wicket:id="agreementsRequired" type="checkbox"/> No sharing commitment with distinct organizations
            without an agreement</span>
            <span class="constraints"><input wicket:id="actorsRequired" type="checkbox"/> No roles without agents</span>
        </td>
    </tr>
-->
</wicket:extend>
</body>
</html>
