<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div class="grouped">
        <div wicket:id=eventTimingsDiv>
            <table class="data-table">
                <tr wicket:id="eventTiming">
                    <td>
                        <span wicket:id="timingText">During</span>
                        <span wicket:id=eventLink>[model object link]</span>
                        <span wicket:id="levelText">(low)</span>
                    </td>
                    <td>
                        <a wicket:id="delete" href="#">
                            <img style="border:0" src="images/delete.png" title="Delete" alt="Remove from context"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div wicket:id="creationDiv">
            <select wicket:id="timing">
                <option>During</option>
                <option>After</option>
            </select>
            event <input wicket:id="event" type="text" class="entity-name" value="">
            rated
            <select wicket:id="level">
                <option>severe</option>
            </select>
        </div>
    </div>
</wicket:panel>
</body>
</html>
