<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>Organizations in this segment<span wicket:id="geomapLink">[geonamelink panel]</span></h3>
    <span class="segment-organizations" wicket:id="organizations">[entities panel]</span>
</wicket:panel>
</body>
</html>