* {
    margin: 0;
    padding: 0;
}

a {
    color: #0143b4;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #013081;
    border-bottom: 1px dotted #013081;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* ----- Structure ----- */

div#container {
    width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    border: 1px solid #999999;
	background:#f6f6f6;
}

div#header {
    width: 800px;
    height: 54px;
    background: #c3d9ff;
    border-bottom: 1px solid #999999;
	font-size:12px;
}

div#contents {
	padding:30px;
	width:740px;
}


/* ----- Header ----- */

div#header img {
    float: left;
	border: 0;
	padding: 4px 0 0 5px;
}

div#header h1 {
    color: #333333;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0 0 7px;
}

div#header a.logout {
    background: url('../../images/signout-bg.png') repeat-x;
    border: 1px solid #a7a9ac;
    color: #727272;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 4px;
    margin: 17px 17px 0 0;
    text-transform: capitalize;
    outline: none;
	float:right;
}

div#header a.logout:hover {
    color: #333333;
}


/* ----- Typography ----- */

h3 {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
	font-size: 13px;
    margin: 10px 0 10px 0;
    padding: 9px 10px 9px 10px;
    text-transform: uppercase;
	background:#e8e8e8;
}


/* ----- Tables ----- */

table {
	border-collapse:collapse;
}

table td,
table th {
	padding: 5px 5px 10px 5px;
}

table td.label {
    padding-right: 10px;
    width: 300px;
	font-weight:bold;
	font-size:12px;
	text-align:right;
}


/* ----- Forms ----- */

input {
	padding:3px;
	width:350px;
}

input.submit {
	width:75px;
}

select {
    padding:3px;
	width:350px;
}

select option {
	padding:0 3px;
}

input.submit,
a.button {
	background: url("../images/button-bg.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #A7A9AC;
	color: #666666;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 5px 10px;
}

a.button {
	margin:0 5px 0 0;
}

input.submit:hover,
a.button:hover {
	color:#000000;
	border: 1px solid #000000;
}

div.submit {
	padding: 10px 0 25px 0;
}

div.submit input.submit {
	float:right;
}


/* ----- Manage User Table ----- */

table.users {
	padding:12px 0 0 0;
    font-size: 11px;
}

table.users thead {
    border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

table.users th {
	padding:3px 5px;
	background:#d1d3d4;
	text-align:center;
}

table.users td {
    background:#E8E8E8;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 5px;
    text-align: center;
}

table.users td input {
	padding:2px;
}

table.users td input[type=text],
table.users td input[type=password] {
	font-size:9px;
	color:#000000;
	width:75px;
}

table.users td input[type=radio],
table.users td input[type=checkbox] {
	width:25px;
}


/* ----- Error Messages ----- */

div.issues ul {
	list-style:none;
    background: #FEF2B0;
    border: 1px solid #C5B351;
    color: #000000;
    font-size: 12px;
    display: block;
    margin: 0 0 20px 0;
    padding: 5px;
	text-align:center;
}

div.issues ul li {
	margin:0;
	padding:0;
	list-style:none;
}