body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div#top {
	width: 1000px;
	background: #f6f6f6;
	margin: 0px auto;
	text-align: left;
	padding: 0px;
}

* {
	margin: 0;
	padding: 0;
}

a {
	outline: none;
	text-decoration: none;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}


/* ----- Header ----- */

div.admin-header {
	width: 1000px;
	float: left;
	background: url('../images/header-bg-repeat-report.png') #c3d9ff repeat-y; 
	border: 1px solid #cccccc;
}

div.headerlogo {
	width: 530px;
	float: left;
	background: url('../images/header-bg-report.png') #c3d9ff no-repeat;
}

div.headertext { padding-left: 60px; }

div.headertext h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	padding: 13px 0 0 0;
	display: block;
}

div.headertext h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	padding: 0 0 10px 0;
	display: block;
}

div.headermenu {
	width: 440px;
	float: left;
	background: #c3d9ff;
	font-size: 10px;
	padding: 20px 20px 10px 10px;
	text-align: right;
}

div.headermenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.headermenu ul li {
	padding: 8px 0 0 0;
	display: block;
}


/* ----- Content ----- */

div#contents {
	float: left;
	padding: 10px;
	width: 980px;
	background: #f6f6f6;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 50px;
}

div#contents table {
	width:100%;
	float:left;
	padding:15px 0 0 0;
	width:980px;
}

div#contents th {
	padding:5px;
	background:#d1d3d4;
	text-align:center;
}

div#contents td {
	padding:10px;
	background:#e8e8e8;
	text-align:center;
}

div#contents td input {
	padding:2px;
}

div#contents td input[type=text],
div#contents td input[type=password] {
	font-size:11px;
	color:#000;
	width:100px;
}


/* ----- Toolbar - Level 1 ----- */

ul.toolbar {
	background:#e8e8e8;
	border:1px solid #BCBEC0;
	float:left;
	font-size:12px;
	list-style:none;
	margin:0 0 0 2px;
	padding:0;
	width:974px;
}

ul.toolbar li {
	float:left;
	border-right:1px solid #BCBEC0;
	color:#333333;
	margin:0;
	padding:0;
	color:#333333;
	font-weight:bold;
	height:30px;
	line-height:30px;
}

ul.toolbar li label.planselect {
	float:left;
	padding:0 10px;
}

ul.toolbar li label.planselect select {
	font-size:12px;
	width:300px;
}

ul.toolbar li a {
	color:#333333;
	padding:8px 15px 7px;
	text-transform:capitalize;
}

ul.toolbar li a:hover {
	color:#000;
	background:#DCDDDE;
}

ul.toolbar li input[type=button],
ul.toolbar li input[type=submit] {
	background:#e8e8e8;
	border:none;
	color:#333333;
	margin:0;
	padding:6px 15px 7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	height:30px;
	text-transform:capitalize;
}

ul.toolbar li input[type=button]:hover,
ul.toolbar li input[type=submit]:hover {
	color:#000;
	background:#DCDDDE;
}

ul.toolbar li input[type=text] {
	font-size:11px;
	color:#000;
}


/* ----- Toolbar - New ----- */

div.new {
	float:left;
	margin:10px 0 0 0;
}

div.new ul.toolbar.new li {
	padding:0 10px;
}

div.new ul.toolbar.new li input { width:110px; }


/* ----- Submit ----- */

div.submit {
	float:left;
	padding:5px 0;
	text-align:right;
	width:978px;
}

div.submit input.submit {
	background:#d1d3d4;
	border:1px solid #999999;
	color:#333333;
	font-size:14px;
	padding:2px 3px;
}

div.submit input.submit:hover {
	background:#DCDDDE;
	border:1px solid #999999;
	color:#000000;
	font-size:14px;
	padding:2px 3px;
}


/* ----- Issues ----- */

div.issues {
	color:#e24933;
	font-weight:bold;
	float:left;
	margin:5px 0 5px;
	padding:5px;
	width:968px;	
}


/* ----- Notice ----- */

p.notice {
	font-size: 11px;
	color: #999999;
	font-style: italic;
	display: block;
	float: right;
	padding-bottom: 10px;
}
