body {
	margin: 0px;
	padding: 0px;
}

#contents {
	font-family: Georgia,serif;
	width: 400px;
	margin: 2em auto 2em 1.5in; 
}

h1 {
	height: 90px;
	width: 100%;
	background-image: url("../images/banner.png");
	background-position: left;
	background-repeat: no-repeat;
	background-color: #7e747f;
}

h1 span {
	display: none;
}

form {
	width: 60%;
	margin: 2em auto;
}

th {
	text-align: right;
}

table .channels_toolbar {
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 5px 0px;
	background-color: transparent;
	background: url("../images/3d-tb-m.gif");
	background-repeat: repeat-x;
	color: rgb(80, 0, 96);
	border-bottom: 1px solid rgb(170, 170, 187);
}

div.tree, div.grid, div.grid-no-striped, div.tree-body, 
div.listbox-body, div.grid-body, div.listbox-paging, div.grid-paging { 
	background-color: white; 
	border: none;
	overflow: visible;
}

.logo img {
	padding-right: 10px;
}

.logo a {
	padding-top: 5px;
	vertical-align: middle;
}

div.tabpanel-accordion > div {
	overflow-x: hidden; 
	overflow-y: auto;
	height: inherit;
}

.channels_toolbar button, .tabpanel-accordion button {
	border: none;
	margin: 1px;
	background-color: transparent;
}

.tabpanel-accordion button:hover {
	background-color: highlight;
}

.channels_toolbar button:hover {
	border: 1px outset activeborder;
	margin: 0px;
	background-color: transparent;
}

div .channels_main {
	margins: 0px 5px 5px 5px;
}

.channels_main .hbox {
	padding: 0px 5px 0px 5px;
}

.channels_alerts {
	border-top: 1px solid rgb(170, 170, 187);
	padding: 5px;
	margin: 5px 0px 0px 0px;
}

.channels_alerts button {
	background-color: transparent;
	border: none;
}

td .red_alert {
	background-image: url( "../images/16x16/flag_red.png" );
	background-position: top left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 16px;
	padding: 1px 3px 1px 20px  !important;
}

td .yellow_alert {
	background-image: url( "../images/16x16/flag_yellow.png" );
	background-position: top left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 16px;
	padding: 1px 3px 1px 20px  !important;
}

td .green_alert {
	background-image: url( "../images/16x16/flag_green.png" );
	background-position: top left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 16px;
	padding: 1px 3px 1px 20px  !important;
}

td .blue_alert {
	background-image: url( "../images/16x16/flag_blue.png" );
	background-position: top left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 16px;
	padding: 1px 3px 1px 20px  !important;
}

.channels_min {
	border: 1px inset windowframe;
	background-color: window;
	color: windowtext; 
	padding: 5px;
}

.channels_min span {
	font-size: smaller;
}

td.hbox, td.vbox {
	padding: 0px;
}

div .listbox {
	background-color: white;
	color: black;
	border: none;
}

tr.itemsel, tr.itemsel a, tr.itemsel a:visited {
	background: highlight; color: highlighttext;
	text-decoration: none;
}

div.paging a, div.paging a:visited, .tabsel a:hover, a.tabsel:hover, 
.tab a:hover, a.tab:hover, tr.itemsel a:hover {
	text-decoration: none;
}

div.wc-embedded, div.wc-wndcyan {
	padding: 5px;
}

input.description {
	border: none;
	padding: 2px 0px 0px 2px;
	font-style: italic;
}

.bottom-pane .hbox {
	padding: 0px 0px 0px 5px;
}

.bottom-pane td.hbox:first-child {
	padding: 0px;
}

/*
.tabpanel {
	overflow: auto;
}
*/

.what-pane {
	height: inherit;
	overflow: auto
}

.what-pane tr.item td, .what-pane tr.itemsel td {
	white-space: nowrap;
}

div.google-map {
	border: 1px solid #5C6C7C;
	overflow: scroll;
}
