/* ----- Modal ----- */

div.wicket-mask-dark {
    background-color: black;
    background-image: url("transparent2.png");
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: fixed;
    top: 0;
    width: 100%;
}

div.wicket-mask-transparent {
    background-image: url("transparent1.gif");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.wicket-modal {
    position: fixed;
    visibility: hidden;
    z-index: 20001;
}

/*

div.wicket-modal div.w_top_1 {
    overflow: hidden;
    width: 100%;
}

div.wicket-modal div.w_top {
    background-position: 0 -16px;
    cursor: n-resize;
    height: 11px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

div.wicket-modal .w_topLeft {
    background-position: 0 0;
    cursor: nw-resize;
    float: left;
    height: 11px;
    overflow: hidden;
    width: 14px;
}

div.wicket-modal div.w_topRight {
    background-position: -16px 0;
    cursor: ne-resize;
    float: right;
    height: 11px;
    overflow: hidden;
    width: 14px;
}

div.wicket-modal div.w_left {
    background-position: 0 0;
    background-repeat: repeat-y;
    cursor: w-resize;
    width: 100%;
}

div.wicket-modal div.w_right_1 {
    margin-left: 10px;
}

div.wicket-modal div.w_right {
    background-position: right center;
    background-repeat: repeat-y;
    cursor: e-resize;
    width: 100%;
}

div.wicket-modal div.w_content_1 {
    cursor: auto;
    margin-right: 10px;
}

*/

div.wicket-modal div.w_content_1 {
    background-color: #E8E8E8;
    border: 2px solid #999999;
}

div.wicket-modal div.w_caption {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    background: url("../images/float-bar-bg.png") repeat-x scroll 0 0 #C3D9FF;
    border-bottom: 1px solid #999999;
    cursor: move;
}

div.wicket-modal a.w_close {
    height: 22px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 4px;
    width: 22px;
    top: 4px;
    background: url("../images/float-bar-close.png") no-repeat;
}

div.wicket-modal a.w_close:hover {
    float: right;
    height: 22px;
    overflow: hidden;
    width: 22px;
    text-decoration: none;
}

div.wicket-modal h3.w_captionText {
    left: 0;
    margin: 0;
    position: absolute;
    background: url("../images/float-bar-logo.png") no-repeat scroll 8px 7px transparent;
    color: #333333;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    padding: 1px 0 0 30px;
    text-transform: capitalize;
    letter-spacing: 0;    
}

div.wicket-modal div.w_content_2 {
    width: 100%;
}

div.wicket-modal div.w_content_3 {
    padding: 0;
}

div.wicket-modal div.w_content {
    background: #e8e8e8;
    width: 100%;
}

div.wicket-modal div.w_content_container {
    position: relative;
    padding: 20px;
}

div.rfi-container {
    background: none repeat scroll 0 0 #E8E8E8;
    border: 1px solid #CCCCCC;
    margin: 20px 0 0;
    padding: 15px 20px 50px;
}

div.rfi-container div.rfi-header h3 {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

div.rfi-container div.rfi-header h3 div span {
    font-size: 16px;
    line-height: 150%;
}

div.rfi-container div.rfi-header div {
    font-size: 11px;
    padding: 0 0 5px;
    text-transform: uppercase;
}

div.rfi-container div.answers {
    border-top: 1px solid #CCCCCC;
    margin: 10px 0 0;
    padding: 20px 0 0;
}

div.wicket-modal div.question,
div.rfi-container div.question {
	padding: 0 0 10px 0;
}

div.wicket-modal span.index,
div.rfi-container span.index {
	font-weight: bold;
}

div.wicket-modal div.multi-choices,
div.rfi-container div.multi-choices {
	padding: 0 0 0 20px;
}

div.wicket-modal div.multi-choices div,
div.rfi-container div.multi-choices div {
	padding: 0 0 5px 0;	
}

div.wicket-modal div.comment,
div.rfi-container div.comment {
	padding: 10px 0 10px 0;
}

div.wicket-modal div.privacy,
div.rfi-container div.privacy {
    padding: 0 0 15px 0;
}

div.wicket-modal textarea,
div.wicket-modal select,
div.wicket-modal input[type='text'],
div.rfi-container textarea,
div.rfi-container select,
div.rfi-container input[type='text'] {
    background: #f6f6f6;
    border: 1px solid #999999;
    font-size: 11px;
    margin: 0;
    padding: 3px;
    width: 98%;
}

div.wicket-modal select {
	width: 100%;
}

div.wicket-modal div.dialog {
	text-align: left;
}

div.wicket-modal div.dialog h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    padding: 0 0 10px;
}

div.wicket-modal div.dialog textarea {
    margin: 5px 0 10px 0;
    width: 98%;
}

div.wicket-modal div.dialog input[type="button"],
div.rfi-container div.answers input[type="button"],
div.rfi-container div.decline-forward-container input[type="button"],
a.others {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #A7A9AC;
    color: #666666;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 100%;
    margin: 0 0 0 5px;
    padding: 5px 10px;
    text-transform: uppercase;
}

div.wicket-modal div.dialog input[type="button"]:hover,
div.rfi-container div.answers input[type="button"]:hover,
div.rfi-container div.decline-forward-container input[type="button"]:hover,
a.others:hover {
    border: 1px solid #000000;
    color: #000000;
}

div.wicket-modal iframe.wicket_modal {
    border-width: 0;
    height: 400px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

div.wicket-modal div.w_bottom_1 {
    cursor: n-resize;
    overflow: hidden;
    width: 100%;
}

div.wicket-modal div.w_bottom {
    background-position: 0 -32px;
    height: 15px;
    overflow: hidden;
}

div.wicket-modal div.w_bottomRight {
    background-position: -48px 0;
    cursor: nw-resize;
    float: right;
    height: 15px;
    overflow: hidden;
    width: 14px;
}

div.wicket-modal div.w_bottomLeft {
    background-position: -32px 0;
    cursor: ne-resize;
    float: left;
    height: 15px;
    overflow: hidden;
    width: 14px;
}

/* ----- Floating Panels - Data Tables ----- */

table.question-answers {
    border-collapse: collapse;
    border-top: 1px solid #999999;
    font-size: 11px;
    text-align: left;
    width: 100%;
}

table.question-answers tr.headers {
    background: #DCDDDE;
    font-weight: bold;
}

table.question-answers tr.headers th {
    padding: 2px 5px;
    text-align: left;
    vertical-align: middle;
}

table.question-answers tr.headers th.count-header {
	text-align: center;
}

table.question-answers tr {
    background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 1px solid #999999;
}

table.question-answers td {
    color: #333333;
    padding: 10px 5px;
}

table.question-answers td.count {
	text-align: center;
}


table.question-answers ul {
    list-style: square outside none;
    margin: 0;
    padding: 0 0 0 15px;
}

div.wicket-modal a.button,
div.wicket-modal input[type='button'] {
    background: #ffffff;
    border: 1px solid #A7A9AC;
    color: #666666;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 10px 5px 20px;
    float: right;
    text-transform: uppercase;
    font-family: arial;
    line-height: 100%;
}


/*

div.wicket-modal div.w_blue div.w_left,
div.wicket-modal div.w_blue div.w_right {
    background-image: url("frame-blue-2-alpha.png");
}

div.wicket-modal div.w_blue div.w_top,
div.wicket-modal div.w_blue div.w_bottom,
div.wicket-modal div.w_blue div.w_topLeft,
div.wicket-modal div.w_blue div.w_topRight,
div.wicket-modal div.w_blue div.w_bottomRight,
div.wicket-modal div.w_blue div.w_bottomLeft,
div.wicket-modal div.w_blue a.w_close {
    background-image: url("frame-blue-1-alpha.png");
}

div.wicket-modal div.w_silver div.w_left,
div.wicket-modal div.w_silver div.w_right {
    background-image: url("frame-gray-2-alpha.png");
}

div.wicket-modal div.w_silver div.w_top,
div.wicket-modal div.w_silver div.w_bottom,
div.wicket-modal div.w_silver div.w_topLeft,
div.wicket-modal div.w_silver div.w_topRight,
div.wicket-modal div.w_silver div.w_bottomRight,
div.wicket-modal div.w_silver div.w_bottomLeft,
div.wicket-modal div.w_silver a.w_close {
    background-image: url("frame-gray-1-alpha.png");
}

*/