* {
	margin:0;
	padding:0;
}

a {
	color:#333333;
	border-bottom:1px dotted #666;
	text-decoration:none;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin:0;
	padding:0;
	text-align:center;
}

div#container {
	width:1000px;
	margin:0px auto;
	text-align:left;
	padding:0;
	border:1px solid #cccccc;
	background-color:#f6f6f6;
}

div#header {
	width:1000px;
	height:60px;
	background:url('../images/header.png') no-repeat #c3d9ff;
	border-bottom:1px solid #cccccc;
	float:left;
}

div#header h1 {
	display:block;
	float:left;
	width:640px;
	font-size:24px;
	font-weight:bold;
	padding:15px 0 0 60px;
}

div#nav {
	float:left;
	width:300px;
	font-size:10px;
}

div#nav ul {
	list-style:none;
	display:inline;
}

div#nav ul select {
	font-size:10px;
}

div#breadcrumbs {
	width:970px;
	height:20px;
	border-bottom:1px solid #e1e1e1;
	float:left;
	padding:25px 0 15px 15px;
	font-size:10px;
	font-weight:bold;
}

div#breadcrumbs ul {
	list-style:none;
	display:inline;
	margin:0;
	padding:4px 0 4px 4px;
	background:#ededed;
	border-left:1px solid #c7c7c7;
}

div#breadcrumbs ul li {
	display:inline;
	padding:4px 12px 4px 4px;
	background:url(../images/breadcrumb-arrow.png) right no-repeat #ededed;
}

div#breadcrumbs ul li.last {
	background:url(../images/breadcrumb-arrow-last.png) right no-repeat #ededed;
}

div#breadcrumbs a {
	border:none;
}

div#breadcrumbs a:hover {
	border-bottom:1px dotted #666;
}

div#contents {
	padding:13px 13px 23px 13px;
	float:left;
	width:974px;
}

div#plan {
	float:left;
	margin:0 0 10px 0;
	width:974px;
}

div#plan h2 {
	font-size:18px;
	font-weight:bold;
	border-bottom:2px solid #999999;
	padding:0 0 4px 0;
	margin:0 0 5px 0;
}

div#plan p.description {
	line-height:18px;
	clear:both;
}

div.event {
	clear:both;
}

div.event h3 {
	width:943px;
	float:left;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	height:22px;
	background:url('../images/event.png') 10px 6px no-repeat #e8e8e8;
	font-weight:bold;
	font-size:14px;
	padding:6px 0 0 31px;
	margin:10px 0 5px 0;
}

div.event p.description {
	padding-left:10px;
	line-height:18px;
	clear:both;
}

div.phase {
	width:954px;
	float:left;
	padding:0 0 0 20px;
}

div.phase h4 {
	width:923px;
	float:left;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	height:22px;
	background:url('../images/phase.png') 10px 6px no-repeat #e8e8e8;
	font-weight:bold;
	font-size:14px;
	padding:6px 0 0 31px;
	margin:10px 0 5px 0;
}

div.phase p.description {
	padding-left:10px;
	line-height:18px;
	clear:both;
}

div.immediates,
div.notified,
div.requested,
div.optionals {
	width:934px;
	float:left;
	padding:0 0 0 20px;
}

div.immediates h5,
div.notified h5,
div.requested h5,
div.optionals h5 {
	width:903px;
	float:left;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	height:22px;
	font-weight:bold;
	font-size:14px;
	padding:6px 0 0 31px;
	margin:10px 0 0 0;
}

div.immediates h5 {
	background:url('../images/immediates.png') 10px 6px no-repeat #e8e8e8;
}

div.notified h5 {
	background:url('../images/notified.png') 10px 6px no-repeat #e8e8e8;
}

div.requested h5 {
	background:url('../images/requested.png') 10px 6px no-repeat #e8e8e8;
}

div.optionals h5 {
	background:url('../images/optionals.png') 10px 6px no-repeat #e8e8e8;
}

div.immediates ul,
div.notified ul,
div.requested ul,
div.optionals ul {
	list-style:none;
	margin:0;
	padding:0;
	display:block;
	float:left;
}

div.immediates ul li,
div.notified ul li,
div.requested ul li,
div.optionals ul li {
	margin:0;
	padding:0;
	height:21px;
	border-bottom:1px solid #999999;
	width:903px;
	display:block;
	background:url('../images/p-arrow-right.png') 10px 6px no-repeat;
	padding:6px 0 0 31px;
	clear:both;
}

div.notified ul li ul,
div.immediates ul li ul,
div.requested ul li ul,
div.optionals ul li ul {
	list-style:none;
	margin:0 0 0 -15px;
	padding:7px 0 0 0;
	display:block;
	float:left;
}

div.notified ul li ul li,
div.immediates ul li ul li,
div.requested ul li ul li,
div.optionals ul li ul li {
	margin:0;
	padding:0;
	height:21px;
	border-bottom:1px solid #999999;
	width:887px;
	display:block;
	background:url('../images/p-arrow-right.png') 10px 6px no-repeat;
	padding:6px 0 0 31px;
}

div.notified ul li span.from,
div.immediates ul li span.from,
div.requested ul li span.from,
div.optionals ul li span.from {
	font-weight:bold;
}

div.notified ul li span.from abbr,
div.immediates ul li span.from abbr,
div.requested ul li span.from abbr,
div.optionals ul li span.from abbr {
	border:none;
}

p#notice {
	font-size:11px;
	clear:both;
	padding:10px 10px 0 10px;
	width:980px;
	height:25px;
	border-top:1px solid #e1e1e1;
	text-align:right;
	color:#666666;
}