html {
	overflow-x: hidden;
	overflow-y: auto;
}

div.section-head h2 a.toplink,
div.section-head h2 a.toplink:hover { margin-top:-27px; }

ul.details li ul {
	list-style: none;
	width:340px; }

ul.details li ul li {
	list-style:none;
	width:320px; }

div.receives-container,
div.sends-container { width: 590px; }

ul.flows li.send-notification,
ul.flows li.send-answer,
ul.flows li.receive-notification,
ul.flows li.receive-answer { float:left; }

ul.channels-only { width:545px; }

ul.flows li ul li { width:530px; }

ul.flows li ul.contacts li.contact table.banner {
	clear:both;
	float:none; }
	
div#contents > div.segment > div.top-organization > div > ul > li.image,
div#contents div.doccont > ul > li.image {
	width:955px; }

div.section-head h3 {
	float:none;
}

ul.tagscont { float:none; }

div.segment > div.top-organization > div.issues { width:980px; }