/* Gallery */

.gallery {
    text-align: left;
}

.gallery a, .gallery a:link, .gallery a:visited, .gallery td.link span {
    color: #4f2d87;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.gallery .group-name {
    display: block;
    font-size: large;
    margin-top: 20px;
    margin-left: 10px;
}

.gallery .content {
    margin: 20px auto 0 auto;
    padding: 0 30px 30px 30px;
    border: solid 1px #cbcbcb;
    background: #fafafa;
    -moz-box-shadow: 0px 0px 10px #cbcbcb;
    -webkit-box-shadow: 0px 0px 10px #cbcbcb;
}

.gallery .thumbnail {
    display: inline-block;
}

.gallery .caption {
    font-size: 0.75em;
    text-align: center;
    color: rgb(58, 57, 57);
}

.gallery p {
    margin: 0;
    padding: 7px 0;
}

.gallery a {
    outline: none;
}

.gallery a:hover, #fancybox-outer a:hover {
    border: 0;
}

.gallery a img {
    border: 1px solid #BBB;
    padding: 2px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
}

.gallery a img:hover {
    margin: 8px 8px 8px 8px;
    border: solid 3px #cbcbcb;
    background: #fafafa;
    -moz-box-shadow: 0px 0px 10px #cbcbcb;
    -webkit-box-shadow: 0px 0px 10px #cbcbcb;
}

.gallery a img.last {
    margin-right: 0;
}

#fancybox-title-inside {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

a#viz-button {
    background: url("../images/viz-button.png") no-repeat scroll 14px 14px #5b9aa9;
    position: absolute;
    right: 0;
    text-align: left;
    top: 73px;
    width: 48px;
    height: 48px;
    z-index: 10000;
}

a#viz-button:hover {
    background: url("../images/viz-button.png") no-repeat scroll 14px 14px #a4c1c5;
    border: 0;
}
