<?xml version="1.0" encoding="UTF-8"?><!--

CONFIGURATION NOTES:

  For new Channels server instances,, see comments prefaced with NOTE:

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd

        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
        http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.2.xsd"
       default-autowire="byName">

    <context:property-placeholder location="file:${user.home}/channels.properties"/>
    <context:annotation-config/>
    <context:component-scan base-package="com.mindalliance.channels"/>

    <!-- ================ MongoDB persistence ====================== -->


    <mongo:mongo id="mongo">
        <mongo:options connections-per-host="100"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       connect-timeout="5000"
                       max-wait-time="1500"
                       auto-connect-retry="true"
                       socket-keep-alive="true"
                       socket-timeout="1500"/>
    </mongo:mongo>

    <mongo:db-factory id="mongoDbFactory" host="${mongodb.host}" port="${mongodb.port}" dbname="channels"/>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongoDbFactory"/>
    </bean>

    <mongo:repositories base-package="com.mindalliance.channels.db.repositories"/>


    <!-- ============================================================ Scheduler -->

    <task:executor id="taskExecutor" pool-size="5"/>

    <task:scheduler id="scheduler" pool-size="10"/>

    <task:annotation-driven executor="taskExecutor" scheduler="scheduler"/>

    <!-- ====================================================================== -->


    <!-- =========================== Main Components -->
    <bean id="wicketApplication" class="com.mindalliance.channels.pages.Channels">
        <property name="serverUrl" value="${server.url}"/>
    </bean>
    <bean id="idGenerator" class="com.mindalliance.channels.core.dao.DefaultIdGenerator"/>
    <bean id="issueScanner" class="com.mindalliance.channels.engine.analysis.IssueScanner"/>

    <bean id="modelDefinitionManager" class="com.mindalliance.channels.core.dao.ModelDefinitionManager">
        <constructor-arg value="${channels.home}${file.separator}data"/>
        <constructor-arg value="${channels.home}${file.separator}plans.properties"/>
        <property name="defaultProperties" value="/WEB-INF/plans.properties"/>
        <property name="snapshotThreshold" value="10"/>
    </bean>

    <bean id="communityDefinitionManager" class="com.mindalliance.channels.core.community.CommunityDefinitionManager">
        <constructor-arg value="${channels.home}${file.separator}communities"/>
        <constructor-arg value="${channels.home}${file.separator}communities.properties"/>
        <property name="snapshotThreshold" value="10"/>
    </bean>


    <bean id="userUploadService" class="com.mindalliance.channels.core.dao.user.UserUploadServiceImpl">
        <property name="publicDirectory" value="${channels.home}${file.separator}public"/>
        <property name="userPhotoUpload" value="users/photos"/>
        <property name="userPhotoURL" value="photo"/>
    </bean>

    <bean id="attachmentManager" class="com.mindalliance.channels.core.attachments.FileBasedManager" depends-on="modelManager"> <!-- depends-on prevents random timing issue during initialization -->
        <property name="uploadPath" value="uploads/"/>
        <property name="imageExtensions" value="png,jpeg,jpg,gif"/>
        <property name="videoExtensions" value="avi,mov,mp4,mpg"/>
        <property name="imageDomains">
            <list>
                <value>flickr.com</value>
                <value>picasaweb.google.com</value>
                <value>photobucket.com</value>
                <value>smugmug.com</value>
            </list>
        </property>
        <property name="videoDomains">
            <list>
                <value>youtube.com</value>
                <value>vimeo.com</value>
                <value>video.google.com</value>
            </list>
        </property>
    </bean>

    <bean id="planCommunityManager" class="com.mindalliance.channels.core.community.PlanCommunityManagerImpl">
        <property name="defaultSupportCommunity" value="channels@mind-alliance.com"/>
        <property name="defaultCommunityCalendarHost" value="https://www.google.com/calendar/embed"/>
        <property name="defaultCommunityCalendar" value="channels.mindalliance@gmail.com"/>
        <property name="defaultCommunityCalendarPrivateTicket" value="2eeb23a44773bca4cf51901c486a2275"/>
        <property name="serverUrl" value="${server.url}"/>
    </bean>

    <bean id="modelManager" class="com.mindalliance.channels.core.dao.ModelManagerImpl" lazy-init="true">
        <constructor-arg ref="modelDefinitionManager"/>
        <property name="defaultSupportCommunity" value="channels@mind-alliance.com"/>
        <property name="defaultCommunityCalendarHost" value="https://www.google.com/calendar/embed"/>
        <property name="defaultCommunityCalendar" value="channels.mindalliance@gmail.com"/>
        <property name="defaultCommunityCalendarPrivateTicket" value="2eeb23a44773bca4cf51901c486a2275"/>
        <property name="builtInMedia">
            <list value-type="java.util.ArrayList">
                <ref bean="phone"/>
                <ref bean="landline"/>
                <ref bean="fax"/>
                <ref bean="cell"/>
                <ref bean="pager"/>
                <ref bean="conferenceCall"/>
                <!--
                                <ref bean="web"/>
                -->
                <ref bean="email"/>
                <ref bean="notificationSystem"/>
                <ref bean="chat"/>
                <ref bean="im"/>
                <ref bean="radio"/>
                <ref bean="twoWayRadio"/>
                <ref bean="television"/>
                <ref bean="courier"/>
                <ref bean="mail"/>
                <ref bean="faceToFace"/>
                <ref bean="meeting"/>
                <ref bean="paSystem"/>
            </list>
        </property>
        <property name="serverUrl" value="${server.url}"/>
    </bean>

    <bean id="surveysDao" class="com.mindalliance.channels.db.services.surveys.SurveysDAOImpl"/>
    <bean id="participationManager" class="com.mindalliance.channels.core.community.ParticipationManagerImpl"/>

    <bean id="graphRenderer" class="com.mindalliance.channels.graph.GraphvizRenderer">
        <property name="dotPath" value="/usr/bin"/>
        <property name="algo" value="dot"/>
        <property name="timeout" value="10000"/>
        <!-- 10 secs -->
        <property name="maxAttempts" value="2"/>
        <property name="tempDir" value="${channels.home}${file.separator}temp"/>
    </bean>

    <bean id="collaborationPlanDoctor" class="com.mindalliance.channels.engine.analysis.DefaultCollaborationPlanDoctor">
        <property name="detective" ref="collaborationPlanDetective"/>
    </bean>

    <bean id="collaborationTemplateDoctor" class="com.mindalliance.channels.engine.analysis.DefaultCollaborationTemplateDoctor">
        <property name="detective" ref="collaborationTemplateDetective"/>
    </bean>


    <bean id="analyst" class="com.mindalliance.channels.engine.analysis.DefaultAnalyst" init-method="start"
          destroy-method="stop">
        <property name="doctor" ref="collaborationTemplateDoctor"/>
    </bean>

    <bean id="imagingService" class="com.mindalliance.channels.engine.imaging.DefaultImagingService">
        <property name="iconDirectory" value="${channels.home}${file.separator}icons"/>
        <property name="imageDirectory" value="WEB-INF/images"/>
        <property name="baseDirectory" value="images"/>
        <property name="iconPath" value="icons/"/>
    </bean>

    <bean id="importExportFactory" class="com.mindalliance.channels.core.export.xml.XmlStreamer">
        <constructor-arg ref="idGenerator"/>
        <property name="version" value="1.0"/>
    </bean>

    <bean id="semanticMatcher" class="com.mindalliance.channels.core.nlp.WordnetSemanticMatcher">
        <property name="wordnetDict"
                  value="WEB-INF${file.separator}data${file.separator}wordnet-2${file.separator}dict"/>
        <property name="simIndex" value="WEB-INF${file.separator}data${file.separator}jwsl${file.separator}wn_index"/>
    </bean>

    <bean id="commanderFactory" class="com.mindalliance.channels.core.command.CommanderFactoryImpl">
        <property name="timeout" value="300"/>
        <!-- 300 secs -->
    </bean>

    <bean id="modelServiceFactory" class="com.mindalliance.channels.core.query.ModelServiceFactoryImpl"
          destroy-method="destroy">
    </bean>

    <bean id="communityServiceFactory" class="com.mindalliance.channels.core.community.CommunityServiceFactoryImpl"
          destroy-method="destroy">
    </bean>

    <!-- Note: don't use modelService directly... Use through the factory... Here for proper aspect initialization. -->
    <bean id="modelService" class="com.mindalliance.channels.core.query.ModelService" scope="prototype" autowire="no">
        <constructor-arg ref="modelManager"/>
        <constructor-arg ref="semanticMatcher"/>
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="attachmentManager"/>
        <constructor-arg ref="surveysDao"/>
        <property name="serverUrl" value="${server.url}"/>
    </bean>

    <bean id="communityService" class="com.mindalliance.channels.core.community.CommunityServiceImpl" scope="prototype">
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="resourceLoaderPath" value="/WEB-INF/templates"/>
    </bean>

    <bean id="collaborationPlanDetective" class="com.mindalliance.channels.engine.analysis.CollaborationTemplateDetective">
        <property name="issueDetectors">
            <list value-type="java.util.ArrayList">
                <bean class="com.mindalliance.channels.engine.analysis.detectors.FromUser"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.InvalidAgencyParent"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.MissingOrganizationParticipation"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.MissingUserParticipation"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.TooManyUsersParticipatingAsAgent"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.RequirementNotSatisfied"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.UserSupervisesSelf"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.NoSupervisingUser"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.UnacceptedParticipation"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.UnconfirmedParticipation"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.UserIsSinglePointOfFailure"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.OverParticipationByUser"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.ObsoleteTemplateVersion"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.UnresolvedProblemFeedback"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationPlan.UserMissingContactInfo"/>
            </list>
        </property>
    </bean>


    <bean id="collaborationTemplateDetective" class="com.mindalliance.channels.engine.analysis.CollaborationTemplateDetective">
        <property name="issueDetectors">
            <list value-type="java.util.ArrayList">
                <bean class="com.mindalliance.channels.engine.analysis.detectors.FromUser"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.NoSegmentRespondsToIncident"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SegmentWithoutGoal"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.StartedOrTerminatedTaskIsUnnamed"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PartWithoutRole"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PartWithActorOrRoleButNoOrganization"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FlowWithoutChannel"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.InvalidChannel"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.EmptyChannelAddress"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UnnamedFlow"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FlowWithUndefinedSource"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FlowWithUndefinedTarget"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PartWithInvalidTiming"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.OrphanedPart"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.RedundantPart"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.RedundantFlow"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UnconnectedConnector"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UnconfirmedJob"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FlowToSelf"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.GeonameButNoLocation"/>
                <!--<bean class="com.mindalliance.channels.engine.analysis.detectors.PartWithRoleWithNoKnownActor"/>-->
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SegmentNeverEnds"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.TriggeredButNeverStartedDefinedTask"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.NeverTriggeredSpecifiedTask"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AutoStartPartAlsoTriggered"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SegmentEventNeverCaused"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SegmentNeverStarts"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.CyclicTriggering"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.NoSourceRedundancy"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PotentialDeadlock"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ActorNotInOneOrganization"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SegmentWithSameGoal"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UselessPart"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UnverifiedPostalCode"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PlaceInheritsDifferentPostalCode"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PlaceInheritsDifferentStreetAddress"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PlaceContainedInSelf"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.RedundantPlace"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.EmptyNeedOrCapability"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UnsatisfiedNeed"/>
                <!--  <bean class="com.mindalliance.channels.engine.analysis.detectors.CommitmentWithoutRequiredAgreement"/>-->
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UntimelyDissemination"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UntimelyNecessarySharing"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.InconsistentImpactOnTargetPart"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.InconsistentImpactOnSourcePart"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ActorIsSinglePointOfFailure"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.NoSegmentForEventPhase"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UnplayedPart"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.UselessActor"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.InvalidEntityTyping"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FlowDeclassifies"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SharingWithoutCommitments"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.InsufficientClearance"/>
                <!-- <bean class="com.mindalliance.channels.engine.analysis.detectors.AgreementWithoutCommitment"/>-->
                <!-- <bean class="com.mindalliance.channels.engine.analysis.detectors.AgreementEncompassedByOther"/>-->
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.MediumWithoutMode"/>
                <!--<bean class="com.mindalliance.channels.engine.analysis.detectors.CommittmentWithoutRequiredUnicastChannel"/>--> <!-- TODO Apply to plan community -->
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FlowOverUndersecuredMedium"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.BroadcastOnlyChannels"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.IncorrectMediumDelegation"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ModelLocaleIsRelative"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AlarmNotANotification"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.OrganizationWithoutAssignments"/>
                <!--<bean class="com.mindalliance.channels.engine.analysis.detectors.OrganizationWithNoAssignmentToCategoryOfTask"/>-->
                <!-- <bean class="com.mindalliance.channels.engine.analysis.detectors.OrganizationMissingExpectedCommitment"/>-->
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.EmptySharingFlow"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ActorWithoutContactInfo"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ActorIsTaskBottleneck"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.TaskHasTooManyCommitments"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.TaskWithTooManyInputs"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.MeaninglessFlowRestriction"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SharingContradictsCapability"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.RedundantChannel"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.RedundantEOI"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ContradictoryPolicies"/>
                <!-- <bean class="com.mindalliance.channels.engine.analysis.detectors.ConfirmedAgreementWithoutMOU"/>-->
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SingleAssignmentToImportantTask"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AvailabilityGapInTaskAssignments"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.TaskWithoutFailureProtocol"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.RedundantSegmentContext"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SegmentContextNeverCaused"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AmbiguousSharingFlow"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PartTerminatedByManySends"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.NeedWithNoTimeSensitiveEOI"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AgentWithoutSupervisorCommitsToOne"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AgentUnqualifiedForMedium"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AgentCanNotFulfillSharingResponsibilities"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.IncorrectMediumSynchronicity"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PartIsOngoingAndStartsWithSegment"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.NoIntermediateToBypass"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssignedTaskLocationNotCommunicated"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.JobWithoutTitle"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.SupervisedParticipationActorWithoutSupervisors"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.InfoProductWithoutEOIs"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PlaceholderOrganizationWithoutCustodian"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.NonPlaceholderOrganizationHasPlaceholderParent"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ChecklistIsEmpty"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ChecklistHasCircularPrerequisites"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ChecklistHasContradictoryConditions"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ChecklistUnconfirmed"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ChecklistTerminatingStepNotTerminating"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FunctionIsEmpty"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FunctionMissingEois"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.PartDoesNotImplementFunction"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.CommandWithoutAuthority"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.CriticalNotificationNotTriggering"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ChecklistNotFullyConnectedToTaskContext"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ChecklistStepsNotInProperOrder"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ActorHasPrimaryJobsWithManyOrgs"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ActorOnlyHasLinkedJobs"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.OrganizationWithMultiParticipationHasLinkedJobs"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.OrganizationGivesActorMultipleTitles"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.ActorHasSupervisorOutsideOwnOrganization"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.EntityNotInvolvedAgainstExpectation"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.UnresolvedProblemFeedback"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.FlowInformationShouldBeInfoProduct"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssetNeededIsUnavailable"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssetDependencyNotAvailable"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssetNeededButNotRequested"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssetRequestNotReceivedYetForwarded"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssetRequestedButNotNeeded"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssetHasInsufficientSuppliers"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssetProducedByMiscategorizedPart"/>
                <bean class="com.mindalliance.channels.engine.analysis.detectors.collaborationTemplate.AssetRequiredForChannelNotAvailable"/>
            </list>
        </property>
    </bean>

    <bean name="participationAnalyst" class="com.mindalliance.channels.engine.analysis.CollaborationPlanAnalystImpl">
        <property name="doctor" ref="collaborationPlanDoctor"/>
    </bean>

    <!-- =========================== Prototypes -->
    <bean id="diagramFactory" class="com.mindalliance.channels.graph.DefaultDiagramFactory" scope="prototype">
        <property name="imageDirectory" value="WEB-INF${file.separator}images"/>
        <property name="userIconDirectory"
                  value="${channels.home}${file.separator}public${file.separator}users${file.separator}photos${file.separator}cache"/>
    </bean>

    <!-- =========================== Transmission Media -->
    <bean id="phone" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-951"/>
        <property name="name" value="Phone"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value="(\d*\D*\d{3}\D*\d{3}\D*\d{4}(\s*\D+\s*\d+)?)|(\d{3})"/>
        <property name="cast" value="Unicast"/>
        <property name="forContactInfo" value="true"/>
    </bean>
    <bean id="landline" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-950"/>
        <property name="name" value="Landline"/>
        <property name="kind" value="Type"/>
        <property name="types">
            <list value-type="java.util.ArrayList">
                <ref bean="phone"/>
            </list>
        </property>
        <property name="cast" value="Unicast"/>
        <property name="forContactInfo" value="true"/>
    </bean>
    <bean id="fax" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-949"/>
        <property name="name" value="Fax"/>
        <property name="kind" value="Type"/>
        <!--
                <property name="types">
                    <list value-type="java.util.ArrayList">
                        <ref bean="phone"/>
                    </list>
                </property>
        -->
        <property name="cast" value="Unicast"/>
        <property name="synchronous" value="false"/>
        <property name="forContactInfo" value="true"/>
    </bean>
    <bean id="cell" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-948"/>
        <property name="name" value="Cell"/>
        <property name="kind" value="Type"/>
        <property name="types">
            <list value-type="java.util.ArrayList">
                <ref bean="phone"/>
            </list>
        </property>
        <property name="cast" value="Unicast"/>
        <property name="forContactInfo" value="true"/>
    </bean>
    <bean id="pager" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-947"/>
        <property name="name" value="Pager"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value="(\d*\D*\d{3}\D*\d{3}\D*\d{4}(\s*\D+\s*\d+)?)|(\d{3})"/>
        <property name="cast" value="Unicast"/>
        <property name="synchronous" value="false"/>
        <property name="forContactInfo" value="true"/>
    </bean>
    <bean id="conferenceCall" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-946"/>
        <property name="name" value="Conference call"/>
        <property name="addressPattern" value="\d*\D*\d{3}\D*\d{3}\D*\d{4}"/>
        <property name="cast" value="Multicast"/>
        <property name="delegatedToMedia">
            <list value-type="java.util.ArrayList">
                <ref bean="phone"/>
            </list>
        </property>
    </bean>
    <bean id="email" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-945"/>
        <property name="name" value="Email"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value="[^@\s]+@[^@\s]+\.\w+"/>
        <property name="cast" value="Unicast"/>
        <property name="synchronous" value="false"/>
        <property name="forContactInfo" value="true"/>
    </bean>
    <!--
        <bean id="web" class="com.mindalliance.channels.core.model.TransmissionMedium">
            <property name="name" value="Web"/>
            <property name="kind" value="Type"/>
            <property name="addressPattern" value="(http|ftp|https):.*"/>
            <property name="cast" value="Unicast"/>
        </bean>
    -->
    <bean id="notificationSystem" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-944"/>
        <property name="name" value="Notification system"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Multicast"/>
        <property name="delegatedToMedia">
            <list value-type="java.util.ArrayList">
                <ref bean="phone"/>
                <ref bean="email"/>
            </list>
        </property>
    </bean>
    <bean id="im" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-943"/>
        <property name="name" value="IM"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Unicast"/>
        <property name="forContactInfo" value="true"/>
    </bean>
    <bean id="chat" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-942"/>
        <property name="name" value="Online chat"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Multicast"/>
    </bean>
    <bean id="radio" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-941"/>
        <property name="name" value="Radio"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".*"/>
        <property name="cast" value="Broadcast"/>
    </bean>
    <bean id="twoWayRadio" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-940"/>
        <property name="name" value="Two way radio"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".*"/>
        <property name="cast" value="Multicast"/>
    </bean>
    <bean id="television" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-939"/>
        <property name="name" value="Television"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".*"/>
        <property name="cast" value="Broadcast"/>
    </bean>
    <bean id="courier" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-938"/>
        <property name="name" value="Courier"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Unicast"/>
        <property name="synchronous" value="false"/>
    </bean>
    <bean id="mail" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-937"/>
        <property name="name" value="Mail"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Unicast"/>
        <property name="synchronous" value="false"/>
        <property name="forContactInfo" value="true"/>
    </bean>
    <bean id="faceToFace" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-936"/>
        <property name="name" value="Face to face"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".*"/>
        <property name="cast" value="Unicast"/>
        <property name="direct" value="true"/>
    </bean>
    <bean id="meeting" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-935"/>
        <property name="name" value="Meeting"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Multicast"/>
    </bean>
    <bean id="paSystem" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-934"/>
        <property name="name" value="PA System"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Broadcast"/>
    </bean>
    <bean id="home" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-933"/>
        <property name="name" value="Home"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Unicast"/>
        <property name="types">
            <list value-type="java.util.ArrayList">
                <ref bean="phone"/>
            </list>
        </property>
        <property name="forContactInfo" value="true"/>
    </bean>
    <bean id="work" class="com.mindalliance.channels.core.model.TransmissionMedium">
        <property name="id" value="-932"/>
        <property name="name" value="Work"/>
        <property name="kind" value="Type"/>
        <property name="addressPattern" value=".+"/>
        <property name="cast" value="Unicast"/>
        <property name="types">
            <list value-type="java.util.ArrayList">
                <ref bean="phone"/>
            </list>
        </property>
        <property name="forContactInfo" value="true"/>
    </bean>

    <!-- REST API -->
    <bean id="planCommunityEndPoint" class="com.mindalliance.channels.api.PlanCommunityEndPointImpl">
        <property name="serverUrl" value="${server.url}"/>
    </bean>

    <!-- Guide -->

    <bean id="guideReader" class="com.mindalliance.channels.guide.GuideReaderImpl">
        <property name="guidesDir" value="/WEB-INF/doc"/>
        <property name="supportedClasses">
            <list>
                <value>com.mindalliance.channels.guide.Guide</value>
                <value>com.mindalliance.channels.guide.UserRole</value>
                <value>com.mindalliance.channels.guide.Section</value>
                <value>com.mindalliance.channels.guide.Topic</value>
                <value>com.mindalliance.channels.guide.TopicRef</value>
            </list>
        </property>
        <property name="serverUrl" value="${server.url}"/>
    </bean>

    <bean id="xstreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller"/>

</beans>
