<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h4>Send survey to</h4>
    <div>
        <span wicket:id="contacts">[contacts table]</span>
        <input wicket:id="updateContacts" type="button" value="Apply"/>
    </div>
</wicket:panel>
</body>
</html>