<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
     <span wicket:id="participationConstraints">
        <select wicket:id="cardinalityChoice">
            <option>At most one</option>
            <option>Any number of</option>
            <option>No more than</option>
        </select>
        <input wicket:id="maxParticipation" type="number"/>
         <span wicket:id="participantLabel">users</span> can participate as this agent.
        <br/><br/><input id="open" wicket:id="isParticipationOpen" type="checkbox"/> Participation is open to all
                        users
        <br/><input id="sameEmployer" wicket:id="hasSameEmployer" type="checkbox"/> Participants must have an
                        employer in common with this agent
        <br/><input id="supervisedParticipation" wicket:id="isSupervised" type="checkbox"/> Participation
                        must be confirmed by supervisors
        <br/><input id="anonymous" wicket:id="isAnonymous" type="checkbox"/> Participants are anonymous
     </span>
</wicket:panel>
</body>
</html>
