<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <span wicket:id="participationContainer">
        <input wicket:id="placeHolder" type="checkbox"/>This organization is a placeholder
        <br/><br/>
        <div wicket:id="custodianContainer">
         It is managed by <input class="entity-name" type="text" wicket:id="custodian" value=""/>
        </div>
    </span>
 </wicket:panel>
</body>
</html>
