/* ----- Protocols Styling ----- */

div.protocols-contents {
    padding: 10px;
}

div.plandetails-cont {
    background: #f6f6f6;
    clear: right;
    float: right;
    margin: 143px 0 0 10px;
    position: relative;
    width: 250px;
    border-top: none;
    padding: 10px;
}

div.protocols-contents a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

div.protocols-contents h1 {
    color: #656D78;
    font-size: 48px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: -0.05em;
    padding: 50px 0;
    text-align: center;
}

div.protocols-contents h1 span {
    border-bottom: 5px solid #E8E8E8;
    padding: 0 0 10px;
}

div.protocols-contents h2 {
    border-bottom: 10px solid #4A89DC;
    color: #4A89DC;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.02em;
    margin: 50px 0 40px;
    padding: 0 0 10px;
    text-align: left;
}

div.protocols-contents h3 {
    color: #333333;
    display: block;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding: 0 0 5px;
    text-transform: uppercase;
}

div.protocols-content div.communications-toc h3 {
    padding: 30px 0;
}

div.protocols-contents h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

div.protocols-contents div.about h4,
div.protocols-contents div.participation-protocols h4,
div.protocols-contents div.documentation-top label {
    background: none repeat scroll 0 0 #c3d9ff;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    padding: 5px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #6b8abe;
    border-top: 1px solid #6b8abe;
    text-align: left;
    color: #333333;
}

div.protocols-contents h4.task-name,
div.protocols-contents h4.comm-context,
div.protocols-contents h4.checklist-title,
div.protocols-contents h4.name-employment {
    border-bottom: 5px solid #CCCCCC;
    font-size: 22px;
    font-weight: normal;
    line-height: 150%;
    margin: 0 0 15px;
    padding: 15px 0 10px;
    text-transform: uppercase;
}

div.protocols-contents div.expected-queries h4.task-name {
    border-bottom: none;
    margin: 0;
    padding: 15px 0 0 0px;
}

div.protocols-contents div.expected-queries div.triggered {
    border-top: 5px solid #CCCCCC;
    margin: 15px 0 0 0;
    padding: 10px 0 0 0;
}

/*
div.protocols-contents h5 {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 0 5px;
    text-transform: capitalize;
    line-height: 150%;
}
*/

div.protocols-contents div.contact h5 {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0 0;
    text-transform: capitalize;
    line-height: 150%;
}

/*
div.protocols-contents h6 {
    background: none repeat scroll 0 0 #E8E8E8;
    color: #999999;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: right;
    display: none;
}
*/

div.protocols-contents label,
div.protocols-contents h5,
div.protocols-contents h6 {
    color: #000000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 5px 0;
    text-transform: uppercase;
}

div.protocols-contents h5 {
    padding: 10px 0 15px;
}

div.protocols-contents label.sub-task {
	padding: 10px 0 20px;
}

div.protocols-contents label.eois-cont {
    color: #666666;
}

div.protocols-contents div.about,
div.protocols-contents div.participation-protocols,
div.protocols-contents div.documentation-top {
    background: #E8E8E8;
    border-left: 1px solid #6B8ABE;
    border-right: 1px solid #6B8ABE;
    display: block;
    padding: 0;
}

div.protocols-contents div.documentation-top {
    border-bottom: 1px solid #6B8ABE;
}

div.protocols-contents div.about table td {
    vertical-align: top;
}

div.protocols-contents div.participation-protocols p {
    display: block;
    padding: 10px;
    line-height: 150%;
}

/*
div.protocols-contents span.communicatedContext {
    font-weight: bold;
}
*/

/*
div.protocols-contents div.orgContact label,
div.protocols-contents div.employeeContacts label {
    display: block;
    font-weight: bold;
    padding: 10px 0 5px 0;
    text-transform: capitalize;
    text-decoration: underline;
}

div.protocols-contents div.employeeContacts label {
    padding: 0;
}

*/

div.protocols-contents div.name-employment {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 5px;
}

div.protocols-contents h4 span.participationList span {
    border-bottom: 2px solid #333333;
}

span.participationList {
    font-weight: bold;
}

div.protocols-contents div.org-contacts {
    margin: 0 0 40px;
}

div.protocols-contents div.employeeContacts {
    border-left: 5px solid #CCCCCC;
    margin: 0;
    padding: 0 0 15px 25px;
}

/*

div.protocols-contents div.orgContact {
    background: none repeat scroll 0 0 #E8E8E8;
    border-left: 5px solid #CCCCCC;
    float: left;
    padding: 12px 15px 15px;
    width: 711px;
}

div.protocols-contents div.orgContact h3 {
    padding: 5px 0 10px;
    font-size: 16px;
}

*/

div.protocols-contents div.directory-link {
    float: right;
    height: 37px;
    width: 37px;
    display: none;
}

div.protocols-contents div.supervisors,
div.protocols-contents div.work,
div.protocols-contents div.availability,
div.protocols-contents div.languages,
div.protocols-contents div.clearances {
    padding: 15px 0 10px;
}

div.protocols-contents div.availability div,
div.protocols-contents div.languages div,
div.protocols-contents div.clearances div {
    padding: 0 0 0 20px;
}


/*

div.protocols-contents div.availability {
    width: 170px;
}

div.protocols-contents div.clearances {
    border-right: none;
}

*/


/*
div.protocols-contents div.documentation-top {
	border-top: 1px solid #CCCCCC;
	float: left;
	font-size: 12px;
	line-height: 175%;
	margin: 15px 0 0;
	padding: 10px 0 0;
	width: 711px;
}
*/

div.protocols-contents div.goals div.goal-labels,
div.protocols-contents div.maxDelayContainer div,
div.protocols-contents div.category div,
div.protocols-contents div.instructions div,
div.protocols-contents div.location div,
div.protocols-contents div.impact-container div,
div.protocols-contents div.notify-container div,
div.protocols-contents div.failure-impact-container div {
	padding: 0 0 0 20px;
}

div.protocols-contents ul {
    margin: 5px 0 5px 20px;
    list-style: none;
}

div.protocols-contents ul li {
    padding: 0 0 5px;
}

div.protocols-contents div.contacts-container ul li {
    padding: 0 0 10px 0;
}

div.protocols-contents ul li ul li {
    padding: 0;
}

div.protocols-contents ul li label {
    padding: 5px 0px;
}

div.protocols-contents ul.toc-cont,
div.protocols-contents div.toc-cont {
    border-left: 5px solid #CCCCCC;
    padding: 15px 0 0 15px;
}

div.toc-trigger {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

div.protocols-contents ul.toc-cont a,
div.protocols-contents div.toc-cont a {
	border: none;
	color: #333333;
}

div.protocols-contents ul.askedYou,
div.protocols-contents ul.notifiedYou,
div.protocols-contents div.observations-toc ul,
div.protocols-contents div.ongoing-toc ul {
    list-style: none outside none;
    margin: 0;
}

div.protocols-contents div.ongoing-toc ul {
    padding-bottom: 5px;
}

div.protocols-contents ul.askedYou li,
div.protocols-contents ul.notifiedYou li,
div.protocols-contents div.observations-toc ul li,
div.protocols-contents div.ongoing-toc ul li {
    margin: 5px 0 0 0;
    line-height: 150%;
}

div.protocols-contents ul.askedYou li ul,
div.protocols-contents ul.notifiedYou li ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.protocols-contents div.observations-toc ul li ul {
    padding: 10px 0 0;
}

div.protocols-contents ul.askedYou li ul li,
div.protocols-contents ul.notifiedYou li ul li,
div.protocols-contents div.observations-toc ul li ul li,
div.protocols-contents div.ongoing-toc ul li {
    font-size: 13px;
    line-height: 150%;
    margin: 5px 0 5px 20px;
    padding: 0 0 5px;
}

div.protocols-contents ul.askedYou div,
div.protocols-contents ul.notifiedYou div {
    padding: 0 0 5px 25px;
}


div.protocols-contents span.task-name {

}

div.protocols-contents div.interlocutors {
    padding: 0 0 10px;
}

div.protocols-contents div.interlocutors ul li,
div.protocols-contents div.observations-toc ul li {
    font-weight: bold;
    font-size: 13px;
}

div.protocols-contents div.interlocutors ul li ul li a,
div.protocols-contents div.observations-toc ul li ul li a,
div.protocols-contents div.ongoing-toc ul li a {
    font-weight: normal;
    color: #333333;
}

div.protocols-contents div.interlocutors ul li ul li a:hover,
div.protocols-contents div.observations-toc ul li ul li a:hover,
div.protocols-contents div.ongoing-toc ul li a:hover {
    font-weight: normal;
    color: #666666;
}

div.protocols-contents div.interlocutors a {
    font-weight: bold;
}

div.protocols-contents div.interlocutors h4 {
    border-top: 1px solid #e8e8e8;
    padding: 15px 0 0;
}

div.protocols-contents div.ongoing-toc h3,
div.protocols-contents div.observations-toc h3,
div.protocols-contents div.communications-toc h3 {
    background: none repeat scroll 0 0 #D4E3F5;
    border-left: 5px solid #A1C1E6;
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    margin: 30px 0 0;
    padding: 10px 0 10px 15px;
}

/*
div.protocols-contents div.ongoing-toc h3 {
    padding-top: 0;
}
*/

div.protocols-contents div.triggered div.procedures,
div.protocols-contents div.ongoingProcedures,
div.protocols-contents div.communications-toc div.toc-cont {
    border-left: 5px solid #CCCCCC;
    margin: 0 0 40px;
    padding: 0 0 15px 25px;
}

div.protocols-contents div.communications-toc div.toc-cont {
    margin: 0;
    padding-bottom: 0;
}

div.protocols-contents div.triggered div.trigger,
div.protocols-contents div.orgContact {
    background: none repeat scroll 0 0 #D4E3F5;
    border-left: 5px solid #A1C1E6;
    padding: 15px 25px 10px;
}

div.protocols-contents div.triggered h5.notify {
    background: none repeat scroll 0 0 #999999;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #FFFFFF;
    font-size: 10px;
    margin: 10px 0 10px;
    padding: 3px 10px;
    text-transform: uppercase;
}

div.protocols-contents div.triggered h5 span.information,
div.protocols-contents div.triggered h5 span.situation,
div.protocols-contents div.triggered h5 span.scenario {

}

div.protocols-contents span.impact {
    background: none repeat scroll 0 0 #CCCCCC;
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;
    color: #333333;
    display: block;
    font-size: 11px;
    padding: 5px 7px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

div.protocols-contents div.contact {
    background: none repeat scroll 0 0 #E8E8E8;
    border-left: 5px solid #CCCCCC;
    margin: 5px 0 20px;
    padding: 10px 10px 13px;
}

div.protocols-contents div.contact label {
    padding-top: 10px;
}

div.protocols-contents a.contact-link {
    border-bottom: 1px dotted #000000;
    font-weight: normal;
}

div.protocols-contents div.interlocutors a.contact-link {
	border: none;
}

div.protocols-contents div.work-contact,
div.protocols-contents div.personal-contact {
    padding: 10px 0 0;
}

div.protocols-contents div.work-contact span.label,
div.protocols-contents div.personal-contact span.label {
    margin: 0 13px 0 0;
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

div.protocols-contents span.addressesContainer {
    font-size: 12px;
    text-transform: uppercase;
}

div.protocols-contents span.addresses {
    border-right: 1px solid #999999;
    margin: 0 13px 0 0;
    padding: 0 10px 0 0;
}

div.protocols-contents span.addresses:last-child {
    border-right: none;
}

div.protocols-contents span.addresses a {
    font-weight: normal;
}

div.protocols-contents div.maxDelayContainer,
div.protocols-contents div.onFailure,
div.protocols-contents div.eoisContainer,
div.protocols-contents div.allInstructions,
div.protocols-contents div.bypassContactsContainer,
div.protocols-contents div.instructions,
div.protocols-contents div.category,
div.protocols-contents div.location,
div.protocols-contents div.goals,
div.protocols-contents div.teammates,
div.protocols-contents div.failureImpact,
div.protocols-contents div.research-followup-task,
div.protocols-contents div.contacts-container,
div.protocols-contents div.media-container,
div.protocols-contents div.documentation
div.protocols-contents div.impact-container,
div.protocols-contents div.notify-container,
div.protocols-contents div.failure-impact-container,
div.protocols-contents div.step-constraint {
    padding: 15px 0 10px;
}

div.protocols-contents div.impact-container,
div.protocols-contents div.notify-container {
	padding: 15px 0;
}

div.protocols-contents div.eoisContainer table {
    border-collapse: collapse;
    margin: 10px 0 0;
    width: 100%;
    font-size: 11px;
}

div.protocols-contents div.eoisContainer table tr th {
    padding: 5px 0;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
}

div.protocols-contents div.eoisContainer table tr td {
    border-bottom: 1px solid #DDDDDD;
    padding: 5px 0;
}

div.protocols-contents div.eoisContainer table ul {
    margin: 0;
}

div.protocols-contents div.research-followup-task a {
    font-weight: normal;
}

div.protocols-contents div.bypassContactsContainer {
    padding: 5px 0 0 5px;
}

div.protocols-contents div.bypassContactsContainer div.contact {
    background: #dcdcdc;
    margin: 20px 0 10px;
}

div.protocols-contents div.contactsContainer {
    padding: 15px 0 0 0;
}

div.protocols-contents div.eois-contacts-cont,
div.protocols-contents div.org-contact-details {
    color: #666666;
    font-size: 11px;
    line-height: 150%;
    padding: 0 0 5px;
    text-transform: capitalize;
}

div.protocols-contents div.eois-contacts-cont a {
    color: #666666;
    border: none;
}

div.protocols-contents div.eoisContainer-direct,
div.protocols-contents div.contactsContainer-direct {
    font-size: 12px;
    line-height: 150%;
    margin-right: 20px;
    padding: 0 0 12px;
}

div.protocols-contents div.contactsContainer-direct span.anyOf {
    text-transform: capitalize;
}

div.protocols-contents div.contactsContainer-direct a.contact-link {

}

div.protocols-contents div.failureImpact-small {
    background: none repeat scroll 0 0 #E8E8E8;
    border-left: 5px solid #929498;
    font-style: italic;
    margin: 15px 0 10px;
    padding: 10px;
}

div.protocols-contents div.failureImpact-small.extreme {
    border-left: 5px solid #ff8c73;
}

div.protocols-contents div.failureImpact-small.major {
    border-left: 5px solid #ffe27b;
}

div.protocols-contents div.failureImpact-small.minor {
    border-left: 5px solid #7ac4f1;
}

div.protocols-contents div.failureImpact-small.severe {
    border-left: 5px solid #ffb658;
}

div.protocols-contents div.failureImpact-small.none {
    border-left: 5px solid #929498;
}

div.protocols-contents div.failureImpact-small span {
    font-weight: bold;
}

div.protocols-contents div.failure-impact span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

div.documentation-top ul {
    margin: 2px 0 2px 10px;
    padding: 10px 0 0;
}

div.documentation-top ul li {
    padding: 0 0 10px;
}

div.documentation-top label {
    border: medium none;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    padding: 5px 0 0;
    text-align: center;
    text-transform: uppercase;
}

/* added by JF */

.eoi-question, .eoi-description {
    font-style: italic;
}

/* ----- Checklist ----- */


.checklist .data-table {
	font-size: 13px;
}

div.checklist-step-title {
    background: none repeat scroll 0 0 #E8E8E8;
    border-left: 5px solid #E8E8E8;
    font-style: normal;
    margin: 15px 0 10px;
    padding: 10px;
    height: 19px;
}

div.checklist-step-title.active {
	background: none repeat scroll 0 0 #D4E3F5;	
	border-left: 5px solid #A1C1E6;
}

table.checklist-step-constraints,
table.checklist-step-outcomes {
	border-collapse: collapse;
}

.checklist span.checklist-confirmed,
.checklist a.checklist-flowmap,
.checklist a.more,
.checklist div.feedback a.feedback-button,
.protocols-contents div.feedback a.feedback-button {
    color: #000000;
    float: right;
    font-size: 10px;
    line-height: 100%;
    margin: 10px 10px 0 0;
    padding: 3px 5px 4px;
    text-transform: uppercase;
    font-weight: normal;
    border: none;
    cursor: pointer;
}

.checklist div.feedback a.feedback-button,
.protocols-contents div.feedback a.feedback-button {
    font-family: Arial,Helvetica,sans-serif;
    outline: none;
    background: none;
    border: 1px solid #4A89DC;
    color: #4A89DC;
}

.checklist div.feedback div.feedback-form-cont,
.protocols-contents div.feedback div.feedback-form-cont {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #4A89DC;
    display: block;
    font-size: 11px;
    margin: 27px 0 0;
    padding: 10px;
    position: absolute;
    line-height: 100%;
    text-transform: none;
}

.checklist span.checklist-confirmed {
    border: 1px solid #E9573F;
    color: #E9573F;
    cursor: default;
}

.checklist a.more,
.checklist a.checklist-flowmap {
    background: none;
    border: 1px solid #4A89DC;
    color: #4A89DC;
}

.checklist a.more {
	margin: 0;
}

.checklist .checklist-step-title div.feedback a.feedback-button {
	margin: 0 0 0 10px;
}

.checklist .checklist-step-title div.feedback div.feedback-form-cont {
	margin: 17px 0 0 10px;
}

div.protocols-contents div.expected-queries a.more {
	margin: 10px 10px 0 0;
}

.checklist a.more:hover,
.checklist a.checklist-flowmap:hover,
.checklist div.feedback a.feedback-button:hover,
.protocols-contents div.feedback a.feedback-button:hover {
    background: none repeat scroll 0 0 #5D9CEC;
    border: 1px solid #4A89DC;
    color: #FFFFFF;
}

/* - Unknown - Start */

.checklist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.checklist .step th {
    vertical-align: top;
    padding-top: 3px;
    padding-right: 5px;
    font-weight: bold;
}

.checklist .step .step-constraint {
    height: 2em;
}

/* - Unknown - End */


.checklist .checklist-step-title .step-act {
    display: block;
    float: left;
    padding: 3px 0 1px 25px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.checklist .checklist-step-title .step-act.optional {
    background: url('../../../images/checkbox_optional.png') no-repeat 0 2px;
}

.checklist .checklist-step-title .step-act.required {
    background: url("../../../images/checkbox_required.png") no-repeat 0 2px;
}

.checklist .checklist-step-details {
    border-left: 5px solid #A1C1E6;
    margin: -10px 0 0 0;
    padding: 10px 15px 0;
    background: #eef0f9;
}


/* queries */

div.protocols-content div.expected-queries h3 {
    padding: 30px 0;
}

/* checklist flow */
.checklist-flow-icon {
    vertical-align: middle;
    cursor: pointer;
    padding-left: 5px;
}

.checklist-flow {
    overflow: auto;
    margin-bottom: 15px;
}




