/* ----- Protocols Styling ----- */

div.protocols-contents a {
	border-bottom: 1px dotted #333333;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

div.protocols-contents h1 {
	color: #333333;
	font-family: Georgia;
	font-size: 34px;
	letter-spacing: -1px;
	text-align: center;
	padding: 20px 0 15px;
	font-weight: normal;
}

div.protocols-contents h1 span {
	text-decoration: underline;
}

div.protocols-contents h2 {
	border-bottom: 2px solid #666666;
	color: #333333;
	font-family: Georgia;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 0;
	margin: 50px 0 10px;
	text-align: left;
	text-transform: capitalize;
}

div.protocols-contents h3 {
	color: #000000;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 40px 0 10px;
	text-decoration: underline;
	text-transform: uppercase;
}

div.protocols-content div.communications-toc h3 {
	padding: 30px 0;
}

div.protocols-contents h4 {
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
}

div.protocols-contents div.about h4,
div.protocols-contents div.participation h4 {
border: medium none;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    padding: 5px 0 0;
    text-align: center;
    text-transform: uppercase;
}

div.protocols-contents h4.taskName {
border-bottom: 1px dotted #000000;
    display: inline;
    font-family: Georgia;
    font-size: 22px;
    font-style: oblique;
    font-weight: normal;
    line-height: 150%;
    text-transform: none;	
}

div.protocols-contents h5 {
color: #333333;
    display: block;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 7px 0 5px;
    text-transform: uppercase;
}

div.protocols-contents div.contact h5 {
	padding: 5px 0 0;
}

div.protocols-contents h6 {
	background: none repeat scroll 0 0 #E8E8E8;
    color: #999999;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: right;
}

div.protocols-contents label {
color: #000000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 25px 0 5px;
    text-transform: uppercase;
}

div.protocols-contents div.about {
	padding: 20px 0;
	display: block;
}

div.protocols-contents div.participation {
	padding: 0 0 20px 0;
	display: block;
}

div.protocols-contents span.communicatedContext {
	font-weight: bold;
	font-style: italic;
}

div.protocols-contents div.orgContact label,
div.protocols-contents div.employeeContacts label {
    display: block;
    font-weight: bold;
    padding: 10px 0 5px 0;
    text-transform: capitalize;
    text-decoration: underline;
}

div.protocols-contents div.employeeContacts label {
	padding: 0;
}

div.protocols-contents div.name-employment {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 5px;
}

div.protocols-contents h4 span.participationList span {
	border-bottom: 2px solid #333333;
}

div.protocols-contents div.employeeContacts {
background: none repeat scroll 0 0 #E8E8E8;
    border-left: 5px solid #CCCCCC;
    float: left;
    margin: 20px 0 0;
    padding: 12px 15px 15px;
    width: 731px;
}

div.protocols-contents div.orgContact {
	float: left;
	width: 731px;
}

div.protocols-contents div.directory-link {
	float: right;
	height: 37px;
	width: 37px;
	display: none;
}

div.protocols-contents div.work,
div.protocols-contents div.availability,
div.protocols-contents div.languages,
div.protocols-contents div.clearances {
border-right: 1px solid #CCCCCC;
    float: left;
    font-size: 12px;
    line-height: 175%;
    margin: 10px 20px 0 0;
    min-height: 70px;
    padding: 0 10px 0 0;
    width: 141px;
}

div.protocols-contents div.availability {
	width: 170px;
}

div.protocols-contents div.employeeContacts div div:last-child {
	border-right: none;
}

div.protocols-contents ul {
	margin: 0 0 0 20px;
}

div.protocols-contents ul li {
	padding: 0 0 5px;
}

div.protocols-contents ul li label {
	padding: 5px 0px;
}

div.protocols-contents ul.askedYou,
div.protocols-contents ul.notifiedYou,
div.protocols-contents div.observations-toc ul {
	list-style: square outside none;
	margin: 0;
}

div.protocols-contents ul.askedYou li,
div.protocols-contents ul.notifiedYou li,
div.protocols-contents div.observations-toc ul li {
	margin: 5px 0 0 25px;
}

div.protocols-contents ul.askedYou li ul,
div.protocols-contents ul.notifiedYou li ul,
div.protocols-contents div.observations-toc ul li ul {
	list-style: circle outside none;
	padding: 5px 0 0;
	margin: 0;
}

div.protocols-contents ul.askedYou li ul li,
div.protocols-contents ul.notifiedYou li ul li,
div.protocols-contents div.observations-toc ul li ul li {
	margin: 5px 0 15px 25px;
}

div.protocols-contents div.interlocutors {
padding: 0 0 10px;
}

div.protocols-contents div.interlocutors h4 {
border-top: 1px solid #e8e8e8;
    padding: 15px 0 0;
}

div.protocols-contents div.communications-toc h3 {
	padding: 30px 0 20px 0;
}

div.protocols-contents div.triggered div.procedures,
div.protocols-contents div.ongoingProcedures {
border-left: 5px solid #E8E8E8;
    margin: 40px 0 40px 10px;
    padding: 0 0 10px 25px;
}

div.protocols-contents div.triggered h5.notify {
border-top: 5px solid #E8E8E8;
    font-size: 16px;
    margin-top: 30px;
    padding-top: 30px;
}

div.protocols-contents div.triggered h5 span.information,
div.protocols-contents div.triggered h5 span.situation,
div.protocols-contents div.triggered h5 span.scenario {
	text-decoration: underline;
}

div.protocols-contents div.contact {
background: none repeat scroll 0 0 #E8E8E8;
    border-left: 5px solid #CCCCCC;
    margin: 5px 0 20px;
    padding: 7px 10px 10px;
}

div.protocols-contents div.contact label {
	padding-top: 10px;
}
