/* ----- Protocols Styling ----- */

div.protocols-contents div.about {
	padding: 20px 0;
	display: block;
}

div.protocols-contents h1 {
	color: #333333;
	font-family: Georgia;
	font-size: 34px;
	letter-spacing: -1px;
	text-align: center;
	padding: 20px 0 15px;
	font-weight: normal;
}

div.protocols-contents h1 span {
	text-decoration: underline;
}

div.protocols-contents h2 {
	border-bottom: 2px solid #666666;
	color: #333333;
	font-family: Georgia;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 0;
	margin: 50px 0 10px;
	text-align: left;
	text-transform: capitalize;
}

div.protocols-contents h3 {
	color: #000000;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 40px 0 5px;
	text-decoration: underline;
	text-transform: uppercase;
}

div.protocols-contents h4 {
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
}

div.protocols-contents div.about h4,
div.protocols-contents div.participation h4 {
border: medium none;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    padding: 5px 0 0;
    text-align: center;
    text-transform: uppercase;
}

div.protocols-contents h5 {
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 5px;
    padding: 5px 0 10px;
    text-transform: uppercase;
}

div.protocols-contents h6 {
	border-right: 5px solid #CCCCCC;
	color: #999999;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0 15px;
	padding: 2px 5px;
	text-align: right;
}

label {
    display: block;
    font-weight: bold;
    padding: 10px 0 5px 0;
    text-transform: capitalize;
    text-decoration: underline;
}

div.employeeContacts label {
	padding: 0;
}

div.protocols-contents h4 span.participationList span {
	border-bottom: 2px solid #333333;
}

div.employeeContacts {
background: none repeat scroll 0 0 #E8E8E8;
    border-left: 5px solid #CCCCCC;
    float: left;
    margin: 20px 0 0;
    padding: 12px 15px 15px;
    width: 731px;
}

div.orgContact {
	float: left;
	width: 731px;
}

div.protocols-contents div.directory-link {
	float: right;
	height: 37px;
	width: 37px;
	display: none;
}

div.work,
div.personal,
div.availability,
div.languages,
div.clearences,
div.supervisors {
border-right: 1px solid #CCCCCC;
    float: left;
    font-size: 12px;
    line-height: 175%;
    margin: 10px 20px 0 0;
    min-height: 70px;
    padding: 0 10px 0 0;
    width: 141px;
}

div.employeeContacts div div:last-child {
	border-right: none;
}

/*

div.triggered {
border-left: 5px solid #CCCCCC;
    font-size: 12px;
    margin: 10px 0 40px;
    padding: 0 0 0 15px;
}

div.triggered label {
border-bottom: 1px solid #CCCCCC;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

*/