<?xml version="1.0" encoding="UTF-8"?>
<module>
    <!--
     ***********
     Mind-Alliance Metamodel Module
     ***********
     -->
    <identity>
        <uri>urn:com:mindalliance:channels:metamodel</uri>
        <version>0.0.1</version>
    </identity>
    <info>
        <name>Mind-Alliance Metamodel Module</name>
        <description>A module containing the Channels metamodel classes and named queries</description>
        <dynamic/>
    </info>
    <publisher>
        <name>Mind-Alliance, Inc.</name>
        <uri>http://www.mindalliance.com</uri>
    </publisher>
    <export>
        <uri>
            <match>ffcpl:/com/mindalliance/channels/metamodel/.*</match>
            <match>channels_query:\+.*</match>
            <match>ffcpl:/entrypoints.xml</match>
        </uri>
        <class>
            <match>com\.mindalliance\.channels\.metamodel\..*</match>
        </class>
    </export>
    <rewrite>
        <rule> <!-- xdoc -->
            <match>ffcpl:/com/mindalliance/channels/metamodel/doc/(.*\.xml)</match>
            <to>doc:/resources/doc/$1</to>
        </rule>
    </rewrite>
    <mapping>
        <rewrite>
            <match>ffcpl:/com/mindalliance/channels/metamodel/(.*)</match>
            <to>ffcpl:/resources/$1</to>
        </rewrite>
        <rewrite>
            <match>doc:(.*)</match>
            <to>active:doc-generate+operand@ffcpl:$1</to>
        </rewrite>
        <rewrite>
            <match>channels_query:(.*)</match>
            <to>ffcpl:/resources/queries/$1</to>
        </rewrite>
        <this>
            <match>ffcpl:/entrypoints.xml</match>
            <match>ffcpl:/etc/.*</match>
        </this>
        <this>
            <match>ffcpl:/resources/.*</match>
        </this>
        <import>
            <uri>urn:org:ten60:netkernel:ext:session</uri>
        </import>
        <import>
            <uri>urn:com:mindalliance:channels:support</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:script</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:sys</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:xml:core</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:layer1</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:mod:docxter</uri>
        </import>
        <super/>
    </mapping>
</module>