#banner {
	background-color: rgb(200,192,209);
}

#breadcrumbs, #leftColumn, h2 {
	border-color: rgb(137,171,108);
	background-color: rgb(196,213,182);
}

#navcolumn h5 {
	border-bottom-color: rgb(76,128,33);
        margin-bottom: 2px;
}

a:link, a:visited {
	color: rgb(76,128,33);
}

h2 {
	margin-top: 0px;
}

#contentBox {
	margin-top: 6px;
}
