<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <h3>Secrecy classifications for this plan</h3>
    <span wicket:id="editor">[classifications editor panel]</span>
    <div wicket:id="indexContainer">
        <h4>
            References to <span wicket:id="classification">US Gov/Secret</span>
        </h4>
        <span wicket:id="index">[classification index panel]</span>
    </div>
</wicket:panel>
</body>
</html>