<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <div class="eois">
        <div class="float-header">
            <h1>
                Elements of information
                <a wicket:id="done" class="close" href="#">Done</a>
            </h1>
        </div>
        <div class="aspect">
            <table>
                <tr>
                    <td>
                        <h3 class="large">
                            <span>
							In <span wicket:id="flowType">need for</span>
                            &quot;<span wicket:id="flowName">Flow name</span>&quot;
                            <span wicket:id="source">by actor X</span>
                            <span wicket:id="target">with actor Y</span>
							</span>
                       </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="data-table" wicket:id="eoisContainer">
                            <thead>
                                <tr class="headers">
                                    <td><a wicket:id="autoPopulate" href="#">
                                            <img border="0" src="images/magic.png" alt="auto-populate" title="Click to auto-populate elements"/>
                                        </a></td>
                                    <td>Content</td>
                                    <td wicket:id="timeSensitivityContainer">Time-sensitive</td>
                                    <td wicket:id="classificationsHeaderContainer">
										<span class="floatl">Classifications&nbsp;</span>
                                        <a class="floatl" wicket:id="linkClassifications" href="#">
                                            <img border="0" src="images/link.png" valign="middle" alt="link" title="Make classifications the same for all. Click to make them independent."/>
                                        </a>
                                        <a wicket:id="unlinkClassifications" href="#">
                                            <img border="0" src="images/link_broken.png" valign="middle" alt="unlink" title="Independent classifications. Click for all elements to have the same classification."/>
                                        </a>
                                    </td>
                                    <td wicket:id="descriptionHeaderContainer">Description</td>
                                    <td wicket:id="handlingHeaderContainer">Special handling</td>
                                    <td wicket:id="transformationHeaderContainer">Transformation</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </thead>
                            <tr wicket:id="eois">
                                <td><input wicket:id="confirmed" type="checkbox" title="Uncheck to remove the element"/></td>
                                <td><input wicket:id="content" size="40"/></td>
                                <td wicket:id="timeSensitiveContainer"><input wicket:id="timeSensitive" type="checkbox" title="Whether the EOI is time-sensitive"/></td>
                                <td wicket:id="classificationsContainer"><span wicket:id="classifications">[classifications panel]</span></td>
                                <td wicket:id="descriptionContainer"><textarea wicket:id="description" rows="1" cols="20">description</textarea></td>
                                <td wicket:id="handlingContainer"><textarea wicket:id="specialHandling" rows="1" cols="20">handling</textarea></td>
                                <td wicket:id="transformationContainer"><span wicket:id="transformation">[transformation panel]</span></td>
                                <td wicket:id="traceContainer"><a class="window" wicket:id="trace" href="#">Trace</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="5"><a class="window" wicket:id="classifications" href="#">Edit the classification systems</a></td>
                </tr>
             </table>

        </div>
    </div>
</wicket:extend>
</body>
</html>