<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div wicket:id="referencesVsMatches" class="filters">
        Show <input wicket:id="references" type="checkbox"/> references
        <input wicket:id="matches" type="checkbox"/> matches
    </div>
    <span wicket:id="index">[index panel]</span>
</wicket:panel>
</body>
</html>
