<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:extend>
    <tr>
        <td colspan="2">
            <a wicket:id="more-link" href="#" title="Show more" class="more"><span wicket:id="moreOrLess">more</span></a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <span wicket:id="performersContainer">
                <h3>
                    <span>Who performs this role</span>
                    <div>&nbsp;</div>
                </h3>
                <div class="filters">
                    Index on
                    <select wicket:id="indexed">
                        <option>Agents</option>
                    </select>
                    <span wicket:id="nameRanges">[name range panel]</span>
                </div>
                <div>
                    <span wicket:id="roleEmployments">[role employments panel]</span>
                </div>
            </span>
        </td>
    </tr>
</wicket:extend>
</body>
</html>
