<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<body>
<wicket:panel>
    <div wicket:id="supervisorParticipationConfirmations" class="participation">
        <h4>I confirm that I supervise</h4>
        <div>
            <ul>
                <li wicket:id="participationConfirmations">
                    <input wicket:id="confirmed" type="checkbox"/>
                    <span wicket:id="user">John Doe</span> (<span wicket:id="email">jdoe@email.com</span>)
                    as <span wicket:id="agent">agent</span>
                </li>
            </ul>
        </div>
    </div>

</wicket:panel>
</body>
</html>